<section class="css-reference">
  <p>For details on infotip and related guidelines, refer to the <a href="#/styles/{{theme}}/{{version}}/0cc7f2c3-4690-4f66-89b9-33ab469e8b5f">Tooltips</a>.</p>

  <h5>Infotip toggle</h5>
  <pre>
    <style data-selector="form .tmicon-info-o"></style>
  </pre>
  <pre data-title="Beside Input Field">
    <style data-selector=".form-group .tmicon-info-o"></style>
  </pre>
</section>

<section class="form-helptext-example">
  <p>An infotip should be placed immediately next to the item that it describes. For example, when an infotip explains a label, the infotip icon should appear next to the label; when the infotip explains how users should interact with a control, the infotip icon should be next to the control.</p>
	<div class="form-example">
		<form class="form-horizontal" action="javascript:void(0)">
			<fieldset>
			  <legend>
			  	Group title<span class="tmicon tmicon-info-o tmicon-light tmicon-hoverable" data-toggle="tooltip" data-placement="right" data-template="&lt;div class=&apos;tooltip right&apos; role=&apos;tooltip&apos;&gt;&lt;div class=&apos;tooltip-inner tooltip-inner-light&apos;&gt;&lt;/div&gt;&lt;/div&gt;" title="Lorem ipsum dolor sit amet, consectetur adipicing
				Adipisci facere eligendi reiciendis obcaecati."></span>
			  </legend>

			  <div class="form-group">
			    <label class="control-label" for="normalInput">Text input:</label>
			    <div class="control-wrapper">
			    	<input type="text" class="form-control" id="normalInput">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label" for="placeholderInput">Text label:</label>
			    <div class="control-wrapper">
			    	<input type="text" class="form-control" id="placeholderInput" placeholder="Placeholder">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label" for="normalInput2">Text input:</label>
			    <div class="control-wrapper">
			    	<input type="text" class="form-control" id="normalInput2">
			    </div>
			    <span class="tmicon tmicon-info-o tmicon-light tmicon-hoverable" data-toggle="tooltip" data-placement="right" data-template="&lt;div class=&apos;tooltip right&apos; role=&apos;tooltip&apos;&gt;&lt;div class=&apos;tooltip-inner tooltip-inner-light&apos;&gt;&lt;/div&gt;&lt;/div&gt;" title="Lorem ipsum dolor sit amet, consectetur adipicing
				Adipisci facere eligendi reiciendis obcaecati."></span>
			  </div>
		  	</fieldset>
		</form>
	</div>
</section>