<section class="css-reference">
  <p>For details about popover, refer to <a href="#/styles/{{theme}}/{{version}}/24bb5a2d-2d61-49a9-a4dd-4bdc57c87c0a">Popovers</a>.</p>

  <h5>Popover help under input fields</h5>
  <pre>
    <style data-selector=".form-group .popover-example.bottom-right"></style>
  </pre>
</section>

<section class="form-helptext-example">
  <p>A form can be difficult to read if it contains too much text. Use popovers that only appear when the corresponding fields are focused to reduce the amount of text.</p>
	<form class="form-horizontal" action="javascript:void(0)">
	  <div class="form-group">
	    <label class="control-label" for="popoverhelpInput">Text label:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-focus" id="popoverhelpInput" autocomplete="off">
	    	<div class="popover bottom-right popover-example">
				<div class="arrow"></div>
				<div class="popover-content lists-unordered">
          At least 8 characters consisting of :
					<ul style="margin-bottom: 0;">
						<li>Alphanumeric characters (A-Z, a-z, 0-9) with both upper and lower case letters and number characters.</li>
						<li>At least one special character, e.g.  ` ~ ! @ # $ % ^ &amp; * ( ) - _ + = [ ]{ } \ |&lt; &gt; , . / ? : ; &apos; &quot;</li>
					</ul>
				</div>
			</div>
		</div>
	  </div>
	</form>
</section>