<section class="css-reference">
  <h5>Check Boxes</h5>
  <pre>
    <style data-selector=".tree-node-checkbox"></style>
  </pre>
</section>

<section>
  <p>For single/multi-selection tree view, place a check box next to each tree node.</p>

  <div class="tree" data-selectable="true" style="width: 320px;" role="tree">
    <div class="tree-nodes tree-nodes-level-1" role="group">
      <div class="tree-node tree-node-expandable tree-node-expanded" data-level="1">
        <div class="tree-node-label">
          <button class="tree-node-expand-button">
            <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
          </button>

          <div class="form-check tree-node-checkbox">
            <input type="checkbox" id="tree-3-option-1" class="checkbox-partial">
            <label for="tree-3-option-1"></label>
          </div>

          <span class="tree-node-text">Group 1</span>
        </div>

        <div class="tree-nodes tree-nodes-level-2" role="group">
          <div class="tree-node tree-node-expandable tree-node-expanded" data-level="2">
            <div class="tree-node-label">
              <button class="tree-node-expand-button">
                <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
              </button>

              <div class="form-check tree-node-checkbox">
                <input type="checkbox" id="tree-3-option-2" class="checkbox-partial">
                <label for="tree-3-option-2"></label>
              </div>

              <span class="tree-node-text">Asia</span>
            </div>

            <div class="tree-nodes tree-nodes-level-3" role="group">
              <div class="tree-node tree-node-expandable tree-node-expanded" data-level="3">
                <div class="tree-node-label">
                  <button class="tree-node-expand-button">
                    <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
                  </button>

                  <div class="form-check tree-node-checkbox">
                    <input type="checkbox" id="tree-3-option-3" checked>
                    <label for="tree-3-option-3"></label>
                  </div>

                  <span class="tree-node-text">Taiwan</span>
                </div>

                <div class="tree-nodes tree-nodes-level-4" role="group">
                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-4" checked>
                        <label for="tree-3-option-4"></label>
                      </div>

                      <span class="tree-node-text">DDI-Taipei</span>
                    </div>
                  </div>

                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-5" checked>
                        <label for="tree-3-option-5"></label>
                      </div>

                      <span class="tree-node-text">DDI-Taichung</span>
                    </div>
                  </div>

                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-6" checked>
                        <label for="tree-3-option-6"></label>
                      </div>

                      <span class="tree-node-text">Repo-Kaohsiung</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tree-node tree-node-expandable tree-node-expanded" data-level="3">
                <div class="tree-node-label">
                  <button class="tree-node-expand-button">
                    <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
                  </button>

                  <div class="form-check tree-node-checkbox">
                    <input type="checkbox" id="tree-3-option-7">
                    <label for="tree-3-option-7"></label>
                  </div>

                  <span class="tree-node-text">Janpan</span>
                </div>

                <div class="tree-nodes tree-nodes-level-4" role="group">
                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-8">
                        <label for="tree-3-option-8"></label>
                      </div>

                      <span class="tree-node-text">DDI-Tokyo</span>
                    </div>
                  </div>

                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-9">
                        <label for="tree-3-option-9"></label>
                      </div>

                      <span class="tree-node-text">DDI-Okinawa</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tree-node" data-level="3">
                <div class="tree-node-label">
                  <div class="form-check tree-node-checkbox">
                    <input type="checkbox" id="tree-3-option-10">
                    <label for="tree-3-option-10"></label>
                  </div>

                  <span class="tree-node-text">Master01-Singapore</span>
                </div>
              </div>
            </div>
          </div>

          <div class="tree-node tree-node-expandable" data-level="2">
            <div class="tree-node-label">
              <button class="tree-node-expand-button">
                <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
              </button>

              <div class="form-check tree-node-checkbox">
                <input type="checkbox" id="tree-3-option-11">
                <label for="tree-3-option-11"></label>
              </div>

              <span class="tree-node-text">Europe</span>
            </div>

            <div class="tree-nodes tree-nodes-level-3" role="group">
              <div class="tree-node tree-node-expandable" data-level="3">
                <div class="tree-node-label">
                  <button class="tree-node-expand-button">
                    <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
                  </button>

                  <div class="form-check tree-node-checkbox">
                    <input type="checkbox" id="tree-3-option-12">
                    <label for="tree-3-option-12"></label>
                  </div>

                  <span class="tree-node-text">Germany</span>
                </div>

                <div class="tree-nodes tree-nodes-level-4" role="group">
                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-13">
                        <label for="tree-3-option-13"></label>
                      </div>

                      <span class="tree-node-text">DDI-Berlin</span>
                    </div>
                  </div>

                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-14">
                        <label for="tree-3-option-14"></label>
                      </div>

                      <span class="tree-node-text">DDI-Munich</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tree-node tree-node-expandable" data-level="3">
                <div class="tree-node-label">
                  <button class="tree-node-expand-button">
                    <span class="tmicon tmicon-caret-right tmicon-hoverable tree-node-expand-icon"></span>
                  </button>

                  <div class="form-check tree-node-checkbox">
                    <input type="checkbox" id="tree-3-option-15">
                    <label for="tree-3-option-15"></label>
                  </div>

                  <span class="tree-node-text">Spain</span>
                </div>

                <div class="tree-nodes tree-nodes-level-4" role="group">
                  <div class="tree-node" data-level="4">
                    <div class="tree-node-label">
                      <div class="form-check tree-node-checkbox">
                        <input type="checkbox" id="tree-3-option-16">
                        <label for="tree-3-option-16"></label>
                      </div>

                      <span class="tree-node-text">DDI-Madrid</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tree-node" data-level="3">
                <div class="tree-node-label">
                  <div class="form-check tree-node-checkbox">
                    <input type="checkbox" id="tree-3-option-17">
                    <label for="tree-3-option-17"></label>
                  </div>

                  <span class="tree-node-text">DDI-Italy</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tree-node" data-level="1">
        <div class="tree-node-label">
          <div class="form-check tree-node-checkbox">
            <input type="checkbox" id="tree-3-option-18">
            <label for="tree-3-option-18"></label>
          </div>

          <span class="tree-node-text">Group 2</span>
        </div>
      </div>
    </div>
  </div>
</section>