<section class="css-reference">
  <p>Use the length of the label text as the <code data-tag="label"></code> width.</p>
</section>

<section class="form-layout-example form-layout-label-example">
	<p>Put field labels above or in front of the fields as required.</p>
  <div class="lists-unordered">
		<ul>
			<li>Use sentence capitalization.</li>
			<li>Field labels within a form should be consistent in style -- that they are either above or in front of the fields.</li>
		</ul>
	</div>
	<div class="example">
		<form action="javascript:void(0)">
		  <div class="form-group">
		    <label class="control-label" for="normalInput">A stacked label:</label>
		    <input type="text" class="form-control input-width-lg" id="normalInput">
		  </div>
		</form>
	</div>
	<div class="example">
		<form class="form-horizontal" action="javascript:void(0)">
		  <div class="form-group">
		    <label class="control-label" for="normalInput">An inline label:</label>
		    <div class="control-wrapper">
		    	<input type="text" class="form-control input-width-lg" id="normalInput">
		    </div>
		  </div>
		</form>
	</div>
</section>