<section class="css-reference">
  <h5>Block level button</h5>
  <p>Use Large Buttons to create full-width buttons.</p>
  <pre>
    <style data-selector=".btn-block"></style>
  </pre>
  <pre data-title="More than one full-width buttons">
    <style data-selector=".btn-block + .btn-block"></style>
  </pre>
</section>

<section class="buttons-full-with-example">
  <p>
		<button class="btn btn-default btn-lg btn-block">Full-width Buttons</button>
	</p>
	<p>
		<button class="btn btn-primary btn-lg btn-block">Full-width Buttons</button>
	</p>
	<p>
		<button class="btn btn-danger btn-lg btn-block">Full-width Buttons</button>
	</p>
</section>