<section class="css-reference">
  <h5>Group class</h5>
  <p>Create a class to define a group for buttons. Use an inline-block level element to wrap a series of buttons with button class. For example, the group class in Bootstrap is <code>.btn-group</code>.</p>
  <pre>
    <style data-selector=".btn-group"></style>
  </pre>
  <pre data-title="More than two button groups">
    <style data-selector=".btn-group + .btn-group"></style>
  </pre>

  <h5>Class for a grouped button</h5>
  <p>This class should be under the Group Class. In Bootstrap, the archietecture is <code>.btn-group > .btn</code>.</p>
  <pre>
    <style data-selector=".btn-group > .btn"></style>
  </pre>
  <pre data-title=":hover, :active">
    <style data-selector=".btn-group > .btn:hover">Bring the "hover" and "active" button to the front</style>
  </pre>
  <pre data-title=":focus">
    <style data-selector=".btn-group > .btn:focus">Bring the "focus" button to the front</style>
  </pre>
  <pre data-title=":not(:first-child) or .btn + .btn (as a bootstrap group button)">
    <style data-selector=".btn-group .btn + .btn">Prevent double borders when buttons are next to each other</style>
  </pre>
  <pre data-title=":first-child">
    <style data-selector=".btn-group > .btn:first-child">Left border of the first button doesn"t need to prevent double borders</style>
  </pre>
  <pre data-title=":not(:first-child):not(:last-child)">
    <style data-selector=".btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle)">Prevent border-radius when buttons are next to each other</style>
  </pre>
  <pre data-title=":first-child:not(:last-child)">
    <style data-selector=".btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle)">The first button (not last button or not a dropdowns toggle button) shouldn't have right border-radius</style>
  </pre>
  <pre data-title=":last-child:not(:first-child)">
    <style data-selector=".btn-group > .btn:last-child:not(:first-child)">The last button or dropdowns toggle button (not first button) should't have left border-radius</style>
  </pre>
</section>

<section>
  <p>Group related buttons to improve clarity and imply relavance.</p>
	<h5>Default button group</h5>
	<div class="btn-group" data-toggle="buttons" role="group">
	  <label class="btn btn-default active">
	    <input type="radio" name="btn_group_1" autocomplete="off" checked> Left
	  </label>
	  <label class="btn btn-default">
	    <input type="radio" name="btn_group_1" autocomplete="off"> Middle
	  </label>
	  <label class="btn btn-default">
	    <input type="radio" name="btn_group_1" autocomplete="off"> Right
	  </label>
	</div><div class="btn-group">
		<button type="button" class="btn btn-default btn-icon-only" aria-label="Edit"><span class="tmicon tmicon-edit"></span></button>
		<button type="button" class="btn btn-default btn-icon-only" aria-label="Reply"><span class="tmicon tmicon-share"></span></button>
	</div>
	<h5>Flat button group</h5>
	<div class="btn-group" data-toggle="buttons" role="group">
	  <label class="btn btn-border active">
	    <input type="radio" name="btn_group_2" autocomplete="off" checked> Left
	  </label>
	  <label class="btn btn-border">
	    <input type="radio" name="btn_group_2" autocomplete="off"> Middle
	  </label>
	  <label class="btn btn-border">
	    <input type="radio" name="btn_group_2" autocomplete="off"> Right
	  </label>
	</div><div class="btn-group" data-toggle="buttons" role="group">
	  <label class="btn btn-border btn-icon-only">
	    <input type="radio" name="btn_group_3" autocomplete="off"><span class="tmicon tmicon-chart-pie"></span>
	  </label>
	  <label class="btn btn-border btn-icon-only active">
	    <input type="radio" name="btn_group_3" autocomplete="off" checked><span class="tmicon tmicon-chart-line"></span>
	  </label>
	  <label class="btn btn-border btn-icon-only">
	    <input type="radio" name="btn_group_3" autocomplete="off"><span class="tmicon tmicon-chart-table"></span>
	  </label>
	</div>
</section>