<section class="css-reference">
  <p>Font stack should specify <b>Arial, Helvetica Neue, Helvetica, and then sans-serif</b>.</p>

  <h5>Large Text</h5>
  <pre>
    <style data-selector=".font-size-lead"></style>
  </pre>

  <h5>Medium Text</h5>
  <pre>
    <style data-selector=".font-size-large"></style>
  </pre>

  <h5>Default Text</h5>
  <pre>
    <style data-selector=".font-size-default"></style>
  </pre>

  <h5>Small Text</h5>
  <pre>
    <style data-selector=".font-size-small"></style>
  </pre>
</section>

<section>  
	<div>		
		<p>Always use <strong>arial</strong> for the body text.</p>
		<div>
			<p class="font-size-lead">Lead Text</p>
			<p class="font-size-large">Medium Text</p>
			<p class="font-size-default">Default Text</p>
			<p class="font-size-small">Small Text</p>
		</div>	
	</div>
</section>