<section class="css-reference">
  <p>Depending on your display language, specify the following fonts in your font-family. These are options that can be used when a particular font is not available. For example, an interstate-related font should be used to display English text, and when such font is not available, Arial should be used.</p>
  <ul>
    <li>ZH-TW: "微軟正黑體","新細明體","細明體"</li>
    <li>ZH-CN: "微软雅黑","宋体"</li>
    <li>JA-JP: 'ＭＳＰゴシック', 'MS PGothic', 'メイリオ', Meiryo</li>
    <li>KO-KR: "Dotum"</li>
    <li>TH-TH: Tahoma</li>
  </ul>
  <h5>Font face</h5>
  <pre data-title="Interstate Extra Light">
    <style data-font="Interstate-ExtraLight"></style>
  </pre>
  <pre data-title="Interstate Light">
    <style data-font="Interstate-Light"></style>
  </pre>

  <h5>Headings</h5>
  <p>These heading styles are defined based on <code>normalize.css</code>.</p>
  <pre data-title="H1:">
    <style data-selector="h1"></style>
  </pre>
  <pre data-title="H2">
    <style data-selector="h2"></style>
  </pre>
  <pre data-title="H3">
    <style data-selector="h3"></style>
  </pre>
  <pre data-title="H4">
    <style data-selector="h4"></style>
  </pre>
  <pre data-title="H5">
    <style data-selector="h5"></style>
  </pre>
  <pre data-title="H6">
    <style data-selector="h6"></style>
  </pre>

  <h5>Titles</h5>
  <pre>
    <style data-selector=".title"></style>
  </pre>

  <h5>Body text</h5>
  <p>Font stack should specify <b>Arial, Helvetica Neue, Helvetica, and then sans-serif</b>.</p>
  <pre data-title="Large">
    <style data-selector=".font-size-lead"></style>
  </pre>
  <pre data-title="Default">
    <style data-selector=".font-size-default"></style>
  </pre>
  <pre data-title="Small">
    <style data-selector=".font-size-small"></style>
  </pre>

  <h5>Other large text</h5>
  <pre data-title="Display 4">
    <style data-selector=".display4"></style>
  </pre>
  <pre data-title="Display 3">
    <style data-selector=".display3"></style>
  </pre>
  <pre data-title="Display 2">
    <style data-selector=".display2"></style>
  </pre>
  <pre data-title="Display 1">
    <style data-selector=".display1"></style>
  </pre>

  <h5>Product titles with a subtitle</h5>
  <p>Use <code data-tag="h1"></code> to warp a <code data-tag="small"></code> element: <code data-html="<h1>SafeSync <small>for Enterprise</small></h1>"></code></p>
  <pre>
    <style data-selector="h1 small"></style>
  </pre>
</section>

<section>
	<div class="typography-example">
		<p>Use <strong>Interstate</strong> as the primary font of the product user interface. For text that is 18px or smaller, use <strong>Arial</strong>.</p>
    <p><span class="placeholder" data-type="link" data-href="archives/fonts.zip">Download fonts</span></p>
		<div class="row">
			<label class="text-muted">Display 4</label>
			<span class="display4">Interstate-ExtraLight 40px</span>
		</div>
		<div class="row">
			<label class="text-muted">Display 3</label>
			<span class="display3">Interstate-Light 32px</span>
		</div>
		<div class="row">
			<label class="text-muted">H1, Display 2</label>
			<span class="display2">Interstate-Light 26px</span>
		</div>
		<div class="row">
			<label class="text-muted">H2, Display 1</label>
			<span class="display1">Interstate-Light 24px</span>
		</div>
		<div class="row">
			<label class="text-muted">H3, Title</label>
			<h3>Interstate-Light 18px</h3>
		</div>
		<div class="row">
			<label class="text-muted">H4, Large Text</label>
			<h4>Arial 16px</h4>
		</div>
		<div class="row">
			<label class="text-muted">H5</label>
			<h5>Arial 14px Bold</h5>
		</div>
		<div class="row">
			<label class="text-muted">H6</label>
			<h6>Arial 13px Bold</h6>
		</div>
		<div class="row">
			<label class="text-muted">Body</label>
			<span>Arial 13px</span>
		</div>
		<div class="row">
			<label class="text-muted">Small Text</label>
			<span class="font-size-small">Arial 12px</span>
		</div>
	</div>
	<div class="example">
		<div class="typography-example">
			<p>Use a smaller font to create a secondary heading. We often see this in our product names.</p>
			<h1>SafeSync <small>for Enterprise</small></h1>
		</div>
	</div>
</section>