<section class="css-reference">
  <h5>Hyperlink</h5>
  <ul>
    <li>Use the <code data-tag="a"></code> tag to indicate hyperlinks.</li>
    <li>This style definition of <code data-tag="a"></code> is based on <code>normalize.css</code>.</li>
  </ul>
  <pre>
    <style data-selector="a"></style>
  </pre>
  <pre data-title=":hover, :focus">
    <style data-selector="a:hover"></style>
  </pre>

  <h5>Deleted text</h5>
  <p>Use the <code data-tag="del"></code> tag to indicate deleted text.</p>
  <pre>
    <style data-selector="del"></style>
  </pre>

  <h5>Highlight</h5>
  <p>Use <code data-tag="mark"></code> to highlight matched items in a search.</p>
  <pre>
    <style data-selector="mark"></style>
  </pre>

  <h5>Abbreviation</h5>
  <p>Abbreviations should have a dotted underline. A help sign and the full words should appear when the abbreviation is hovered over.</p>
  <pre>
    <style data-selector="abbr[title]"></style>
  </pre>

  <h5>Bold</h5>
  <p>Use the <code data-tag="strong"></code> or <code data-tag="b"></code> tag to emphasize text by making the text bold.</p>
  <pre>
    <style data-selector="strong"></style>
  </pre>

  <h5>Selection</h5>
  <pre>
    <style data-selector="::selection"></style>
  </pre>
</section>
<section>
	<div>
		<div class="typography-example">
			<p>
				Use &lt;a&gt; tag to show <a href="javascript:;">hypertext</a>.
			</p>
			<p>
				<del>Strike a line through text to show that it is deleted.</del>
			</p>
			<p>
				<mark>Highlight matched items</mark> in a search.
			</p>
			<p>
				Define an abbreviation using the &lt;<abbr title="Abbreviation">abbr</abbr>&gt; tag.
			</p>
			<p>
				<strong>Bold your text this way.</strong>
      </p>
      <p>
        Customize the <span class="text-selection">::selection</span> selector to show the portion of an element that is selected by a user.
      </p>
		</div>
	</div>
</section>