<section class="css-reference">
  <h5>Primary text</h5>
  <pre>
    <style data-selector=".text-default"></style>
  </pre>

  <h5>Error messages</h5>
  <pre>
    <style data-selector=".text-error"></style>
  </pre>

  <h5>Warning messages</h5>
  <pre>
    <style data-selector=".text-warning"></style>
  </pre>

  <h5>Mute text</h5>
  <pre>
    <style data-selector=".text-muted"></style>
  </pre>

  <h5>Unsupported settings</h5>
  <pre>
    <style data-selector=".text-disabled"></style>
  </pre>

  <h5>Hypertext</h5>
  <pre>
    <style data-selector=".text-link"></style>
  </pre>
</section>

<section>
	<div class="typography-color-example">
		<p>Use #BBBBBB RGB(187, 187, 187) as the primary color.</p>
		<p class="text-error">Use #DB3D44 RGB(219, 61, 68) for error messages.</p>
		<p class="text-warning">Use #FF7633 RGB(255, 118, 51) for warning messages.</p>
		<p class="text-muted">Use #888888 RGB(136, 136, 136) to mute text.</p>
		<p class="text-disabled">Use #666666 RGB(102, 102, 102) for unsupported settings.</p>
		<p class="text-link">Use #33ABD6 RGB(51, 171, 214) for hypertext.</p>
	</div>
</section>