<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Log on</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../css/main.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/logo-apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/logo-apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/logo-apple-touch-icon-72.png">
        <link rel="shortcut icon" href="/assets/img/logo_32.png">
        <!-- customized style -->
    </head>
    <body>
        <div class="wrapper">
            <div class="log-on-banner">
                <div class="log-on-brand">
                    <div class="brand-logo"></div><h1>Control Manager</h1>
                </div>
            </div>
            <div class="log-on-form-container">
                <div class="log-on-content">
                    <h2 class="log-on-title">Log On</h2>
                    <form class="log-on-form" action="javascript:void(0)">
                        <div class="form-group">
                            <input type="text" autofocus size="32" maxlength="32" class="form-control" placeholder="User Name or Domain\User Name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button class="log-on-submit btn btn-danger" type="submit">Log On</button>
                        </div>
                    </form>
                </div>
            </div> <!-- /container -->
            <footer class="footer">
                <!-- Le Bottom Logo
                    This bottom logo can be disappear if there is already an existing Trend's logo on the top left of the page.
                -->
                <a href="#" class="footer-logo hidden-desktop" title="Trend Micro"><img src="images/tball.svg"/></a>
                <p class="copyright">Copyright © 1999-2019 Trend Micro Incorporated.   All rights reserved.</p>
                <!--ul class="footer-links">
                    <li><a href="#">Legal Policies & Privacy</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">TrendMicro.com</a></li>
                </ul-->
            </footer>
        </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script><script>
            /*$('.tmicon-alert').alert("show");*/
        </script-->
    </body>
</html>