<section class="css-reference">
  <h5>Pagination class</h5>
  <p>To paginate, use a pagination class on a <code data-tag="ul"></code> element. For example, <code>.pagination</code> is used as a Bootstrap pagination class.</p>
  <pre>
    <style data-selector=".pagination"></style>
  </pre>

  <h5>Pagination items</h5>
  <p>Put <code data-tag="li"></code> under the <code data-tag="ul"></code> element.</p>
  <pre>
    <style data-selector=".pagination > li"></style>
  </pre>

  <h5>Pagination text</h5>
  <p>Use <code data-tag="a"></code> for pagination text under a <code data-tag="li"></code> element.</p>
  <pre>
    <style data-selector=".pagination > li > a"></style>
  </pre>
  <pre data-title="Use on first pages items, such as li:first-child > a">
    <style data-selector=".pagination > li:first-child > a"></style>
  </pre>
  <pre data-title="Use on last pages items, such as li:last-child > a">
    <style data-selector=".pagination > li:last-child > a"></style>
  </pre>
  <pre data-title=":hover, :focus">
    <style data-selector=".pagination > li > a:hover"></style>
  </pre>

  <h5>Pagination items state</h5>
  <p>Use the activated state to indicate the current selected page. For example, <code>.active</code> is used in Bootstrap. Use the disabled state to indicate that the item is inaccessible. For example, <code>.disabled</code> is used in Bootstrap.</p>
  <pre data-title="Active">
    <style data-selector=".pagination > .active > a"></style>
  </pre>
  <pre data-title=":hover, :focus on active item">
    <style data-selector=".pagination > li > a:active:hover"></style>
  </pre>
  <pre data-title="Disabled">
    <style data-selector=".pagination > li.disabled > a"></style>
  </pre>
</section>

<section class="pagination-example">
  <div class="lists-unordered">
		<ul>
			<li>Separate your content to different pages for better system performance when it is displayed.</li>
			<li>Always put page numbers at the bottom of the page.</li>
			<li>Provide navigations for previous or next pages.</li>
		</ul>
	</div>
	<p>
		<ul class="pagination">
			<li class="disabled">
				<a href="javascript:;" aria-label="Previous">
					<span class="tmicon tmicon-angle-left" aria-hidden="true"></span>
				</a>
			</li>
			<li class="active"><a href="javascript:;">1</a></li>
			<li><a href="javascript:;">2</a></li>
			<li><a href="javascript:;">3</a></li>
			<li><a href="javascript:;">4</a></li>
			<li><a href="javascript:;">5</a></li>
			<li>
				<a href="javascript:;" aria-label="Next">
					<span class="tmicon tmicon-angle-right" aria-hidden="true"></span>
				</a>
			</li>
		</ul>
	</p>
	<p>
		<ul class="pagination">
			<li>
				<a href="javascript:;" aria-label="Previous">
					<i class="tmicon tmicon-angle-left" aria-hidden="true"></i>
				</a>
			</li>
			<li><a href="javascript:;">8</a></li>
			<li><a href="javascript:;">9</a></li>
			<li><a href="javascript:;">10</a></li>
			<li><a href="javascript:;">11</a></li>
			<li class="active"><a href="javascript:;">12</a></li>
			<li><a href="javascript:;">...</a></li>
			<li>
				<a href="javascript:;" aria-label="Next">
					<i class="tmicon tmicon-angle-right" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</p>
</section>