<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>License expired</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../css/main.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/logo-apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/logo-apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/logo-apple-touch-icon-72.png">
        <link rel="shortcut icon" href="/assets/img/logo_32.png">
        <!-- customized style -->
    </head>
    <body>
        <div class="wrapper">
            <div class="banner">
                <div class="brand">
                    <div class="brand-logo"></div><h1>OfficeScan <small>XG</small></h1>
                </div>
            </div>
            <div class="container-fluid">
              <div class="warning-page">
                  <div class="container-heading">
                    <div class="icon-warning"></div>
                  </div>
                  <h2>Maintenance in Progress</h2>
                  <div class="content">
                    <p>Trend Micro engineers are currently working on a scheduled maintenance. During this period, you will not be able to access the service. We apologize for the inconvenience.</p>
                    <p>
                        Maintenance start time: %start_date% %start_time%<br/>
                        Estimated maintenance end time: %end_date% %end_time%
                    </p>
                  </div>
              </div>
            </div> <!-- /container -->
            <footer class="footer">
                <!-- Le Bottom Logo
                    This bottom logo can be disappear if there is already an existing Trend's logo on the top left of the page.
                -->
                <a href="#" class="footer-logo hidden-desktop" title="Trend Micro"><img src="images/tball.svg"/></a>
                <p class="copyright">Copyright © 1999-2019 Trend Micro Incorporated.   All rights reserved.</p>
                <!--ul class="footer-links">
                    <li><a href="#">Legal Policies & Privacy</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">TrendMicro.com</a></li>
                </ul-->
            </footer>
        </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script><script>
            /*$('.tmicon-alert').alert("show");*/
        </script-->
    </body>
</html>