<section class="css-reference">
  <h5>Loader overlay class</h5>
  <pre>
      <style data-selector=".table + .loader-overlay"></style>
    </pre>
  <pre data-title="Loader position within loader overlay">
    <style data-selector=".table + .loader-overlay > .loader"></style>
  </pre>
</section>

<section class="loader-example">
  <p>Display a loader overlay to indicate progress or an unindeterminate amount of time required for a process.</p>
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="gutter">#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    <div class="loader-overlay">
      <span class="loader loader-large"></span>
    </div>
  </div>
</section>