
<section class="clearfix">
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/{{mode}}/templates/logs/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/logs.png" data-class="template-screenshot-image"></div>
      </a>
    </div>
    <div class="template-title"><h3>Logs page (Enterprise)</h3></div>
  </div>

  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/{{mode}}/templates/logs-for-saas/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/logs-for-saas.png" data-class="template-screenshot-image"></div>
      </a>
    </div>
    <div class="template-title"><h3>Logs page (SaaS)</h3></div>
  </div>
</section>