.table-pagination-showcase.nomal {
  height: 171px;
}
.table-pagination-showcase + .table-pagination-showcase {
  margin-top: 24px;
}
.pagination-example .pagination {
  margin-bottom: 8px;
}
.pagination-example .table-pagination {
  width: 600px;
}
.pagination-example .table-pagination .pagination {
  margin-bottom: 0;
}
.pagination-example .example {
  margin-top: 42px;
}
.pagination-example .example .table-pagination {
  background-color: #fff;
  border: 0;
}
.pagination-example .example .table-pagination-block {
  float: left;
}