<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Single page scrolling</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../css/main.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/logo-apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/logo-apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/logo-apple-touch-icon-72.png">
        <link rel="shortcut icon" href="/assets/img/logo_32.png">
        <!-- customized style -->
    </head>
    <body>
        <div class="wrapper">
            <header class="site-header header-with-navbar">
                <a href="javascript:;" class="banner">
                    <!--div class="placeholder" data-type="image" data-refer="theme" data-src="tball.svg"></div-->
                    <h1 class="site-title">Control Manager</h1>
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="tmicon tmicon-user"></span>Admin_TW<span class="tmicon tmicon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Change Password</a></li>
                            <li><a href="javascript:;">Log off</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-icon" href="javascript:;"><span class="icon icon-favorite"></span></a></li>
                    <li class="dropdown active">
                    <a href="javascript:;" class="dropdown-toggle" datda-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 1</a>
                    <ul class="dropdown-menu open">
                        <li class="active"><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-tofggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 2</a>
                    <ul class="dropdown-menu open">
                        <li><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-tofggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 3</a>
                    <ul class="dropdown-menu open">
                        <li><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-tfoggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 4</a>
                    <ul class="dropdown-menu open">
                        <li><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
            </nav>
            <ol class="breadcrumb with-line">
                <li class="active">About</li>
            </ol>
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="about-content">
                            <p><b>Trend Micro Control Manager</b></p>
                            <p>
                                Version: 1.0 <br />
                                Build: 1106
                            </p>
                            <p>Copyright © %year% Trend Micro Incorporated. All rights reserved.</p>
                            <p>This software is protected by copyright laws and international treaties. Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.</p>
                            <p><a href="javascript:;">Third-Party License Information</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </div>
        <div class="modal fade" data-template="modal-lg" tabindex="-1" role="dialog" aria-labelledby="lgModalLabel" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="tmicon tmicon-close tmicon-visible-low tmicon-hoverable"></span></button>
                  <div class="display3">What's New in Control Manager</div>
                </div>
                <div class="modal-body mCustomScrollbar mCustomScrollbar-dragger-hover">
                    <div class="what-new-wrapper">
                        <div>
                            <div class="what-new-container">
                                <div class="what-new-content">
                                    <div class="title"><span class="display1">Operation Center Dashboard</span></div>
                                    <div class="desc">
                                        The <strong>Dashboard</strong> has been redesigned to provide improved visibility of your network protection status. You can use the new <strong>Operation Center</strong> tab to gain instant insights into the antivirus pattern and Data Loss Prevention compliance status, critical threat detections, as well as resolved and unresolved events on your network.
                                    </div>
                                    <div>
                                        <ul class="list-inline">
                                            <li><a href="javascript:;">Learn more</a></li>
                                            <li><a href="javascript:;">Try it now</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="what-new-content"><img src="images/img_new_01.png"></div>
                            </div>
                            <span class="icon icon-down-arrow"></span>
                        </div>
                        <div>
                            <div class="what-new-container">
                                <div class="what-new-content"><img src="images/img_new_02.png"></div>
                                <div class="what-new-content">
                                    <div class="title"><span class="display1">Executive Summary Reports</span></div>
                                    <div class="desc">
                                            Take advantage of the new Executive Summary report template to provide comprehensive intelligence about all the threat detections on your network and view actionable overviews of affected users/endpoints or threat detections by channel and product.
                                    </div>
                                    <div>
                                        <ul class="list-inline">
                                            <li><a href="javascript:;">Learn more</a></li>
                                            <li><a href="javascript:;">Try it now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="icon icon-down-arrow"></span>
                        </div>
                        <div>
                            <div class="what-new-container">
                                <div class="what-new-content">
                                    <div class="title"><span class="display1">Intelligent Component Updates</span></div>
                                    <div class="desc">
                                        The redesigned <strong>Updates</strong> menu allows you to use the <strong>Schedule Update</strong> or <strong>Manual Update</strong> screens to more easily manage and deploy component updates. Enable intelligent component downloading to allow Control Manager to automatically detect and download new components in the selected component categories from an update source.
                                    </div>
                                    <div>
                                        <ul class="list-inline">
                                            <li><a href="javascript:;">Learn more</a></li>
                                            <li><a href="javascript:;">Try it now</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="what-new-content"><img src="images/img_new_03.png"></div>
                            </div>
                            <span class="icon icon-down-arrow"></span>
                        </div>
                        <div>
                            <div class="what-new-container">
                                <div class="what-new-content"><img src="images/img_new_04.png"></div>
                                <div class="what-new-content">
                                    <div class="title"><span class="display1">Simplified Log Queries</span></div>
                                    <div class="desc">
                                        The previously named <strong>New Ad Hoc Query</strong> and <strong>Saved Ad Hoc Queries</strong> screens have been consolidated into the new <strong>Log Query</strong> screen. The enhanced <strong>Log Query</strong> screen features a new design that allows you to more easily query logs, perform advanced searches, save and share log queries, and export search results from a single screen.
                                    </div>
                                    <div>
                                        <ul class="list-inline">
                                            <li><a href="javascript:;">Learn more</a></li>
                                            <li><a href="javascript:;">Try it now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <span class="icon icon-down-arrow"></span>
                        </div>
                        <div>
                            <div class="what-new-container">
                                <div class="what-new-content">
                                    <div class="title"><span class="display1">Other Enhancements</span></div>
                                    <div class="desc">
                                        Want to learn more about the new features in this release of Control Manager? Check the <a href="javascript:;">Online Help</a>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                   <span class="screen-info"><span class="tmicon tmicon-info"></span> You can always open the <strong>What’s New</strong> screen from the main menu by clicking <strong>Help > What’s New</strong>.</span>
                   <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>