.navbar-example ul.description {
  margin-bottom: 12px;
}
.navbar-example ul.description:not(:first-child) {
  margin-top: 36px;
}
.navbar-example h5:not(:first-child) {
  margin-top: 40px;
}
.navbar-example header {
  padding: 0 24px;
  padding-right: 0;
}
.navbar-example .navigation.collapsed + .site-header {
  margin-left: 0;
}
.navbar-example .navigation.expand + .site-header {
  margin-left: 176px;
}
.navbar-example nav {
  padding: 0;
}
.navbar-example .site-header .dropdown-toggle {
  margin-top: 0;
}
.navbar-example .fixed-example {
  width: 100%;
  height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
.navbar-example .fixed-top-content {
  height: 687px;
  background-color: #fff;
  background-image: url("images/innerpage.png");
  background-repeat: no-repeat;
}
.navbar-example .vertical-nav-example {
  border: 1px solid #ccc;
  height: 342px;
  position: relative;
  padding-left: 64px;
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
}
.navbar-example .vertical-nav-example .navigation {
  position: absolute;
  bottom: inherit;
  height: 340px;
}
.navbar-example .nav-icon-getting-home {
  background-image: url("images/get_start.png");
}
.navbar-example .nav-icon-styles {
  background-image: url("images/type.png");
}