<section class="css-reference">
  <h5>Vertical navigation bar</h5>
  <p>Create a vertical navigation bar using a <code data-tag="nav"></code> element.</p>
  <pre>
    <style data-selector=".navigation"></style>
  </pre>
  <pre data-title="Expand state">
    <style data-selector=".navigation.expand"></style>
  </pre>

  <h5>Toggle button</h5>
  <p>Use a <code data-tag="button"></code> element to wrap a hamburger menu icon.</p>
  <pre>
    <style data-selector=".sidebar-toggle"></style>
  </pre>
  <pre data-title=":focus">
    <style data-selector=".sidebar-toggle:focus"></style>
  </pre>

  <h5>Hamburger menu icon</h5>
  <p>Create a hamburger menu icon with three <code data-tag="span"></code> elements.</p>
  <pre>
    <style data-selector=".sidebar-toggle .icon-bar"></style>
  </pre>
  <pre>
    <style data-selector=".sidebar-toggle .icon-bar + .icon-bar">Second and third &lt;span&gt; elements</style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".sidebar-toggle:hover .icon-bar"></style>
  </pre>
  <pre data-title="Expand state">
    <style data-selector=".navigation.expand .sidebar-toggle .icon-bar"></style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .sidebar-toggle .icon-bar:nth-child(2)">First span</style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .sidebar-toggle .icon-bar:nth-child(3)">Second span</style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .sidebar-toggle .icon-bar:nth-child(4)">Third span</style>
  </pre>

  <h5>Vertical navigation bar wrapper</h5>
  <p>Wrap all tabs with a <code data-tag="ul"></code> element.</p>
  <pre>
    <style data-selector=".navigation-items"></style>
  </pre>

  <h5>Vertical navigation bar tabs</h5>
  <p>Use <code data-tag="li"></code> for each tab under the <code data-tag="ul"></code> element.</p>
  <pre>
    <style data-selector=".navigation-items > li"></style>
  </pre>

  <h5>Menu item links</h5>
  <p>Use <code data-tag="a"></code> for each menu item under <code data-tag="li"></code> elements.</p>
  <pre>
    <style data-selector=".navigation-items > li > a"></style>
  </pre>
  <pre data-title="Selected">
    <style data-selector=".navigation-items > li.selected > a"></style>
  </pre>
  <pre data-title="Selected and contains a submenu">
    <style data-selector=".navigation-items > li.selected > a[data-toggle=collapse]"></style>
  </pre>
  <pre data-title="Add background layer using ::after">
    <style data-selector=".navigation-items > li > a::after"></style>
  </pre>
  <pre data-title="Change background color when a tab is being hovered">
    <style data-selector=".navigation-items > li:hover > a::after"></style>
  </pre>
  <pre data-title="Change background color when a tab is being selected">
    <style data-selector=".navigation-items > li.selected > a::after"></style>
  </pre>
  <pre data-title="Change background color when navigation bar and submenu are expanded">
    <style data-selector=".navigation.expand .navigation-items > li > [aria-expanded=true]::after"></style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .navigation-items > li.selected > [aria-expanded=true]::after">When a tab is selected</style>
  </pre>

  <h5>Icons in tab menu items</h5>
  <pre data-title="Icon class">
    <style data-selector=".navigation-items > li > a > i"></style>
  </pre>
  <pre data-title="When a tab is being hovered">
    <style data-selector=".navigation-items > li:hover > a > i"></style>
  </pre>
  <pre data-title="When a tab is being selected">
    <style data-selector=".navigation-items > li.selected > a > i"></style>
  </pre>
  <pre data-title="When navigation bar and submenu are expanded">
    <style data-selector=".navigation.expand .navigation-items > li > [aria-expanded=true] > i"></style>
  </pre>

  <h5>Text in tab menu items</h5>
  <p>Use <code data-tag="span"></code> for each menu item text under <code data-tag="a"></code> elements.</p>
  <pre data-title="Text after an icon">
    <style data-selector=".navigation-items > li > a > i + span"></style>
  </pre>
  <pre data-title="When a tab is being hovered">
    <style data-selector=".navigation-items > li:hover > a > span"></style>
  </pre>
  <pre data-title="When a tab is being selected">
    <style data-selector=".navigation-items > li.selected > a > span"></style>
  </pre>
  <pre data-title="When navigation bar is expanded">
    <style data-selector=".navigation.expand .navigation-items > li i + span"></style>
  </pre>
  <pre data-title="When navigation bar and submenu are expanded">
    <style data-selector=".navigation.expand .navigation-items > li > [aria-expanded=true] > span"></style>
  </pre>

  <h5>Submenus</h5>
  <p>Wrap a submenu with a <code data-tag="ul"></code> element.</p>
  <pre>
    <style data-selector=".sub-nav"></style>
  </pre>
  <pre data-title="When navigation bar is collapsed">
    <style data-selector=".navigation.collapsed .navigation-items .sub-nav"></style>
  </pre>
  <pre>
    <style data-selector=".navigation.collapsed .navigation-items > li:hover > .sub-nav">When a tab is being hovered</style>
  </pre>
  <pre data-title="When navigation bar is expanded">
    <style data-selector=".navigation.expand .sub-nav"></style>
  </pre>

  <h5>Submenu title item</h5>
  <p>Use <code data-tag="li"></code> for the first element of a submenu item.</p>
  <pre data-title="When navigation bar is expanded">
    <style data-selector=".navigation.expand .sub-nav > li:first-child"></style>
  </pre>

  <h5>Submenu title</h5>
  <p>Use a heading element, such as <code data-tag="h4"></code>, for the title under the submenu title item.</p>
  <pre data-title="Title of the submenu">
    <style data-selector=".sub-nav > li:first-child h4"></style>
  </pre>
  <pre data-title="Submenus without any options and only with submenu title">
    <style data-selector=".sub-nav.without-page > li > h4"></style>
  </pre>

  <h5>Submenu items</h5>
  <p>Use <code data-tag="li"></code> for each submenu item under the <code data-tag="ul"></code> element.</p>
  <pre data-title="The first item next to title item">
    <style data-selector=".sub-nav > li:nth-child(2)"></style>
  </pre>
  <pre data-title="The last item">
    <style data-selector=".sub-nav > li:last-child">The last item of the submenu</style>
  </pre>
  <pre data-title="When navigation bar is expanded">
    <style data-selector=".navigation.expand .sub-nav > li"></style>
  </pre>
  <pre data-title="Add background layer using ::before">
    <style data-selector=".navigation.expand .sub-nav > li::before"></style>
  </pre>
  <pre data-title="Change background color when an item is being hovered">
    <style data-selector=".navigation.expand .sub-nav > li:hover::before">:hover</style>
  </pre>
  <pre data-title="Submenus without any options and only with submenu title">
    <style data-selector=".sub-nav.without-page > li"></style>
  </pre>

  <h5>Submenu item links</h5>
  <p>Use <code data-tag="a"></code> for each submenu item under <code data-tag="li"></code> elements.</p>
  <pre>
    <style data-selector=".sub-nav > li > a"></style>
  </pre>
  <pre data-title="When a submenu item being hovered">
    <style data-selector=".sub-nav > li:hover > a"></style>
  </pre>
  <pre data-title="When a submenu item being selected">
    <style data-selector=".sub-nav > li.selected > a"></style>
  </pre>
  <pre data-title="When navigation bar is expanded">
    <style data-selector=".navigation.expand .sub-nav > li > a"></style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .sub-nav > li:hover > a">When a submenu item being hovered</style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .sub-nav > li.selected > a">When a submenu item being selected</style>
  </pre>
  <pre>
    <style data-selector=".navigation.expand .sub-nav > li.selected > a::before">Change background color when a submenu item is being hovered</style>
  </pre>
</section>

<section class="navbar-example">
  <p>A vertical navigation bar is one that has tabs put vertically on the side.</p>

  <div class="vertical-nav-example">
    <nav class="navigation collapsed">
      <button class="sidebar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <ul id="sidebarExample" class="navigation-items"></ul>
    </nav>

    <header class="site-header">
      <a href="javascript:;" class="banner">
        <!--img src="dist/img/tball.svg" alt="Style Portal"-->
        <!--div class="placeholder" data-type="image" data-refer="theme" data-src="tball.svg"></div-->
        <h1 class="site-title">Product Name</h1>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:;"><span class="tmicon tmicon-alert"></span></a></li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="tmicon tmicon-user"></span>Admin_TW<span class="tmicon tmicon-caret-down"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Change Password</a></li>
            <li><a href="javascript:;">Log off</a></li>
          </ul>
        </li>
      </ul>
    </header>
  </div>
</section>