<section class="css-reference">
  <p>Extend the inputs with a form control class to define the form height. For example, a large input is defined as <code>.input-lg</code> in Bootstrap.</p>
  <h5>Input height</h5>
  <pre data-title="Large height">
    <style data-selector=".input-lg"></style>
  </pre>
  <pre data-title="Small height">
    <style data-selector=".input-sm"></style>
  </pre>
  <pre data-title="Extra small height">
    <style data-selector=".input-xs"></style>
  </pre>
</section>
<section class="form-sizes-example">
  <p>Match the form height with any buttons used in the form. </p>
	<input type="text" class="form-control input-lg input-width-lg" placeholder="Large input">
	<input type="text" class="form-control input-width-lg" placeholder="Default input">
	<input type="text" class="form-control input-sm input-width-lg" placeholder="Small input">
	<input type="text" class="form-control input-xs input-width-lg" placeholder="Extra small input">
</section>