<section class="css-reference">
  <h5>Toast notification class</h5>
  <p>Extend the notification class for toast notifications.</p>
  <pre>
    <style data-selector=".toast-alert">The width of toast alert should be defined by project.</style>
  </pre>

  <h5>Modal notifications</h5>
  <p>Subordinate modal notifications to navigations or modals.</p>
  <pre>
    <style data-selector=".toast-alert-top">An alert in both navigation and modal needs to leave space.</style>
	</pre>
	<pre data-title="Large Modal">
    <style data-selector=".modal-lg .toast-alert"></style>
	</pre>
	<pre data-title="Medium, Small or Extra Small Modal">
    <style data-selector=".modal-md .toast-alert"></style>
  </pre>
</section>

<section class="alert-example">
  <p>Toast notifications are transient messages used to provide toast for user-initiated actions. A toast notification:</p>
	<div class="lists-unordered">
		<ul>
			<li>should appear at the top center of product consoles or above the referred UI location.</li>
			<li>is often triggered by user actions.</li>
			<li>should be closable.</li>
			<li>can automatically close itself after being displayed for 5 seconds.</li>
			<li>should never be overlapped by other toast notifications. An older notification needs to be closed before the next one is displayed.</li>
		</ul>
	</div>
	<p><strong>Types:</strong></p>
	<div class="lists-unordered">
		<ul>
			<li><strong>Error:</strong> This type of toast notification is used to indicate incorrect or unsuccessful user actions.</li>
			<li><strong>Warning:</strong> This type of toast notification is used to indicate unusual user actions.</li>
			<li><strong>Success:</strong> This type of toast notification is used to indicate successful user actions.</li>
			<li><strong>Informational:</strong> This type of toast notification is used to provide additional information on user-initiated actions.</li>
		</ul>
	</div>
	<p>For detailed information, see <a href="https://wiki.jarvis.trendmicro.com/display/UG/Toast+Messages" target="_blank">Toast Messages</a>.</p>
	<p>
		<div class="alert toast-alert alert-danger" role="alert">
			<a href="#" class="cancel" data-dismiss="alert" aria-label="close"><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></a>
		 	<span class="tmicon tmicon-error"></span>Please fix the 3 errors.
		</div>
		<div class="alert toast-alert alert-warning" role="alert">
			<a href="#" class="cancel" data-dismiss="alert" aria-label="close"><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></a>
			<span class="tmicon tmicon-warning-triangle"></span>You missed some required fields.
		</div>
		<div class="alert toast-alert alert-success" role="alert">
			<a href="#" class="cancel" data-dismiss="alert" aria-label="close"><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></a>
			<span class="tmicon tmicon-check-bold"></span>Files uploaded successfully.
		</div>
		<div class="alert toast-alert alert-info" role="alert">
			<a href="#" class="cancel" data-dismiss="alert" aria-label="close"><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></a>
			<span class="tmicon tmicon-info"></span>This is your query details.
		</div>
	</p>
	<div class="example">
		<div class="toast-alert-example">
			<div class="toast-alert-banner">
				<div class="placeholder" data-type="image" data-src="images/alert_img1_left.png"></div>
				<div class="placeholder" data-type="image" data-src="images/alert_img1_right.png"></div>
			</div>
			<ol class="breadcrumb">
				<li class="active">Agents</li>
			</ol>
			<div class="alert toast-alert alert-danger" role="alert">
				<a href="#" class="cancel" data-dismiss="alert" aria-label="close"><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></a>
				<span class="tmicon tmicon-error"></span>Please fix the 3 errors.
			</div>
		</div>
	</div>
	<div class="example">
		<div class="toast-alert-example">
			<h5>Modal notification</h5>
			<div class="modal-alert">
				<div class="placeholder" data-type="image" data-src="images/alert_ex3.png"></div>
				<div class="alert toast-alert alert-success" role="alert">
					<a href="#" class="cancel" data-dismiss="alert" aria-label="close"><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></a>
					<span class="tmicon tmicon-check-bold"></span>2 selected items added successfully.
				</div>
			</div>
		</div>
	</div>
</section>