body {
	background: #222222;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.container-fluid {
    padding: 0 16px;
}
header.site-header {
    padding: 0 24px;
    padding-right: 0;
}
.site-header {
    line-height: 63px;
}
.brand-logo {
    display: inline-block;
    background: url(../images/tball.svg);
    height: 32px;
    width: 32px;
    background-size: 94.93px 32px;
    vertical-align: middle;
}
.site-header .banner {
    background: none;
    display: inline-block;
    height: 63px;
    padding: 0;
}
.site-header .banner,
.site-header .banner :hover {
    text-decoration: none;
}
.site-title {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    line-height: 26px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.navigation.collapsed + .site-header,
.navigation.collapsed ~ .breadcrumb,
.navigation.collapsed ~ .container-fluid {
    margin-left: 64px;
}
.navigation.expand + .site-header,
.navigation.expand ~ .breadcrumb,
.navigation.expand ~ .container-fluid {
    margin-left: 240px;
    transition: margin-left 0.15s;
}
.site-header .dropdown-toggle {
    margin-top: 0;
}
.breadcrumb {
    padding-left: 24px;
    padding-right: 24px;
}
.breadcrumb.with-line {
    border-bottom: 1px #111111 solid;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-body p:last-child {
    margin-bottom: 0;
}
.panel-body a {
    text-decoration: none;
}
.about-content {
    max-width: 700px;
}
.nav-icon-summary {
    background-image: url(../images/summary.svg);
}
li.selected .nav-icon-summary {
    background-image: url(../images/summary-red.svg);
}
.nav-icon-devices {
    background-image: url(../images/devices.svg);
}
li.selected .nav-icon-devices {
    background-image: url(../images/devices-red.svg);
}
.nav-icon-reports {
    background-image: url(../images/reports.svg);
}
li.selected .nav-icon-reports {
    background-image: url(../images/reports-red.svg);
}
.nav-icon-export {
    background-image: url(../images/export.svg);
}
li.selected .nav-icon-export {
    background-image: url(../images/export-red.svg);
}
.nav-icon-logs {
    background-image: url(../images/logs.svg);
}
li.selected .nav-icon-logs {
    background-image: url(../images/logs-red.svg);
}
.nav-icon-install {
    background-image: url(../images/install.svg);
}
li.selected .nav-icon-install {
    background-image: url(../images/install-red.svg);
}
.nav-icon-about {
    background-image: url(../images/about.svg);
}
li.selected .nav-icon-about {
    background-image: url(../images/about-red.svg);
}