
<section class="clearfix">
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/{{mode}}/templates/log-on/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/log-on.png" data-class="template-screenshot-image"></div>
      </a>
    </div>

    <div class="template-title"><h3>Log on</h3></div>    
    <!--div class="template-description">
      Standard logon templates for Trend Micro commercial products. Customize the templates by adding form controls and fields as required.
    </div-->
  </div>
  
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/{{mode}}/templates/log-on-with-error/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/log-on-with-error.png" data-class="template-screenshot-image"></div>
      </a>
    </div>

    <div class="template-title"><h3>Log on with error</h3></div>
    
    <!--div class="template-description">
      Standard log on form with custom, form controls and a flexible layout.
    </div-->
  </div>
</section>
