<section class="css-reference">
  <h5>Donut chart</h5>
  <pre data-title="The diameter of the donut chart">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-diameter"></style>
  </pre>
  <pre data-title="The inner diameter of the donut chart">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-inner-diameter"></style>
  </pre>
  <h5>Donut chart slices</h5>
  <pre data-title="The border between slices">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-slices"></style>
  </pre>
  <pre data-title="Hover state">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-slices.brightness"></style>
  </pre>
  <h5>Donut chart slices halo</h5>
  <pre data-title="Hover state">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-slices.hover">The width size of the halo</style>
  </pre>
  <h5>Donut chart title</h5>
  <p>Please according to product requirements to set the title position in the middle of the donut chart.</p>
  <pre>
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-chart-title"></style>
  </pre>
  <pre data-title="Subtitle">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-chart-subtitle"></style>
  </pre>
  <pre>
    <style data-selector=".style-portal .highcharts .pie-donut-chart .donut-chart-title + .donut-chart-title">The space between title and subtitle</style>
  </pre>
  <h5>Tooltip Wrapper</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table"></style>
  </pre>
  <pre>
     <style data-selector=".style-portal .highcharts .tooltip">For style information on tooltip shadow, apply the default style if using the highcharts library; otherwise, use the following style</style>
  </pre>
  <h5>Tooltip Title</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > thead > tr > td"></style>
  </pre>
  <h5>Tooltip Series Name</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:first-child"></style>
  </pre>
  <h5>Tooltip Series Value</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:last-child"></style>
  </pre>
</section>

<section class="pie-donut-charts-example">
	<div id="standard-donut-chart-container" class="chart-container pie-donut-charts-container"></div>
</section>