<section class="css-reference">
  <h5>Pie chart</h5>
  <pre data-title="The diameter of the pie chart">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .pie-diameter"></style>
  </pre>
  <h5>Pie chart slices</h5>
  <pre data-title="The border between slices">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .pie-slices"></style>
  </pre>
  <pre data-title="Hover state">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .pie-slices.brightness"></style>
  </pre>
  <h5>Pie chart slices halo</h5>
  <pre data-title="Hover state">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .pie-slices.hover">The width size of the halo</style>
  </pre>
  <h5>Tooltip Wrapper</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table"></style>
  </pre>
  <pre>
     <style data-selector=".style-portal .highcharts .tooltip">For style information on tooltip shadow, apply the default style if using the highcharts library; otherwise, use the following style</style>
  </pre>
  <h5>Tooltip Title</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > thead > tr > td"></style>
  </pre>
  <h5>Tooltip Series Name</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:first-child"></style>
  </pre>
  <h5>Tooltip Series Value</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:last-child"></style>
  </pre>
</section>
<section class="pie-donut-charts-example">
	<div id="standard-pie-chart-container" class="chart-container pie-donut-charts-container"></div>
</section>