
<section class="clearfix">
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/{{mode}}/templates/dashboard-enterprise/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/dashboard.png" data-class="template-screenshot-image"></div>
      </a>
    </div>
    <div class="template-title"><h3>Dashbord - Enterprise</h3></div>
  </div>

  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/{{mode}}/templates/dashboard-enterprise-vertical/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/dashboard-vertical.png" data-class="template-screenshot-image"></div>
      </a>
    </div>
    <div class="template-title"><h3>Dashbord - Enterprise (Vertical)</h3></div>
  </div>
</section>