<section class="css-reference">
  <h5>Keyframes definition</h5>
  <p>Keyframes definition for indeterminate indicator animated effect.</p>
  <pre>
    <style data-keyframes="progress-bar-indeterminate"></style>
  </pre>
  <h5>Indeterminate indicator</h5>
  <p>Extend the determinate indicator class to create the indeterminate indicator.</p>
  <pre>
    <style data-selector=".progress-bar.progress-bar-indeterminate">Adopt above keyframes definition.</style>
  </pre>
</section>
<section class="indeterminate-determinate-example">
  <p>Use a query progress bar for operations where you want to indicate pre-loading (before the actual loading can be made).</p>
  <div class="progress-warpper">
    <div class="progress-container">
      <div class="progress progress-with-label">
        <div class="progress-bar progress-bar-indeterminate" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <span>0%</span>
        </div>
      </div>
    </div>
  </div>
</section>