<section class="css-reference">
  <h5>Caret</h5>
  <pre>
     <style data-selector=".legend-page .tmicon"></style>
  </pre>
  <pre data-title="Caret up">
     <style data-selector=".legend-page .tmicon-caret-up"></style>
  </pre>
  <pre data-title="Caret down">
     <style data-selector=".legend-page .tmicon-caret-down"></style>
  </pre>
  <pre data-title="Unable state:">
     <style data-selector=".legend-page .unable"></style>
  </pre>
</section>

<section class="line-charts-example scroll-line-charts">
	<div id="scroll-line-container" class="chart-container line-chart-container"></div>
	<section class="legend">
        <ul></ul>
        <div class="legend-page"><i class="tmicon tmicon-caret-up"></i><span class="now"></span> / <span class="total"></span><i class="tmicon tmicon-caret-down"></i></div>
    </section>
</section>