<section class="map-charts-example">
	<p>Map charts are used to show categorized values across geographical regions. Use a map chart when you include geographical information  (for example, countries, regions, states, counties, or postal codes, etc.) in your data set.</p>
	<div class="lists-unordered">
		<ul>
			<li>Avoid using gradient color.</li>
			<li>Provide <b>zoom control buttons (+/-)</b> to allow users to change the zoom level of a map. The zoom control buttons should appear by default in the bottom left corner of the map. When the maximum or minimum  zoom level is reached, disable the zoom control buttons.</li>
		</ul>
	</div>
</section>