<section class="loader-example">
  <p>A loader should be located in the middle of a panel to confirm that a change is made or a task is performed.</p>
  <ul class="nav nav-pills nav-pills-horizontal">
    <li class="active"><a href="#Item1" aria-controls="Item1" role="tab" data-toggle="tab">Item1</a></li>
    <li><a href="#Item2" aria-controls="Item2" role="tab" data-toggle="tab">Item2</a></li>
    <li><a href="#Item3" aria-controls="Item3" role="tab" data-toggle="tab">Item3</a></li>
    <li><a href="#Item4" aria-controls="Item4" role="tab" data-toggle="tab">Item4</a></li>
  </ul>
  <div class="justified-container">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active"></div>
      <div role="tabpanel" class="tab-pane"></div>
      <div role="tabpanel" class="tab-pane"></div>
      <div role="tabpanel" class="tab-pane"></div>
    </div>
    <div class="loader-overlay">
      <span class="loader loader-large"></span>
    </div>
  </div>
</section>