<section class="css-reference">
  <h5>Loader class</h5>
  <pre data-title="Loading class within a button">
    <style data-selector=".btn .loader"></style>
  </pre>
  <pre data-title="Loading class within a icon only button">
    <style data-selector=".btn.btn-icon-only .loader"></style>
  </pre>
</section>

<section class="loader-example">
  <h5>Loader button with icon only</h5>
  <button type="button" class="btn btn-default btn-icon-only" disabled="disabled"><span class="loader loader-small"></span><span class="tmicon tmicon-comment" style="display: none;"></span></button><button type="button" class="btn btn-primary btn-icon-only" disabled="disabled"><span class="loader loader-small"></span><span class="tmicon tmicon-comment" style="display: none;"></span></button>
  <h5>Loader button with text</h5>
  <button type="button" class="btn btn-default" disabled="disabled"><span class="loader loader-small"></span>Uploading</button><button type="button" class="btn btn-primary" disabled="disabled"><span class="loader loader-small"></span>Uploading</button>
  <div class="example">
    <button type="button" class="btn btn-default btn-icon-only" data-loading="buttonIcon" data-placement="top" title="Upload"><span class="tmicon tmicon-upload"></span></button><button type="button" class="btn btn-default" data-loading="buttonText">Upload</button>
  </div>
</section>