<section class="css-reference">
  <h5>CSS3 spinner</h5>
  <p>The animated progress icons are created using CSS3 keygrames.</p>
  <pre>
    <style data-keyframes="spinner"></style>
  </pre>

  <h5>Loader class</h5>
  <p>Use the loader class on a <code data-tag="span"></code> element. For example, <code>.loader</code></p>
  <pre>
    <style data-selector=".loader"></style>
  </pre>
  <pre data-title="Small loader">
    <style data-selector=".loader-small"></style>
  </pre>
  <pre data-title="Large loader">
    <style data-selector=".loader-large"></style>
  </pre>
  <pre data-title="Loading class within a button">
    <style data-selector=".btn .loader"></style>
  </pre>
  <!-- <pre data-title="Loading class within a primary button">
    <style data-selector=".btn-primary.btn .loader"></style>
  </pre> -->

  <h5>Loader overlay class</h5>
  <p>Wrap the loader within a <code data-tag="div"></code> element. For example, <code>.loader-overlay</code></p>
  <pre>
    <style data-selector=".loader-overlay"></style>
  </pre>
  <pre data-title="Loader position within loader overlay">
    <style data-selector=".loader-overlay .loader-small">Small loader</style>
  </pre>
  <pre data-title="Loader position within loader overlay">
    <style data-selector=".loader-overlay .loader">Medium loader (default)</style>
  </pre>
  <pre data-title="Loader position within loader overlay">
    <style data-selector=".loader-overlay .loader-large">Large loader</style>
  </pre>
</section>

<section class="loader-example">
  <p>Use a loader to indicate progress or an indeterminate amount of time required for a process.</p>

  <ul class="description">
    <li>Loader size: Loaders can have different sizes (e.g. small, medium, or large), depending on your requirements.</li>
    <li>Loader overlay: Sometimes, it can be useful to overlay the loader and temporarily block access to other functionalities on the UI.</li>
  </ul>

  <div class="loader-size-example">
    <h5>Small</h5>

    <span class="loader loader-small"></span>
  </div>

  <div class="loader-size-example">
    <h5>Medium (default)</h5>

    <span class="loader"></span>
  </div>

  <div class="loader-size-example">
    <h5>Large</h5>

    <span class="loader loader-large"></span>
  </div>
</section>