<section class="css-reference">
  <h5>Label class</h5>
  <p>Use the label class on an <code data-tag="span"></code> element. E.g. As a bootstrap label: <code>.label</code></p>
  <pre>
    <style data-selector=".label"></style>
  </pre>
  <pre data-title="Empty label">
    <style data-selector=".label:empty"></style>
  </pre>

  <h5>Label blue class</h5>
  <pre>
    <style data-selector=".label-blue"></style>
  </pre>

  <h5>Label green class</h5>
  <pre>
    <style data-selector=".label-green"></style>
  </pre>

  <h5>Label cyan class</h5>
  <pre>
    <style data-selector=".label-cyan"></style>
  </pre>

  <h5>Label orange class</h5>
  <pre>
    <style data-selector=".label-orange"></style>
  </pre>

  <h5>Label red class</h5>
  <pre>
    <style data-selector=".label-red"></style>
  </pre>

  <h5>Label indigo class</h5>
  <pre>
    <style data-selector=".label-indigo"></style>
  </pre>

  <h5>Label yellow class</h5>
  <pre>
    <style data-selector=".label-yellow"></style>
  </pre>

  <h5>Label light gray class</h5>
  <pre>
    <style data-selector=".label-light-gray"></style>
  </pre>

  <h5>Label gray class</h5>
  <pre>
    <style data-selector=".label-gray"></style>
  </pre>

  <h5>Label dark class</h5>
  <pre>
    <style data-selector=".label-dark"></style>
  </pre>
</section>

<section class="label-example">
  <p>Labels are used to highlight a characteristic of an object. </p>
	<p>
		<span class="label label-blue">Blue</span>
		<span class="label label-green">Green</span>
		<span class="label label-cyan">Cyan</span>
		<span class="label label-orange">Orange</span>
		<span class="label label-red">Red</span>
		<span class="label label-indigo">Indigo</span>
		<span class="label label-yellow">Yellow</span>
		<span class="label label-light-gray">Light Gray</span>
		<span class="label label-gray">Gray</span>
		<span class="label label-dark">Dark</span>
	</p>

	<div class="example">
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th>Component</th>
		      <th>Version</th>
		      <th>Last Update</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tool Engine</td>
		      <td>11.1.123<span class="label label-green pull-right">New</span></td>
		      <td>06/02/2016 23:15:00</td>
		    </tr>
		    <tr>
		      <td>Pattern</td>
		      <td>10.1.2</td>
		      <td>04/02/2016 23:15:00</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</section>