<section class="css-reference">
  <h5>Form controller class</h5>
  <p>All textual elements, including <code data-tag="input"></code>, <code data-tag="textarea"></code>, and <code data-tag="select"></code> should contain a form control class. For example, the Bootstrap form controller class is <code>.form-control</code></p>
  <pre>
    <style data-selector=".form-control"></style>
  </pre>
  <pre data-title="Placeholder">
    <style data-selector=".form-control::-webkit-input-placeholder"></style>
  </pre>
  <pre data-title=":focus">
    <style data-selector="textarea:focus"></style>
  </pre>
  <pre data-title=":invalid or textarea error class">
    <style data-selector=".form-invalid"></style>
  </pre>
  <pre data-title="[disabled]">
    <style data-selector=".form-control[disabled]"></style>
  </pre>
  <h5>Textarea with form control</h5>
  <pre>
    <style data-selector="textarea.form-control"></style>
  </pre>
  <pre data-title="Resizable Textarea Class">
    <style data-selector="textarea.textarea-resizable"></style>
  </pre>
  <h5>Rows</h5>
  <p>By default, a textarea must be able to contain at least two rows of text. Specify the textarea using the cols and rows attributes.</p>
</section>

<section class="form-elements-example">
  <p>A textarea allows the user to type in extended, multi-line inputs.</p>
  <p>A textarea can be fixed in height, grow automatically based on the input, or contain a resize handle, which allows for vertical resizing.</p>
  <p>For a resizable textarea, use a fixed width.</p>
	<div class="textarea-block">
		<form class="form-horizontal" role="form" action="javascript:void(0)">
		  <div class="form-group">
		    <label class="control-label">Normal:</label>
		    <div class="control-wrapper">
		    	<textarea class="form-control" placeholder="Enter a description"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label">Disabled:</label>
		    <div class="control-wrapper">
		    	<textarea class="form-control" disabled></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label">Resizable:</label>
		    <div class="control-wrapper">
		    	<textarea class="form-control textarea-resizable"></textarea>
		   	</div>
		  </div>
		</form>
	</div>
</section>