<section class="css-reference">
  <h5>Legend Wrapper</h5>
  <pre>
     <style data-selector=".legend"></style>
  </pre>
  <pre>
     <style data-selector=".legend:not(.legend-vertical)">Bottom legend</style>
  </pre>
  <h5>Legend Container</h5>
  <p>Wrap all the symbols and names of the series with a <code data-tag="ul"></code> element.</p>
  <pre>
     <style data-selector=".legend ul"></style>
  </pre>
  <h5>Legend</h5>
  <p>Use <code data-tag="li"></code> for each series under the <code data-tag="ul"></code> element.</p>
  <pre>
     <style data-selector=".legend ul li"></style>
  </pre>
  <pre data-title="More than one legends in a row:">
     <style data-selector=".legend ul li + li"></style>
  </pre>
  <pre data-title="Mute state:">
     <style data-selector=".legend ul li.mute"></style>
  </pre>
  <pre data-title=":before">
     <style data-selector=".legend ul li:before"></style>
  </pre>
  <h5>Caret</h5>
  <pre>
     <style data-selector=".legend-page .tmicon"></style>
  </pre>
  <pre data-title="Caret up">
     <style data-selector=".legend-page .tmicon-caret-up"></style>
  </pre>
  <pre data-title="Caret down">
     <style data-selector=".legend-page .tmicon-caret-down"></style>
  </pre>
  <pre data-title="Unable state:">
     <style data-selector=".legend-page .unable"></style>
  </pre>
</section>

<section class="pie-donut-charts-example">
  <div class="scroll-pie-chart">
  	<div id="pie-chart-legend-container" class="chart-container pie-donut-charts-container"></div>
  	<div class="legend">
      <ul></ul>
      <div class="legend-page"><i class="tmicon tmicon-caret-up"></i><span class="now"></span> / <span class="total"></span><i class="tmicon tmicon-caret-down"></i></div>
    </div>
  </div>
</section>