<section class="css-reference">
  <h5>Semi donut chart</h5>
  <pre data-title="The diameter of the semi donut chart">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .semi-donut-diameter"></style>
  </pre>
  <pre data-title="The inner diameter of the semi donut chart">
    <style data-selector=".style-portal .highcharts .pie-donut-chart .semi-donut-inner-diameter"></style>
  </pre>
</section>
<section class="pie-donut-charts-example semi-donut-chart">
	<div class="semi-donut-chart">
		<div id="semi-donut-chart-container" class="chart-container pie-donut-charts-container"></div>
		<div class="legend">
	        <ul></ul>
	    </div>
    </div>
</section>