<section class="pie-donut-charts-example">
	<p>Pie charts are used to compare values as proportions or percentages of a whole. The data should be categorical.</p>
	<div class="lists-unordered">
		<ul>
			<li>Start the pie chart at "12 o'clock" and move in a clockwise direction.</li>
			<li>Ensure that the segments are ordered by size (largest to smallest).</li>
			<li>Limit slices to ten. The chart becomes illegible when there are too many values to be represented.</li>
			<li>Avoid using color gradients and three-dimensional charts.</li>
		</ul>
	</div>
</section>