
@media (min-width: 768px) {
  .table-cell-child-list .dl-horizontal dd {
    margin-left: 85px;
  }
}

.table:not(:last-child) {
  margin-bottom: 40px;
}

.server-scan-results-table > thead > tr > th:nth-child(6),
.server-scan-results-table > tbody > tr > td:nth-child(6) {
  text-align: right;
}

.server-scan-results-selectable-table > thead > tr > th:nth-child(7),
.server-scan-results-selectable-table > tbody > tr > td:nth-child(7) {
  text-align: right;
}

.longtext-toggle {
	position: absolute;
	z-index: 1070;
}

.table-row-expandable td .tmicon-color-error {
  margin-right: 8px;
}