<section class="tables-style-example">
  <p>A side menu is used for navigating and grouping a set of related pages.</p>
  <div class="lists-unordered">
    <ul>
      <li>Put side menus on the left-hand column of the UI page.</li>
      <li>Side menus are usually used for level-two items, those that are under a single tab page.</li>
      <li>Limit side menus to contain only one level.</li>
      <li>The menu width should be fixed and the content adjusts itself to fit the menu.</li>
    </ul>
  </div>
</section>