<section class="css-reference">
  <p>Leave some space between the icon and the text.</p>
  <pre>
    <style data-selector=".dropdown-menu > li > a > .tmicon"></style>
  </pre>
</section>

<section class="dropdown-example">
  <p>Incorporate icons to drop-down menus if the icons are common and easily recognizable.</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border btn-icon-only dropdown-toggle" type="button">
        <span class="tmicon tmicon-settings" aria-hidden="true"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="javascript:;"><span class="tmicon tmicon-refresh" aria-hidden="true"></span>Refresh</a></li>
        <li><a href="javascript:;"><span class="tmicon tmicon-edit" aria-hidden="true"></span>Edit</a></li>
        <li><a href="javascript:;"><span class="tmicon tmicon-share" aria-hidden="true"></span>Share...</a></li>
      </ul>
    </div>
  </p>
</section>