<section class="css-reference">
  <p>
    Wrap an <code data-tag="input"></code> and a <code data-tag="label"></code> within a <code data-tag="span"></code> element to implement a check box for each drop-down menu item. Please refer to <a href="#/styles/{{theme}}/{{version}}/206355af-1c26-49d7-b878-d3d6f094990f">Form Elements</a>.</p>
  <pre data-title="Make whole dropdown menu items (label) can checked">
    <style data-selector=".dropdown-menu-selections > li > a">Menu item links</style>
    <style data-selector=".dropdown-menu-selections > li > a .form-check input[type=checkbox] + label">Labels</style>
  </pre>
</section>

<section class="dropdown-example">
  <p>You can use check boxes in drop-down menus to indicate item selection. As a summary, you can display a count for the number of selected items or list them out. Separate the listed items with commas, and put an ellipsis (...) at the end to indicate omission if the list is too long to fit into one line.</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="tmicon tmicon-caret-down"></span>Product <span>(3)</span>
      </button>

      <ul class="dropdown-menu dropdown-menu-selections">
        <li>
          <a href="javascript:;">
            <sapn class="form-check">
              <input type="checkbox" name="dropdowncheckboxs" checked>
              <label>Deep Discovery Email Inspector</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="form-check">
              <input type="checkbox" name="dropdowncheckboxs" checked>
              <label>Deep Discovery Inspector</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="form-check">
              <input type="checkbox" name="dropdowncheckboxs" checked>
              <label>Deep Security</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="form-check">
              <input type="checkbox" name="dropdowncheckboxs">
              <label>Mobile Security</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="form-check">
              <input type="checkbox" name="dropdowncheckboxs">
              <label>OfficeScan</label>
            </sapn>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <sapn class="form-check">
              <input type="checkbox" name="dropdowncheckboxs">
              <label>Threat Discovery Appliance</label>
            </sapn>
          </a>
        </li>
      </ul>
    </div>
  </p>
</section>