<section class="css-reference">
  <h5>Submenus</h5>
  <p>Add submenu classes to <code data-tag="li"></code> elements. E.g. <code>.dropdown-submenu</code></p>
  <pre>
    <style data-selector=".dropdown-submenu"></style>
  </pre>
  <pre data-title="For links have a submenu">
    <style data-selector=".dropdown-menu > li.dropdown-submenu > a"></style>
  </pre>

  <h5>Submenu caret</h5>
  <pre>
    <style data-selector=".tmicon"></style>
  </pre>
  <pre data-title=":before">
    <style data-selector=".tmicon-caret-right:before"></style>
  </pre>
  
  <h5>Caret postions</h5>
  <p>Point the caret to the right to indicate a submenu.</p>
  <pre>
    <style data-selector="li.dropdown-submenu > a > .tmicon-caret-right"></style>
  </pre>

  <h5>Submenu items</h5>
  <p>Wrap each submenu item with <code data-tag="li"></code> and place them within a <code data-tag="ul"></code> element.</p>
  <pre data-title="Adjust position">
    <style data-selector=".dropdown-submenu > .dropdown-menu">Move submenu to the left side of its parent</style>
  </pre>
  <pre data-title="Hover submenu">
    <style data-selector=".dropdown-submenu:hover > .dropdown-menu">Display submenu as a block element</style>
  </pre>
  </pre>

  <h5>Align submenu items to the left</h5>
  <pre>
    <style data-selector=".dropdown-submenu.pull-left > .dropdown-menu"></style>
  </pre>
</section>

<section class="dropdown-example dropdown-submenu-example">
  <p>Use submenus to present a second level of options. A submenu should expand when its first-level item is hovered over.</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="tmicon tmicon-caret-down"></span>Select an option
      </button>

      <ul class="dropdown-menu">
        <li><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-submenu open">
          <a href="javascript:;"><span class="tmicon tmicon-caret-right"></span>Menu item four</a>

          <ul class="dropdown-menu">
            <li><a href="javascript:;">Second level item one</a></li>
            <li><a href="javascript:;">Second level item two</a></li>
            <li><a href="javascript:;">Second level item three</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </p>
</section>