<section class="css-reference">
  <h5>Badge class</h5>
  <p>Use the badge class on an <code data-tag="span"></code> element. E.g. As a bootstrap badge: <code>.badge</code></p>
  <pre>
    <style data-selector=".badge"></style>
  </pre>
  <pre data-title="Empty badge">
    <style data-selector=".badge:empty"></style>
  </pre>

  <h5>Badge light gray class</h5>
  <pre>
    <style data-selector=".badge-light-gray"></style>
  </pre>

  <h5>Badge blue class</h5>
  <pre>
    <style data-selector=".badge-blue"></style>
  </pre>

  <h5>Badge green class</h5>
  <pre>
    <style data-selector=".badge-green"></style>
  </pre>

  <h5>Badge cyan class</h5>
  <pre>
    <style data-selector=".badge-cyan"></style>
  </pre>

  <h5>Badge orange class</h5>
  <pre>
    <style data-selector=".badge-orange"></style>
  </pre>

  <h5>Badge red class</h5>
  <pre>
    <style data-selector=".badge-red"></style>
  </pre>

  <h5>Badge yellow class</h5>
  <pre>
    <style data-selector=".badge-yellow"></style>
  </pre>

  <h5>Badge dark class</h5>
  <pre>
    <style data-selector=".badge-dark"></style>
  </pre>
</section>

<section class="badge-example dropdown-example">
  <p>Badges are used to indicate counts.</p>
	<p>
		<span class="badge badge-light-gray">1</span>
		<span class="badge badge-blue">2</span>
		<span class="badge badge-green">3</span>
		<span class="badge badge-cyan">4</span>
		<span class="badge badge-orange">5</span>
		<span class="badge badge-red">6</span>
		<span class="badge badge-yellow">7</span>
		<span class="badge badge-dark">8</span>
	</p>
	<div class="example">
		<div class="dropdown open">
		  <button type="button" class="btn btn-border dropdown-toggle">
		    <span class="tmicon tmicon-caret-down"></span>Badges
		  </button>
		  <ul class="dropdown-menu">
				<li><a href="#"><span class="badge badge-red pull-right">4</span>High</a></li>
				<li><a href="#"><span class="badge badge-orange pull-right">2</span>Medium</a></li>
				<li><a href="#"><span class="badge badge-yellow pull-right">10</span>Low</a></li>
				<li><a href="#"><span class="badge badge-green pull-right">4</span>Safe</a></li>
		  </ul>
		</div>
	</div>
</section>