<section class="css-reference">
  <h5>Popover footer class</h5>
  <p>Use <code data-tag="div"></code> or <code data-tag="span"></code> to create the popover footer class. For example, <code>.popover-footer</code> is used in Bootstrap.</p>
  <pre>
    <style data-selector=".popover-footer"></style>
  </pre>
</section>

<section class="popover-examples popover-footer-example">
  <p>Popover can contain other control elements such as links and buttons.</p>
	<div>
		<div class="popover bottom popover-example">
			<div class="arrow"></div>

			<div class="popover-content">
				<div class="form-group">
					<label for="">IP address:</label>
					<input class="form-control" type="text">
				</div>

				<div class="form-group">
					<label for="">Host name:</label>
					<input class="form-control" type="text">
				</div>
			</div>

			<div class="popover-footer">
				<button class="btn btn-primary">Apply</button>
			</div>
		</div>
	</div>
</section>