<section class="css-reference">
  <h5>Popover header class</h5>
  <p>Use <code data-tag="div"></code> or <code data-tag="span"></code> to create a popover header class. For example, <code>.popover-title</code> is used in Bootstrap.</p>
  <pre>
    <style data-selector=".popover-title"></style>
  </pre>
</section>

<section class="popover-examples">
  <p>A popover can contain a header.</p>
	<div>
		<div class="popover top popover-example">
			<div class="arrow"></div>
			<h3 class="popover-title">File Path (3)</h3>
			<div class="popover-content lists-unordered">
				<ul>
					<li>c:\adipisicing.txt</li>
					<li>c:\ommod_luctus\nisiet\portor\ligu.txt</li>
					<li>c:\eget\lacinia_odio_sem.txt </li>
				</ul>
			</div> 
		</div>
	</div>
</section>