<section class="css-reference">
	<h5>Series Bar Markers</h5>
	<pre>
		<style data-selector=".style-portal .highcharts .bar-chart .series.stacked">Space between the stacked bar maker.</style>
	</pre>
	<h5>Tooltip Wrapper in Stacked Column Chart</h5>
  	<pre>
     	<style data-selector=".style-portal .highcharts .area-tooltips"></style>
  	</pre>
</section>
<section class="column-charts-example stacked-column-chart">
	<div id="stacked-column-chart-container" class="chart-container column-chart-container-with-bottom-legend"></div>
	<section class="legend">
        <ul></ul>
    </section>
</section>