<section class="column-charts-example">
	<p>Column charts use vertical bars to present and compare data over time or over values containing an intrinsic order. The best way to represent these values is to use the horizontal axis.</p>
	<div class="lists-unordered">
		<ul>
			<li>Use <a href="#/styles/{{theme}}/{{version}}/dffba378-6723-4701-9087-3d527c831509">qualitative colors</a> to display your data. Use the same color for data sets of the same variable.</li>
			<li>Ensure the category has an intrinsic order. If not, consider using a bar chart.</li>
			<li>Avoid displaying labels at 45° or 90° on the axes. This makes labels difficult to read.</li>
			<li>Shorten well-known labels to improve readability. For example, use "Jan" for "January".</li>
			<li>Avoid using gradient colors and 3-D bars.</li>
		</ul>
	</div>
</section>