<!DOCTYPE HTML>
<html>
    <head>
      <link href="../../css/main.css" rel="stylesheet">
      <link href="defaults.css" rel="stylesheet">
      <style>
        .site-header .dropdown-toggle {
          margin-top: 0;
        }
      </style>
    </head>
    <body class="theme-minimalism mode-dark">
    <section class="navbar-example">
      <header class="site-header header-with-navbar">
        <a href="javascript:;" class="banner">
          <h1 class="site-title">Product Name</h1>
        </a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:;"><span class="tmicon tmicon-alert"></a></li>
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="tmicon tmicon-user"></span>Admin_TW<span class="tmicon tmicon-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Change Password</a></li>
              <li><a href="javascript:;">Log off</a></li>
            </ul>
          </li>
        </ul>
      </header>
      <nav class="navbar navbar-default" data-spy="affix" data-offset-top="64">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">
              <span class="icon icon-t-ball">
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class="navbar-icon" href="javascript:;"><span class="tmicon tmicon-pin-star"></a></li>
            <li class="dropdown active">
              <a href="javascript:;" class="dropdown-toggle" data-togfgle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 1</a>
              <ul class="dropdown-menu open">
                <li class="active"><a href="javascript:;">Menu item one</a></li>
                <li><a href="javascript:;">Menu item two</a></li>
                <li><a href="javascript:;">Menu item three</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:;"><span class="tmicon tmicon-caret-right"></span>Menu item four</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;">Second level item one</a></li>
                    <li><a href="javascript:;">Second level item two</a></li>
                    <li><a href="javascript:;">Second level item three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-togcgle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 2</a>
              <ul class="dropdown-menu open">
                <li><a href="javascript:;">Menu item one</a></li>
                <li><a href="javascript:;">Menu item two</a></li>
                <li><a href="javascript:;">Menu item three</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:;"><span class="tmicon tmicon-caret-right"></span>Menu item four</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;">Second level item one</a></li>
                    <li><a href="javascript:;">Second level item two</a></li>
                    <li><a href="javascript:;">Second level item three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-togcgle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 3</a>
              <ul class="dropdown-menu open">
                <li><a href="javascript:;">Menu item one</a></li>
                <li><a href="javascript:;">Menu item two</a></li>
                <li><a href="javascript:;">Menu item three</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:;"><span class="tmicon tmicon-caret-right"></span>Menu item four</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;">Second level item one</a></li>
                    <li><a href="javascript:;">Second level item two</a></li>
                    <li><a href="javascript:;">Second level item three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-tcoggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 4</a>
              <ul class="dropdown-menu open">
                <li><a href="javascript:;">Menu item one</a></li>
                <li><a href="javascript:;">Menu item two</a></li>
                <li><a href="javascript:;">Menu item three</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:;"><span class="tmicon tmicon-caret-right"></span>Menu item four</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;">Second level item one</a></li>
                    <li><a href="javascript:;">Second level item two</a></li>
                    <li><a href="javascript:;">Second level item three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="fixed-top-content">
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    </body>
</html>
