<section class="area-charts-example">
	<p>Area charts are perfect when communicating an overall trend, as opposed to individual values. Use a stacked area chart for multiple data series with part-to-whole relationships or for cumulative series of values.</p>
	<h5>Types of Area Chart</h5>
	<p>There are three main variations on this chart, and each has its best use, depending on the situation.</p>
  	<ul class="description">
    	<li><strong>Standard Area Chart:</strong> This is best used to show or compare a quantitative progression over time. In cases where many data series are to be graphed, a line chart is usually a more legible choice.</li>
    	<li><strong>Stacked Area Chart:</strong> This is best used to visualize part-to-whole relationships, helping show how each category contributes to the cumulative total.</li>
    	<li><strong>100% Stacked Area Chart:</strong> This is best used to show distribution of categories as parts of a whole, where the cumulative total is unimportant.</li>
  	</ul>
</section>