<section class="css-reference">
  <h5>Token field container</h5>
  <p>Wrap the tag within a <code data-tag="div"></code> element.</p>
  <pre>
    <style data-selector=".tokenfield"></style>
  </pre>
  <pre data-title="Focus state:">
    <style data-selector=".tokenfield.focus"></style>
  </pre>
  <h5>Input within token field container</h5>
  <pre>
    <style data-selector=".tokenfield .token-input"></style>
  </pre>
  <pre data-title=":focus">
    <style data-selector=".tokenfield .token-input:focus"></style>
  </pre>
  <pre data-title="Placeholder">
    <style data-selector=".tokenfield .token-input.placeholder">When token field container is empty</style>
  </pre>
</section>
<section class="form-token-example">
  <p>Users can use tokens to input multiple values in a field. A token field (or tokens) is like an input field with tags. For more information, see <a href="http://tw-hiesrv.tw.trendnet.org/uiwww/segment/01_enterprise/ENT_UX_Go/Style%20Portal%20Guidelines/Component%20Interaction%20Design/Token%20Field/html/token_field.html" target="_blank">Interaction Flowchart</a>.</p>
	<h5>Basic</h5>
  <input type="text" class="form-control input-width-lg" id="tags" value="Hello, World, Example, Tags" />
	<h5>Editable</h5>
  <input type="text" class="form-control input-width-lg" id="editTags" value="1.10.2.11, 1.10.2.12, 10.19.148.12" />
  <h5>Validation and error handling</h5>
  <div class="validation-example">
    <div class="tokenfield form-control form-invalid" style="width: 512px;">
      <div class="token"><span class="token-label">1.10.2.11</span><a href="javascript:;" class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></a></div>
      <div class="token"><span class="token-label">1.10.2.12</span><a href="javascript:;" class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></a></div>
      <div class="token"><span class="token-label">10.19.148.12</span><a href="javascript:;" class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></a></div>
      <div class="token token-invalid token-duplicate" data-original-title="" title=""><span class="token-label">10.19.148.12</span><a href="javascript:;" class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></a></div>
    </div>
    <span class="help-block help-block-invalid help-block-with-icon"><span class="tmicon tmicon-warning-circle tmicon-color-error"></span><span class="invalid-text">There are invalid entries.</span></span>
  </div>
</section>