<section class="css-reference">
  <h5>Light tabs</h5>
  <pre>
    <style data-selector=".nav-pills-horizontal > li" data-previous-selector=".nav-pills > li"></style>
  </pre>
  <pre data-title="Leave space between tabs">
    <style data-selector=".nav-pills-horizontal > li + li"></style>
  </pre>

  <h5>Light tab links</h5>
  <pre>
    <style data-selector=".nav-pills > li > a"></style>
  </pre>
  <pre>
    <style data-selector=".nav-pills-horizontal > li > a"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".nav-pills-horizontal > li > a:hover"></style>
  </pre>
  <pre data-title=":focus">
    <style data-selector=".nav-pills-horizontal > li > a:focus"></style>
  </pre>
  <pre data-title="When a tab is active">
    <style data-selector=".nav-pills-horizontal > li.active > a:hover"></style>
  </pre>
</section>

<section class="tab-example">
  <p>Use when the tabs need less emphasis in relation to other navigational elements.</p>

	<ul class="nav nav-pills nav-pills-horizontal">
		<li class="active"><a href="#Item1" aria-controls="Item1" role="tab" data-toggle="tab">Item1</a></li>
		<li><a href="#Item2" aria-controls="Item2" role="tab" data-toggle="tab">Item2</a></li>
		<li><a href="#Item3" aria-controls="Item3" role="tab" data-toggle="tab">Item3</a></li>
		<li><a href="#Item4" aria-controls="Item4" role="tab" data-toggle="tab">Item4</a></li>
	</ul>
</section>