<section class="css-reference">
  <h5>In-panel tabs wrapper</h5>
  <pre>
    <style data-selector=".nav-justified"></style>
  </pre>

  <h5>In-panel tabs</h5>
  <pre>
    <style data-selector=".nav-justified > li"></style>
  </pre>

  <h5>In-panel tab item links</h5>
  <pre>
    <style data-selector=".nav-justified > li > a"></style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".nav-justified > li > a:hover"></style>
  </pre>
  <pre data-title="Prevent double borders between tabs">
    <style data-selector=".nav-justified > li + li > a"></style>
  </pre>
  <pre data-title="When a tab is active">
    <style data-selector=".nav-justified > li.active > a:hover"></style>
  </pre>
</section>

<section class="tab-example">
  <p>The width of each in-panel tab should be the length of the window divided by the total number of tabs.</p>
	<div class="justified-tabs-example">
		<ul class="nav nav-justified">
			<li class="active"><a href="#Item1" aria-controls="Item1" role="tab" data-toggle="tab">Item1</a></li>
			<li><a href="#Item2" aria-controls="Item2" role="tab" data-toggle="tab">Item2</a></li>
			<li><a href="#Item3" aria-controls="Item3" role="tab" data-toggle="tab">Item3</a></li>
			<li><a href="#Item4" aria-controls="Item4" role="tab" data-toggle="tab">Item4</a></li>
		</ul>
		<!-- Tab panes -->
	  	<div class="tab-content">
	    	<div role="tabpanel" class="tab-pane active"></div>
	    	<div role="tabpanel" class="tab-pane"></div>
	    	<div role="tabpanel" class="tab-pane"></div>
	    	<div role="tabpanel" class="tab-pane"></div>
	  	</div>
	</div>
</section>