<section class="css-reference">
  <h5>Vertical scrollable container</h5>
  <p>Wrap the table rows within a <code data-tag="div"></code> element and specify the height.</p>
  <pre>
    <style data-selector=".table-with-scrollbar.sb-v .table-scrollable">Determine the max height according to product requirements</style>
  </pre>
  <h5>Vertical scrollable container with a table</h5>
  <pre>
    <style data-selector=".table-with-scrollbar.sb-v .table-scrollable .table"></style>
  </pre>
  <h5>Vertical scrollable container with table cells</h5>
  <pre data-title="Cells in the first table row">
    <style data-selector=".table-with-scrollbar.sb-v .table-scrollable .table > tbody > tr:first-child > td"></style>
  </pre>
  <pre data-title="Cells in the last table row">
    <style data-selector=".table-with-scrollbar.sb-v .table-scrollable .table > tbody > tr:last-child > td"></style>
  </pre>
  <h5>Fixed column container</h5>
  <pre>
    <style data-selector=".table-with-scrollbar.sb-h .fixed-column">Determine the width according to product requirements</style>
  </pre>
  <h5>Fixed column container with table cells</h5>
  <pre>
    <style data-selector=".table-with-scrollbar.sb-h .fixed-column .table > thead > tr > th"></style>
  </pre>
  <h5>Horizontal scrollable container</h5>
  <p>Wrap the table within a <code data-tag="div"></code> element and specify the height.</p>
  <pre>
    <style data-selector=".table-with-scrollbar.sb-h .table-horizontal-scrollable">Determine the max width according to product requirements</style>
  </pre>
  <h5>Horizontal scrollable container with a table</h5>
  <pre>
    <style data-selector=".table-with-scrollbar.sb-h .table-horizontal-scrollable .table"></style>
  </pre>
  <h5>Horizontal scrollable container with table cells</h5>
  <pre data-title="Cells in the first table column">
    <style data-selector=".table-with-scrollbar.sb-h .table-horizontal-scrollable .table > tbody > tr > td:first-child"></style>
  </pre>
  <pre data-title="Cells in the last table column">
    <style data-selector=".table-with-scrollbar.sb-h .table-horizontal-scrollable .table > tbody > tr > td:last-child"></style>
  </pre>
</section>
<section class="fixed-header-example">
  <p>Use a scroll bar to contain data that is longer than the provided space.</p>
  <ul>
      <li>
        <strong>Vertical scroll bar:</strong> A vertical scroll bar allows the table header and footer to remain visible while the table is being scrolled.
      </li>
      <li>
        <strong>Horizontal scroll bar:</strong> If you have to include a large number of columns in a table, freeze the primary column to one side of the table for easy reference. Change the color of the fixed column's right border to indicate that it is frozen.<span class="help-block">Note: A primary column is the one to which other columns are associated. For example, in the second table below, the Display Name column is the primary column.</span>
      </li>
  </ul>
  <div class="table-with-scrollbar sb-v">
    <div class="div-header">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Deployment Plan</th>
              <th>Type</th>
              <th>Appliance</th>
              <th>Deployed</th>
              <th>Creator</th>
            </tr>
          </thead>
      </table>
    </div>
    <div class="table-scrollable mCustomScrollbar mCustomScrollbar-dragger-fixed">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDEI_01</td>
            <td>Firmware</td>
            <td>2</td>
            <td>2016-03-10 10:12:36</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>TW_VA Image_DDAN</td>
            <td>Virtual Analyzer image</td>
            <td>22</td>
            <td>2016-03-08 20:12:22</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>CN_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>86</td>
            <td>2016-03-05 05:20:15</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>CN_Patch_01_DDAN</td>
            <td>Hotfix</td>
            <td>2</td>
            <td>2016-02-20 21:00:01</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>CN_Patch_02_DDEI</td>
            <td>Firmware</td>
            <td>6</td>
            <td>2016-02-18 12:50:32</td>
            <td>Operator</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class= "table-pagination">
      <div class="table-pagination-block">
        <div class="pagination-records">1-10 / 200</div>
        <div class="dropdown">
          <button class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" type="button">
            <span class="tmicon tmicon-caret-down"></span>10 per page
          </button>
          <ul class="dropdown-menu dropdown-menu-multi-select">
            <li class="selected"><a href="javascript:;">10</a></li>
            <li><a href="javascript:;">25</a></li>
            <li><a href="javascript:;">50</a></li>
            <li><a href="javascript:;">100</a></li>
          </ul>
        </div>
        <div class="pagination-input"><input type="text" value="1" class="form-control"> / 20</div>
        <div>
          <ul class="pagination">
            <li>
              <a href="javascript:;" aria-label="Previous">
                <span class="tmicon tmicon-angle-left" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="javascript:;" aria-label="Next">
                <span class="tmicon tmicon-angle-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="table-with-scrollbar sb-h">
    <div class="fixed-column pull-left">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Display Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-link"><a href="javascript:;">DDAN-CLUSTERS-01</a></td>
          </tr>
          <tr>
            <td class="td-link"><a href="javascript:;">DDAN-HA-MASTER-01</a></td>
          </tr>
          <tr>
            <td class="td-link"><a href="javascript:;">DDI-01</a></td>
          </tr>
          <tr>
            <td class="td-link"><a href="javascript:;">DDI-02</a></td>
          </tr>
          <tr>
            <td class="td-link"><a href="javascript:;">DDEI-01</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-horizontal-scrollable pull-left mCustomHorizontalScrollbar mCustomScrollbar-dragger-fixed">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>VA Image Name - 1</th>
            <th>VA Platform - 1</th>
            <th>VA Image Name - 2</th>
            <th>VA Platform - 2</th>
            <th>VA Image Name - 3</th>
            <th>VA Platform - 3</th>
            <th>Last Deployed Plan</th>
            <th>Product Name</th>
            <th>Agent Version</th>
            <th>Product GUID</th>
            <th>Registered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>31.8.0.1</td>
            <td>Windows_7_SP1_x86.ova</td>
            <td>Microsoft Windows 7 Professional SP1 Build 7601 32bit</td>
            <td>Windows_8.1_x64.ova</td>
            <td>Microsoft Windows 8.1 Enterprise Build 9600 64bit</td>
            <td>N/A</td>
            <td>N/A</td>
            <td class="td-link"><a href="javascript:;">DDAN 5.8</a></td>
            <td>Deep Discovery Analyzer</td>
            <td>1.1.0.1048</td>
            <td>1F57E0DE-D7CC-4614-B9A8-66BD45F49C88</td>
            <td>2016-06-02 23:15:00</td>
          </tr>
          <tr>
            <td>31.8.0.1</td>
            <td>Windows_7_SP1_x86.ova</td>
            <td>Microsoft Windows 7 Professional SP1 Build 7601 32bit</td>
            <td>Windows_8.1_x64.ova</td>
            <td>Microsoft Windows 8.1 Enterprise Build 9600 64bit</td>
            <td>N/A</td>
            <td>N/A</td>
            <td class="td-link"><a href="javascript:;">DDAN 6.0</a></td>
            <td>Deep Discovery Analyzer</td>
            <td>1.1.0.1048</td>
            <td>9CC8C72A-8841-4B2A-9227-893B87933836</td>
            <td>2016-04-18 23:17:20</td>
          </tr>
          <tr>
            <td>1.54.0.1</td>
            <td>Windows_7_SP1_x86.ova</td>
            <td>Microsoft Windows 7 Professional SP1 Build 7601 32bit</td>
            <td>Windows_8.1_x64.ova</td>
            <td>Microsoft Windows 8.1 Enterprise Build 9600 64bit</td>
            <td>N/A</td>
            <td>N/A</td>
            <td class="td-link"><a href="javascript:;">DDI 3.8 SP5</a></td>
            <td>Deep Discovery Inspector</td>
            <td>1.1.0.1048</td>
            <td>5CB2E852-C419-4182-B05D-D03CB5E451C0</td>
            <td>2016-04-17 21:20:18</td>
          </tr>
          <tr>
            <td>1.54.0.2</td>
            <td>win7sp1-en</td>
            <td>Microsoft Windows 7 Professional SP1 Build 7601 32bit</td>
            <td>Windows_8.1_x64.ova</td>
            <td>Microsoft Windows 8.1 Enterprise Build 9600 64bit</td>
            <td>N/A</td>
            <td>N/A</td>
            <td class="td-link"><a href="javascript:;">DDI 3.8 SP5</a></td>
            <td>Deep Discovery Inspector</td>
            <td>1.1.0.1048</td>
            <td>6BD8F4059EBF-442B9728-3CA4-8AF4-1538</td>
            <td>2016-03-20 21:00:55</td>
          </tr>
          <tr>
            <td>1.56.0.1</td>
            <td>MAK_win7sp1en_offices_noab_ID8</td>
            <td>N/A</td>
            <td>xp-sp3</td>
            <td>Microsoft Windows 8.1 Enterprise Build 9600 64bit</td>
            <td>N/A</td>
            <td>N/A</td>
            <td class="td-link"><a href="javascript:;">DDEI 2.6</a></td>
            <td>Deep Discovery Email Inspector</td>
            <td>1.1.0.1048</td>
            <td>A975331E-D564-4500-AEA5-05486AA6FEEE</td>
            <td>2016-03-11 12:34:02</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class= "table-pagination">
      <div class="table-pagination-block">
        <div class="pagination-records">1-5 / 5</div>
        <div class="dropdown">
          <button class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" type="button">
            <span class="tmicon tmicon-caret-down"></span>10 per page
          </button>
          <ul class="dropdown-menu dropdown-menu-multi-select">
            <li class="selected"><a href="javascript:;">10</a></li>
            <li><a href="javascript:;">25</a></li>
            <li><a href="javascript:;">50</a></li>
            <li><a href="javascript:;">100</a></li>
          </ul>
        </div>
        <div class="pagination-input"><input type="text" value="1" class="form-control"> / 1</div>
        <div>
          <ul class="pagination">
            <li>
              <a href="javascript:;" aria-label="Previous">
                <span class="tmicon tmicon-angle-left" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="javascript:;" aria-label="Next">
                <span class="tmicon tmicon-angle-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>