<!DOCTYPE HTML>
<html>
    <head>
        <link href="../../css/main.css" rel="stylesheet">
        <link href="table-fixed-top-example.css" rel="stylesheet">
    </head>
    <body class="theme-minimalism mode-dark table-fixed-example">
    <section>
      <header class="site-header">
          <a href="javascript:;" class="banner">
            <!--img src="/themes/minimalism/images/tball.svg" alt="Style Portal"-->
            <h1 class="site-title">Product Name</h1>
          </a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;"><span class="tmicon tmicon-alert"></a></li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="tmicon tmicon-user"></span>Admin_TW<span class="tmicon tmicon-caret-down"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">Change Password</a></li>
                <li><a href="javascript:;">Log off</a></li>
              </ul>
            </li>
          </ul>
      </header>
      <nav class="clearfix" data-spy="affix" data-offset-top="64">
        <div class="breadcrumb-header">
          <a href="javascript:;"><span class="icon icon-t-ball"></span></a>
        </div>
        <ol class="breadcrumb">
          <li><a href="#">Tables</a></li>
          <li class="active">Fixed Elements</li>
        </ol>
      </nav>
      <div>
        <div class="div-header" data-spy="affix" data-offset-top="64">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Deployment Plan</th>
                <th>Type</th>
                <th>Appliance</th>
                <th>Deployed</th>
                <th>Creator</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="div-body">
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <td>Hotfix_DDEI</td>
                <td>Hotfix</td>
                <td>8</td>
                <td>2016-06-02 23:15:00</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>Hotfix_DDI_01</td>
                <td>Virtual Analyzer image</td>
                <td>12</td>
                <td>2016-04-18 23:17:20</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>TW_Patch_01_DDI</td>
                <td>Firmware</td>
                <td>29</td>
                <td>2016-04-17 21:20:18</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>Patch_02_DDI</td>
                <td>Hotfix</td>
                <td>10</td>
                <td>2016-03-20 21:00:55</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>JP_Hotfix_DDI</td>
                <td>Hotfix</td>
                <td>7</td>
                <td>2016-03-11 12:34:02</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>JP_Hotfix_DDEI_01</td>
                <td>Firmware</td>
                <td>2</td>
                <td>2016-03-10 10:12:36</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>TW_VA Image_DDAN</td>
                <td>Virtual Analyzer image</td>
                <td>22</td>
                <td>2016-03-08 20:12:22</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>CN_Hotfix_DDI</td>
                <td>Hotfix</td>
                <td>86</td>
                <td>2016-03-05 05:20:15</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>CN_Patch_01_DDAN</td>
                <td>Hotfix</td>
                <td>2</td>
                <td>2016-02-20 21:00:01</td>
                <td>Operator</td>
              </tr>
              <tr>
                <td>CN_Patch_02_DDEI</td>
                <td>Firmware</td>
                <td>6</td>
                <td>2016-02-18 12:50:32</td>
                <td>Operator</td>
              </tr>
            </tbody>
        </table>
        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    </body>
</html>
