<section class="css-reference">
  <h5>Chart Wrapper</h5>
  <pre>
    <style data-selector=".chart-container"></style>
  </pre>
  <h5>Axes</h5>
  <pre>
    <style data-selector=".style-portal .highcharts .axis"></style>
  </pre>
  <pre data-title="Chart grid line">
     <style data-selector=".style-portal .highcharts .axis.yAxis"></style>
  </pre>
  <pre data-title="xAxis">
     <style data-selector=".style-portal .highcharts .axis.xAxis"></style>
  </pre>
  <h5>Axes Title Container</h5>
  <pre>
    <style data-selector=".style-portal .highcharts .axis .chart-title"></style>
  </pre>
  <h5>Series Bar Markers</h5>
  <pre>
     <style data-selector=".style-portal .highcharts .bar-chart .series"></style>
  </pre>
  <h5>Hover State for Series Bar Markers</h5>
  <p>Increase 12% bar maker brightness.</p>
  <h5>Tooltip Wrapper</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table"></style>
  </pre>
  <pre>
     <style data-selector=".style-portal .highcharts .tooltip">For style information on tooltip shadow, apply the default style if using the highcharts library; otherwise, use the following style</style>
  </pre>
  <h5>Tooltip arrow class</h5>
  <p>If the highcharts library is used, apply the default style for the tooltip arrow. Otherwise, refer to <a href="#/styles/{{theme}}/{{version}}/0cc7f2c3-4690-4f66-89b9-33ab469e8b5f">Tooltips</a>.</p>
  <h5>Tooltip Title</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > thead > tr > td"></style>
  </pre>
  <h5>Tooltip Series Name</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:first-child"></style>
  </pre>
  <h5>Tooltip Series Value</h5>
  <pre>
     <style data-selector=".highcharts-tooltip > span > table > tbody > tr > td:last-child"></style>
  </pre>
</section>
<section class="bar-charts-example basic-bar-chart">
	<div id="basic-bar-chart-container" class="chart-container bar-chart-container-with-xaxis-title"></div>
	<section class="chart-title">
        <span>Total Scanned Traffic (GB)</span>
    </section>
</section>