<section class="css-reference">
	<h5>Series Bar Markers</h5>
	<pre>
		<style data-selector=".style-portal .highcharts .bar-chart .series"></style>
	</pre>
	<pre>
		<style data-selector=".style-portal .highcharts .bar-chart .series.stacked">Space between the stacked bar maker.</style>
	</pre>
	<h5>Tooltip Wrapper in Basic Stacked Bar Chart</h5>
  	<pre>
     	<style data-selector=".style-portal .highcharts .area-tooltips"></style>
  	</pre>
</section>
<section class="bar-charts-example stacked-bar-chart">
	<div id="stacked-bar-chart-container" class="chart-container bar-chart-container"></div>
	<section class="chart-title">
        <span>Total Scanned Traffic (GB)</span>
    </section>
	<section class="legend">
        <ul></ul>
    </section>
</section>