<section class="bar-charts-example">
	<p>Bar charts are used to compare data across categories. They are especially effective when you have numerical data that can be categorized, for example, volume of scanned traffic in different continents.</p>
	<div class="lists-unordered">
		<ul>
			<li>Use <a href="#/styles/{{theme}}/{{version}}/dffba378-6723-4701-9087-3d527c831509">qualitative colors</a> to display your data. Use the same color for data sets of the same variable.</li>
			<li>Ensure that the numerical axis starts from zero.</li>
			<li>Avoid use long labels. Truncate your label and add an ellipsis (...) when the label is too long to fit into the provided space.</li>
			<li>Avoid using gradient color and 3-D bars.</li>
			<li>Do not show legends when there is only one category.</li>
		</ul>
	</div>
</section>