<section class="tables-style-example">
  <p>Tables are a structured way of presenting large volumes of data in a manner that makes the data readable and comparable.</p>
  <div class="lists-unordered">
    <ul>
      <li><strong>Content alignment:</strong> Content should be left aligned except when using a different alignment option helps with comprehension. For example, numeric data is easier to scan when right aligned. The alignment of column headers matches their content.</li>
      <li><strong>Columns:</strong> To help users read tables, order the columns by importance from left to right. Provide columns of useful metadata and keep the number of columns to the minimum. Avoid scroll horizontal scrolling in default delivery on desktop screens. Use optimum column size to avoid truncating information.</li>
    </ul>
  </div>
</section>