<section class="css-reference">
  <h5>Plain tables</h5>
  <p>Extend the standard <code data-tag="table"></code> style to define a plain table.</p>
  <pre>
    <style data-selector=".table-minimalism"></style>
  </pre>

  <h5>Plain table headers</h5>
  <p>A plain table header can be created with a <code data-tag="th"></code> element wrapped within a <code data-tag="tr"></code>element.</p>
  <pre>
    <style data-selector=".table-minimalism > thead > tr > th"></style>
  </pre>
  <pre>
    <style data-selector=".table > thead > tr > th"></style>
  </pre>
  <pre>
    <style data-selector=".table > thead:first-child > tr:first-child > th"></style>
  </pre>

  <h5>Plain table cells</h5>
  <p>A plain table cell can be created with a <code data-tag="td"></code> element wrapped within a <code data-tag="tr"></code>element.</p>
  <pre>
    <style data-selector=".table > tbody > tr > td"></style>
  </pre>
  <pre>
    <style data-selector=".table-minimalism > tbody > tr > td"></style>
  </pre>

</section>

<section class="tables-style-example">
	<p>Plain tables can be used to reduce visual clutter.</p>
	<table class="table table-minimalism">
        <thead>
          <tr>
            <th>Deployment Plan</th>
            <th>Type</th>
            <th>Appliance</th>
            <th>Deployed</th>
            <th>Creator</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
        </tbody>
    </table>
</section>