<section class="css-reference">

  <h5>A table cell with extra padding</h5>
  <pre>
    <style data-selector=".table-roomy > thead > tr > th" data-previous-selector=".table-comfortable > thead > tr > th"></style>
  </pre>

</section>

<section class="tables-style-example">
	<p>Use extra padding for a more roomy display of data.</p>
	<table class="table table-bordered table-roomy">
        <thead>
          <tr>
            <th>Deployment Plan</th>
            <th>Type</th>
            <th>Appliance</th>
            <th>Deployed</th>
            <th>Creator</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Hotfix_DDEI</td>
            <td>Hotfix</td>
            <td>8</td>
            <td>2016-06-02 23:15:00</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>Hotfix_DDI_01</td>
            <td>Virtual Analyzer image</td>
            <td>12</td>
            <td>2016-04-18 23:17:20</td>
            <td>Administrator</td>
          </tr>
          <tr>
            <td>TW_Patch_01_DDI</td>
            <td>Firmware</td>
            <td>29</td>
            <td>2016-04-17 21:20:18</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>Patch_02_DDI</td>
            <td>Hotfix</td>
            <td>10</td>
            <td>2016-03-20 21:00:55</td>
            <td>Operator</td>
          </tr>
          <tr>
            <td>JP_Hotfix_DDI</td>
            <td>Hotfix</td>
            <td>7</td>
            <td>2016-03-11 12:34:02</td>
            <td>Operator</td>
          </tr>
        </tbody>
    </table>
</section>