<section class="css-reference">

  <h5>Date range wrapper</h5>
  <p>About the date range wrapper style, please refer to <a href="#/styles/{{theme}}/{{version}}/4ec8071d-3dc0-4c63-90d7-9b41cb87a423">Input Groups</a>.</p>

</section>

<section class="date-time-picker-example">
	<p>Users can type or select dates in the calendar to form a date range.</p>
	<p>For detailed information, see <a href="https://wiki.jarvis.trendmicro.com/pages/viewpage.action?pageId=261109313#Date/TimePicker-DateRangePicker" target="_blank">Date Range Picker</a>.</p>
	<div class="input-group">
		<input id="datepicker-start-input" type="text" class="form-control" placeholder="yyyy-mm-dd" data-date-picker="date-picker-start">
    <span class="input-group-addon">~</span>
    <input id="datepicker-end-input" type="text" class="form-control" placeholder="yyyy-mm-dd" data-date-picker="date-picker-end">
	</div>
</section>