<section class="date-time-picker-example">
	<p>A time picker allows the user to select a time. A time picker should:</p>
	<ul class="description">
		<li>Support up-and-down selection using a keyboard.</li>
		<li>Show a placeholder help text to indicate the time format: (hh:mm:ss).</li>			
	</ul>
	<p>For detailed information, see <a href="https://wiki.jarvis.trendmicro.com/pages/viewpage.action?pageId=261109313#Date/TimePicker-TimePicker" target="_blank">Time Picker</a>.</p>	
	<input id="time-picker" type="text" class="form-control input-width-xs" value="12:00:00">
</section>