<section class="css-reference">
  <p>For details on form control styles, see Form Elements.</p>
  <h5>Label class for required field</h5>
  <p>Add an asterisk to the content property on the label class pseudo-element.</p>
  <pre>
    <style data-selector=".label-required:after"></style>
  </pre>
  <h5>Help text class</h5>
  <p>Use a new block for help text. It is recommanded to use a <code data-tag="span"></code> element</p>
  <pre>
    <style data-selector=".help-block"></style>
  </pre>
  <pre data-title="inValid">
    <style data-selector=".help-block-invalid"></style>
  </pre>
  <pre data-title="Help text with icon">
    <style data-selector=".help-block.help-block-with-icon"></style>
  </pre>
  <h5>Icon</h5>
  <p>The icon class should be only used on elements that do not contain text or any child elements. It is recommanded to use the <code data-tag="span"></code> element.</p>
  <pre data-title="For Image icon:">
    <style data-selector=".help-block .tmicon">Leave a space between icon and text. Put an icon on the vertical center of the help container.</style>
  </pre>
</section>

<section class="form-validation-example">
  <p>For an invalid input, the error will be indicated right below the input field.</p>
	<form class="form-horizontal" action="javascript:void(0)">
	  <div class="form-group">
	    <label class="control-label label-required" for="errorInput">Input error:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control form-invalid" id="errorInput" aria-describedby="errorBlock">
	    	<span id="errorBlock" class="help-block help-block-invalid help-block-with-icon"><span class="tmicon tmicon-warning-circle tmicon-color-error"></span>Required field.</span>
		</div>
	  </div>
	</form>
</section>