<section class="css-reference">
  <h5>Multiple input files</h5>
  <p>Add a <code>multiple</code> attribute to the <code data-tag="input"></code> element.</p>

  <h5>File information list container</h5>
  <p>Wrap file information with a container. We recommend using a <code data-tag="ul"></code> element.</p>
  <pre>
    <style data-selector=".multiple-file-info"></style>
  </pre>

  <h5>File information container</h5>
  <pre>
    <style data-selector=".multiple-file-info > li"></style>
  </pre>
  <pre data-title="More than one file list">
    <style data-selector=".multiple-file-info > li + li">Such as li + li</style>
  </pre>

  <h5>File name</h5>
  <pre>
    <style data-selector=".multiple-file-info .file-name"></style>
	</pre>

	<h5>Cancel icon class</h5>
	<pre data-title="Icon color and position">
		<style data-selector=".tmicon-visible-low"></style>
    <style data-selector=".multiple-file-info .tmicon-close-s"></style>
	</pre>
	<pre data-title=":hover">
		<style data-selector=".tmicon-visible-low.tmicon-hoverable:hover"></style>
  </pre>
</section>

<section class="file-upload-example">
  <p>For a multi file upload, more than one file is selected from a pop-up file explorer.</p>

	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="control-label">File:</label>
	    <div class="control-wrapper">
	     	<label for="multifileupload1" class="btn btn-default">Select Files...</label>
        	<input id="multifileupload1" type="file" name="file[]" multiple>
		</div>
	  </div>
	  <div class="form-group">
	    <label class="control-label">File:</label>
	    <div class="control-wrapper">
	    	<label for="multifileupload2" class="btn btn-default">Select Files...</label>
	    	<input id="multifileupload2" type="file" name="file[]" multiple>
    		<ul class="multiple-file-info">
    			<li>
    				<span class="file-name">IMG_1234.png </span><span class="file-size">(36 MB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span>
    				<span id="errorBlock" class="help-block help-block-invalid help-block-with-icon"><span class="tmicon tmicon-warning-circle tmicon-color-error"></span>Incorrect file format.</span>
    			</li>
    			<li><span class="file-name">DDEI_2.5_en_hfb1234.tar </span><span class="file-size">(829 KB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></li>
    			<li><span class="file-name">DDEI_2.8_en_hfb5678.tar </span><span class="file-size">(970 KB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></li>
    			<li><span class="file-name">DDEI_3.0_en_hfb.tar </span><span class="file-size">(120 KB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></li>
    			<li><span class="file-name">DeepDiscoveryInspector_381_lx_en_criticalpatch1232890.tar </span><span class="file-size">(140 KB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span></li>
    		</ul>
		</div>
	  </div>
	</form>
	<div class="example">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="control-label">File:</label>
		    <div class="control-wrapper">
		    	<label for="multifileupload" class="btn btn-default">Select Files...</label>
	        	<input id="multifileupload" type="file" name="file[]" data-file-upload="multiFile" multiple>
	        	<ul id="multifileInfo" class="multiple-file-info"></ul>
				</div>
		  </div>
		</form>
	</div>
</section>