<section class="css-reference">
	<h5>File upload container</h5>
  <p>Create the container class, and wrap the input file, file upload buttong, and file information container with a <code data-tag="div"></code> element.</p>
  <pre>
    <style data-selector=".form-horizontal .form-group .control-wrapper"></style>
  </pre>
  <h5>Input file</h5>
  <p>Use the <code data-tag="input"></code> element with certainly <code>id</code> attribute.</p>
  <pre>
    <style data-selector="input[type=file]">In order to customized input file, hide the input file type</style>
  </pre>
  <h5>File upload button</h5>
  <p>Use the <code data-tag="label"></code> element with <code>for</code> attribute which refer to <code data-tag="input"></code> ID. This <code data-tag="label"></code> should apply Button style, please refer to <a href="#/styles/{{theme}}/{{version}}/e5bd7778-d707-420b-ac64-4a55da161b83">Buttons</a>.</p>
  <h5>File information container</h5>
  <p>Use block-level elements on information containers which should wrap the file name, file size, and the cancel icon.</p>
  <pre>
    <style data-selector=".file-info-container"></style>
  </pre>
  <h5>File size</h5>
  <pre>
    <style data-selector=".file-info-container .file-size"></style>
  </pre>
  <h5>Cancel icon class</h5>
	<pre data-title="Icon color and position">
		<style data-selector=".tmicon-visible-low"></style>
    <style data-selector=".file-info-container .tmicon-close-s"></style>
	</pre>
	<pre data-title=":hover">
		<style data-selector=".tmicon-visible-low.tmicon-hoverable:hover"></style>
  </pre>
</section>

<section class="file-upload-example">
  <p>For a single file upload, one file is selected from a pop-up file explorer.</p>

	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="control-label">File:</label>
	    <div class="control-wrapper">
	   		<input id="fileupload1" type="file" name="file">
	     	<label for="fileupload1" class="btn btn-default">Select Files...</label>
		</div>
	  </div>
	  <div class="form-group">
	    <label class="control-label">File:</label>
	    <div class="control-wrapper">
    		<input id="fileupload2" type="file" name="file">
	    	<label for="fileupload2" class="btn btn-default">Select Files...</label>
	    	<div class="file-info-container">
	    		<span>IMG_1234.png </span><span class="file-size">(36 MB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span>
	    	</div>
        	<span id="errorBlock" class="help-block help-block-invalid help-block-with-icon"><span class="tmicon tmicon-warning-circle tmicon-color-error"></span>Incorrect file format.</span>
		</div>
	  </div>
	  <div class="form-group">
	    <label class="control-label">File:</label>
	    <div class="control-wrapper">
    		<input id="fileupload3" type="file" name="file">
	    	<label for="fileupload3" class="btn btn-default">Select Files...</label>
	    	<div class="file-info-container">
	    		<span>DDEI_2.5_en_hfb1234.tar </span><span class="file-size">(829 KB)</span><span class="tmicon tmicon-close-s tmicon-visible-low tmicon-hoverable"></span>
	    	</div>
		</div>
	  </div>
	</form>
	<div class="example">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="control-label">File:</label>
		    <div class="control-wrapper">
	    		<input id="fileupload" type="file" name="file" data-file-upload="singleFile">
		    	<label for="fileupload" class="btn btn-default">Select Files...</label>
		    	<div id="fileInfo" class="file-info-container"></div>
			</div>
		  </div>
		</form>
	</div>
</section>