<section class="css-reference">
  <h5>Draggable indicator</h5>
	<p>Wrap an indicator class using <code data-tag="span"></code> within the first column to indicate that a row can be dragged.</p>
  <pre>
    <style data-selector=".table-row-draggable .ui-sortable-handle:hover td .draggable-indicator"></style>
  </pre>
	<pre data-title=":before">
    <style data-selector=".table-row-draggable .ui-sortable-handle:hover td .draggable-indicator:before"></style>
  </pre>
  <h5>Helper</h5>
	<p>Use this style on the dragged row.</p>
	<pre>
    <style data-selector=".table-row-draggable-helper"></style>
	</pre>
	<pre data-title="dragged row cells">
    <style data-selector=".table-row-draggable-helper > tbody > tr > td"></style>
  </pre>
	<h5>Placeholder</h5>
	<p>Use this style (gray background) to indicate where a dragged row will be dropped.</p>
  <pre>
    <style data-selector=".table-row-draggable .table-draggable-placeholder td">remove table cell border</style>
  </pre>
</section>

<section class="drag-drop-row-example">
	<p>Tables with draggable rows allow users to rearrange the order of records within tables.</p>
  <div class="lists-unordered">
		<ul>
			<li>Only allow one row to be dragged at a time.</li>
			<li>When mouseover a draggaboe row, display a visual hint (a draggable indicator icon).</li>
			<li>When dragging a row or mouseover a draggable indicator icon, display a visual hint (a move cursor).</li>
			<li>Display a visual hint to indicate where a dragged row will be dropped.</li>
			<li>Drag-and-drop tables should have fewer than 50 rows and not display pagination controls.</li>
		</ul>
	</div>
	<div class="table-draggable-container">
		<table class="table table-bordered table-hover table-row-selection table-row-draggable">
			<thead>
				<tr>
					<th class="gutter">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-ctrl">
							<label for="table-draggable-checkbox-ctrl"></label>
						</div>
					</th>
					<th>Priority</th>
					<th>User</th>
					<th>Applied Rules</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-1">
							<label for="table-draggable-checkbox-row-1"></label>
						</div>
					</td>
					<td>1</td>
					<td class="td-link"><a href="javascript:;">Alice_Hacker, Tom_Random, Juan_Castrol</a></td>
					<td>1 Block, 2 Allow</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-2">
							<label for="table-draggable-checkbox-row-2"></label>
						</div>
					</td>
					<td>2</td>
					<td class="td-link"><a href="javascript:;">Any</a></td>
					<td>1 Block</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-3">
							<label for="table-draggable-checkbox-row-3"></label>
						</div>
					</td>
					<td>3</td>
					<td class="td-link"><a href="javascript:;">Betty_Chen, Tim_Huang</a></td>
					<td>1 Block, 1 Allow</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-4">
							<label for="table-draggable-checkbox-row-4"></label>
						</div>
					</td>
					<td>4</td>
					<td class="td-link"><a href="javascript:;">Cindy_Wang, Katy_Chiang</a></td>
					<td>1 Block, 1 Allow</td>
				</tr>
				<tr>
					<td scope="row">
						<span class="draggable-indicator"></span>
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="table-draggable-checkbox-row-5">
							<label for="table-draggable-checkbox-row-5"></label>
						</div>
					</td>
					<td>5</td>
					<td class="td-link"><a href="javascript:;">Danny_Random</a></td>
					<td>1 Allow</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>