<section class="css-reference">
  <h5>Light collapsible panels</h5>
  <p>Extend the default panel styles for Light Collapsible Panels.</p>
  <pre data-title="Panel">
    <style data-selector=".panel-group-collapse-light > .panel"></style>
  </pre>

  <pre data-title="Panel heading">
    <style data-selector=".panel-group-collapse-basic > .panel > .panel-heading:hover">:hover</style>
    <style data-selector=".panel-group-collapse-light > .panel > .panel-heading:hover[aria-expanded=true]">:hover on expaned</style>
  </pre>

  <pre data-title="Panel body">
    <style data-selector=".panel-group-collapse-light > .panel > .panel-collapse > .panel-body"></style>
  </pre>
</section>

<section>
  <p>Light collapsible panels can be used to reduce visual clutter.</p>
  <ul>
    <li>When a panel is in the "collapse" state, change the background color and the pointer cursor of the collapsible group item when the user hovers over any part of that row.</li>
    <li>When a panel is in the "expand" state, change the pointer cursor of the collapsible group item when the user hovers over any part of that row.</li>
    <li>Bold the group title in expand state to differentiate the group title from the expanded content.</li>
  </ul>

  <div class="panel-group panel-group-collapse panel-group-collapse-light" id="light-accordions" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#light-1"
        aria-expanded="true">
        <h4 class="panel-title">
          <span class="tmicon tmicon-caret-right tmicon-hoverable"></span>
          <span>Collapsible group item 1</span>
        </h4>
      </div>
      <div id="light-1" class="panel-collapse collapse in" role="tabpanel">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Original filename:</dt>
            <dd>ACME_encrybter.exe</dd>
            <dt>Location:</dt>
            <dd>C:\Program Files\Adobe\Reader11.0\Readme</dd>
            <dt>Size:</dt>
            <dd>27.6 MB</dd>
            <dt>File description:</dt>
            <dd>Acme Inc.</dd>
            <dt>File version:</dt>
            <dd>11.0.1.36</dd>
            <dt>Create time:</dt>
            <dd>04/12/2016 2:08:32 PM +0800</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#light-2"
        aria-expanded="false">
        <h4 class="panel-title">
          <span class="tmicon tmicon-caret-right tmicon-hoverable"></span>
          <span>Collapsible group item 2</span>
        </h4>
      </div>
      <div id="light-2" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Original filename:</dt>
            <dd>ACME_encrybter.exe</dd>
            <dt>Location:</dt>
            <dd>C:\Program Files\Adobe\Reader11.0\Readme</dd>
            <dt>Size:</dt>
            <dd>27.6 MB</dd>
            <dt>File description:</dt>
            <dd>Acme Inc.</dd>
            <dt>File version:</dt>
            <dd>11.0.1.36</dd>
            <dt>Create time:</dt>
            <dd>04/12/2016 2:08:32 PM +0800</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#light-3"
        aria-expanded="false">
        <h4 class="panel-title">
          <span class="tmicon tmicon-caret-right tmicon-hoverable"></span>
          <span>Collapsible group item 3</span>
        </h4>
      </div>
      <div id="light-3" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Deployment Plan</th>
                <th>Type</th>
                <th>Appliance</th>
                <th>Deployed</th>
                <th>Creator</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hotfix_DDEI</td>
                <td>Hotfix</td>
                <td>8</td>
                <td>2016-06-02 23:15:00</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>Hotfix_DDI_01</td>
                <td>Virtual Analyzer image</td>
                <td>12</td>
                <td>2016-04-18 23:17:20</td>
                <td>Administrator</td>
              </tr>
              <tr>
                <td>TW_Patch_01_DDI</td>
                <td>Firmware</td>
                <td>29</td>
                <td>2016-04-17 21:20:18</td>
                <td>Operator</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>