
<section>
  <p>Follow these rules when designing charts:</p>

  <ul>
    <li>Only use colors from the above color palettes to ensure consistent visual design.</li>
    <li>Do not use qualitative and sequentical colors in the same chart.</li>
    <li>Always use <b>Color 1</b> as the first color when you need a set of qualitative colors.</li>
    <!-- <li>Use 100% opacity for pie charts, bar charts, and line charts. Use 25% opacity for area charts.</li> -->
    <!-- <li>Use a white background for data to display better and this also makes choosing color easier.</li> -->
    <li>If you have 5 categories or less, select colors from the qualitative colors that match your purpose.</li>
    <li>If you have more than 5 categories, use qualitative colors in the recommended order.</li>
    <li>If you have 11 categories or more, apply the qualitative colors again in the recommended order.</li>
  </ul>

  <div class="row chart-diagrammatic">
    <div class="col-xs-6 col-md-4">
      <div class="placeholder" data-type="image" data-class="chart-diagrammatic-image" data-src="chart-column.png" data-width="210" data-height="202" data-alt="Column Chart"></div>
    </div>

    <div class="col-xs-6 col-md-4">
      <div class="placeholder" data-type="image" data-class="chart-diagrammatic-image" data-src="chart-lines.png" data-width="210" data-height="202" data-alt="Line Chart"></div>
    </div>

    <div class="col-xs-6 col-md-4">
      <div class="placeholder" data-type="image" data-class="chart-diagrammatic-image" data-src="chart-area.png" data-width="210" data-height="202" data-alt="Area Chart"></div>
    </div>

    <div class="col-xs-6 col-md-4">
      <div class="placeholder" data-type="image" data-class="chart-diagrammatic-image" data-src="chart-stacked.png" data-width="210" data-height="202" data-alt="Stacked Chart"></div>
    </div>

    <div class="col-xs-6 col-md-4">
      <div class="placeholder" data-type="image" data-class="chart-diagrammatic-image" data-src="chart-pie.png" data-width="210" data-height="202" data-alt="Pie Chart"></div>
    </div>

    <div class="col-xs-6 col-md-4">
      <div class="placeholder" data-type="image" data-class="chart-diagrammatic-image" data-src="chart-map.png" data-width="210" data-height="202" data-alt="Map"></div>
    </div>
  </div>
</section>