
<section>
  <p>This section introduces the three color palettes and when to use them.</p>

  <ul>
    <li><b>Qualitative colors</b>: There are 10 distinctly different colors that are used to different kinds or categories of data.</li>
    <li><b>Significant colors</b>: Use colors from this palette to indicate degrees, for example, risk levels (neutral, safe, low risk, medium risk, high risk).</li>
    <li><b>Sequential colors</b>: These are shades of  a single color used to indicate different categories in a progression of one characteristic, for example, different population ranges (0 to 500, 501 to 1000, 1001 and more, etc.).</li>
  </ul>

  <h5>Qualitative colors</h5>

  <div class="chart-color-palette clearfix">
    <div class="chart-color" data-color="#0096cc">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 1</div>
      <div class="chart-color-name">Blue</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#4cc383">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 2</div>
      <div class="chart-color-name">Green</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#fd884e">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 3</div>
      <div class="chart-color-name">Orange</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#5bd2ea">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 4</div>
      <div class="chart-color-name">Cyan</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#e56669">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 5</div>
      <div class="chart-color-name">Red</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#717eef">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 6</div>
      <div class="chart-color-name">Indigo</div>
      <div class="chart-color-hex"></div>
    </div>
  </div>

  <div class="chart-color-palette clearfix">
    <div class="chart-color" data-color="#0abfa1">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 7</div>
      <div class="chart-color-name">Teal</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#9cd22a">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 8</div>
      <div class="chart-color-name">Light Green</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#faca2a">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 9</div>
      <div class="chart-color-name">Yellow</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#d643c3">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Color 10</div>
      <div class="chart-color-name">Pruple</div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color-divider"></div>

    <div class="chart-color" data-color="#888888">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-index">Others</div>
      <div class="chart-color-name">Gray</div>
      <div class="chart-color-hex"></div>
    </div>
  </div>

  <h5>Significant colors</h5>

  <div class="chart-color-palette clearfix">
    <div class="chart-color" data-color="#0096cc">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
      <div class="chart-color-note">(Neutral)</div>
    </div>

    <div class="chart-color" data-color="#4cc383">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
      <div class="chart-color-note">(Safe)</div>
    </div>

    <div class="chart-color" data-color="#faca2a">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
      <div class="chart-color-note">(Low)</div>
    </div>

    <div class="chart-color" data-color="#fd884e">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
      <div class="chart-color-note">(Medium)</div>
    </div>

    <div class="chart-color" data-color="#e56669">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
      <div class="chart-color-note">(High)</div>
    </div>
  </div>

  <h5>Sequential colors</h5>
  <p>You can also use shades of a single color chosen from the <a href="#/styles/{{theme}}/{{version}}/cc15a791-8a8e-4d02-b35a-a415a7da7ea5">Color Palette</a>.</p>

  <div class="chart-color-palette clearfix">
    <div class="chart-color" data-color="#ff979b">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#e56669">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#db3d44">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#d11e23">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
    </div>

    <div class="chart-color" data-color="#a70004">
      <div class="chart-color-sqaure"></div>
      <div class="chart-color-hex"></div>
    </div>
  </div>
</section>