<section>
  <table class="table table-bordered table-hover table-row-selection table-longtext-truncated table-selectable server-scan-results-selectable-table">
    <thead>
      <tr>
        <th class="gutter">
          <div class="form-check head-checkbox">
            <input type="checkbox"><label></label>
          </div>
        </th>
        <th class="gutter"></th>
        <th>Endpoint</th>
        <th>IP Address</th>
        <th>Operating System</th>
        <th>First Seen</th>
        <th>Matched Values</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-row-expandable table-row-expand" data-source="#selection-1-1">
        <td>
          <div class="form-check">
            <input type="checkbox"><label></label>
          </div>
        </td>
        <td class="table-cell-single-action">
          <button class="btn-table-row-action table-row-expand-btn">
            <span class="tmicon tmicon-caret-right tmicon-hoverable"></span>
          </button>
        </td>
        <td>TW-HARRYCRANE-SRV1</td>
        <td>10.1.129.150</td>
        <td>Windows Server 2012</td>
        <td>2017-08-12 21:36:13</td>
        <td>2</td>
      </tr>

      <tr id="selection-1-1" class="table-row-unselectable table-row-source-expand">
        <td class="table-cell-child-table" colspan="7">
          <div class="table-cell-child-table-container">
            <table class="table table-bordered table-hover table-row-selection table-selectable">
              <thead>
                <tr>
                  <th class="gutter"></th>
                  <th>Matched Values</th>
                  <th>First Seen</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox"><label></label>
                    </div>
                  </td>
                  <td>Client06</td>
                  <td>2017-08-12 21:36:14</td>
                </tr>

                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox"><label></label>
                    </div>
                  </td>
                  <td>Client07</td>
                  <td>2017-08-12 21:36:15</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>

      <tr class="table-row-expandable table-row-collapse" data-source="#selection-1-2">
        <td>
          <div class="form-check">
            <input type="checkbox"><label></label>
          </div>
        </td>
        <td class="table-cell-single-action">
          <button class="btn-table-row-action table-row-expand-btn">
            <span class="tmicon tmicon-caret-right tmicon-hoverable"></span>
          </button>
        </td>
        <td>TW-HARRYCRANE-SRV</td>
        <td>10.1.138.132</td>
        <td>Windows 10</td>
        <td>2017-08-11 08:01:00</td>
        <td>2</td>
      </tr>

      <tr id="selection-1-2" class="table-row-unselectable table-row-source-collapse">
        <td class="table-cell-child-table" colspan="7">
          <div class="table-cell-child-table-container">
            <table class="table table-bordered table-hover table-row-selection table-selectable">
              <thead>
                <tr>
                  <th class="gutter"></th>
                  <th>Matched Values</th>
                  <th>First Seen</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox"><label></label>
                    </div>
                  </td>
                  <td>Client05</td>
                  <td>2017-08-11 08:01:01</td>
                </tr>

                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox"><label></label>
                    </div>
                  </td>
                  <td>Client08</td>
                  <td>2017-08-11 08:01:02</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>

      <tr class="table-row-expandable table-row-collapse" data-source="#selection-1-3">
        <td>
          <div class="form-check">
            <input type="checkbox"><label></label>
          </div>
        </td>
        <td class="table-cell-single-action">
          <button class="btn-table-row-action table-row-expand-btn">
            <span class="tmicon tmicon-caret-right tmicon-hoverable"></span>
          </button>
        </td>
        <td>TW-SALLYDRAPER-PC</td>
        <td>10.1.128.141</td>
        <td>Windows 10</td>
        <td>2017-08-06 10:12:38</td>
        <td>2</td>
      </tr>

      <tr id="selection-1-3" class="table-row-unselectable table-row-source-collapse">
        <td class="table-cell-child-table" colspan="7">
          <div class="table-cell-child-table-container">
            <table class="table table-bordered table-hover table-row-selection table-selectable">
              <thead>
                <tr>
                  <th class="gutter"></th>
                  <th>Matched Values</th>
                  <th>First Seen</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox"><label></label>
                    </div>
                  </td>
                  <td>Client02</td>
                  <td>2017-08-06 10:12:39</td>
                </tr>

                <tr>
                  <td>
                    <div class="form-check">
                      <input type="checkbox"><label></label>
                    </div>
                  </td>
                  <td>Client04</td>
                  <td>2017-08-06 10:12:40</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>