<section>
  <p>This color palette comprises base and accent colors that can be used for UI elements and charts. They've been designed to work harmoniously with each other.</p>
	<div class="colors-palette-container">
		<div class="colors-palette">
			<h3 class="palette-title">Red</h3>
			<ul class="red" data-palette="red"></ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Blue</h3>
			<ul class="blue" data-palette="blue">
			</ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Orange</h3>
			<ul class="orange" data-palette="orange">
			</ul>
		</div>
	</div>
	<div class="colors-palette-container">
		<div class="colors-palette">
			<h3 class="palette-title">Yellow</h3>
			<ul class="yellow" data-palette="yellow"></ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Light Green</h3>
			<ul class="light-green" data-palette="light-green">
			</ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Green</h3>
			<ul class="green" data-palette="green">
			</ul>
		</div>
	</div>
	<div class="colors-palette-container">
		<div class="colors-palette">
			<h3 class="palette-title">Teal</h3>
			<ul class="teal" data-palette="teal"></ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Cyan</h3>
			<ul class="cyan" data-palette="cyan">
			</ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Indigo</h3>
			<ul class="indigo" data-palette="indigo">
			</ul>
		</div>
	</div>
	<div class="colors-palette-container">
		<div class="colors-palette">
			<h3 class="palette-title">Purple</h3>
			<ul class="purple" data-palette="purple"></ul>
		</div>
		<div class="colors-palette">
			<h3 class="palette-title">Gray</h3>
			<ul class="gray" data-palette="gray">
			</ul>
		</div>
		<div class="colors-palette">
		</div>
	</div>
</section>