<section class="color-example">
  <p>These are the base colors used for UI elements. The base colors have semantic meanings associated with them.</p>
	<div class="colors-container">
		<div class="colors-palette">
			<div class="colors-circle colors-dark" style="background-color: #111;">#111111</div>
			<div class="colors-circle colors-light" style="background-color: #bbb;">#BBBBBB</div>
			<div class="colors-circle colors-dark" style="background-color: #db3d44;">#DB3D44</div>
			<div class="colors-circle colors-dark" style="background-color: #33abd6;">#33ABD6</div>
		</div>
	</div>
</section>