<section class="color-example">
  <p>These are the colors used in content areas and some interaction elements and states, as well as highlight colors used for communicators like icons. You can use derivatives of these colors where appropriate. See further below for guidance on derivative colors.</p>
	<div class="colors-container" style="height: 40%;">
		<div class="colors-palette">
			<div class="colors-palette-row">
				<div class="colors-circle colors-dark" style="background-color: #FF7633;">#FF7633</div>
				<div class="colors-circle colors-light" style="background-color: #FACA2A;">#FACA2A</div>
				<div class="colors-circle colors-dark" style="background-color: #9CD22A;">#9CD22A</div>
				<div class="colors-circle colors-dark" style="background-color: #00A94F;">#00A94F</div>
			</div>
			<div class="colors-palette-row">
				<div class="colors-circle colors-dark" style="background-color: #0ABFA1;">#0ABFA1</div>
				<div class="colors-circle colors-dark" style="background-color: #16BFE1;">#16BFE1</div>
				<div class="colors-circle colors-dark" style="background-color: #4B59DC;">#4B59DC</div>
				<div class="colors-circle colors-dark" style="background-color: #BF02BD;">#BF02BD</div>
			</div>
		</div>
	</div>

	<h3>Background Colors</h3>
	<p>Use one of the following colors for the background.</p>
	<div class="colors-container" style="height: 60%;">
		<div class="colors-palette">
			<div class="colors-palette-row">
				<div class="colors-circle colors-dark colors-circle-border-light" style="background-color: #222;">#222222</div>
				<div class="colors-circle colors-dark colors-circle-border-light" style="background-color: #2C2C2C;">#2C2C2C</div>
				<div class="colors-circle colors-dark colors-circle-border-light" style="background-color: #333;">#333333</div>
			</div>
		</div>
	</div>
</section>