<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Single page scrolling</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../css/main.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/logo-apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/logo-apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/logo-apple-touch-icon-72.png">
        <link rel="shortcut icon" href="/assets/img/logo_32.png">
        <!-- customized style -->
    </head>
    <body>
        <div class="wrapper">
            <header class="site-header header-with-navbar">
                <a href="javascript:;" class="banner">
                    <!--div class="placeholder" data-type="image" data-refer="theme" data-src="tball.svg"></div-->
                    <h1 class="site-title">Control Manager</h1>
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="tmicon tmicon-user"></span>Admin_TW<span class="tmicon tmicon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Change Password</a></li>
                            <li><a href="javascript:;">Log off</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-icon" href="javascript:;"><span class="icon icon-favorite"></span></a></li>
                    <li class="dropdown active">
                    <a href="javascript:;" class="dropdown-toggle" datda-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 1</a>
                    <ul class="dropdown-menu open">
                        <li class="active"><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-tofggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 2</a>
                    <ul class="dropdown-menu open">
                        <li><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-tofggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 3</a>
                    <ul class="dropdown-menu open">
                        <li><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-tfoggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">link 4</a>
                    <ul class="dropdown-menu open">
                        <li><a href="javascript:;">Menu item one</a></li>
                        <li><a href="javascript:;">Menu item two</a></li>
                        <li><a href="javascript:;">Menu item three</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:;">Menu item four</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Second level item one</a></li>
                            <li><a href="javascript:;">Second level item two</a></li>
                            <li><a href="javascript:;">Second level item three</a></li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
            </nav>
            <ol class="breadcrumb with-line">
                <li class="active">About</li>
            </ol>
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="about-content">
                            <p><b>Trend Micro Control Manager</b></p>
                            <p>
                                Version: 1.0 <br />
                                Build: 1106
                            </p>
                            <p>Copyright © %year% Trend Micro Incorporated. All rights reserved.</p>
                            <p>This software is protected by copyright laws and international treaties. Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.</p>
                            <p><a href="javascript:;">Third-Party License Information</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </div>
        <div class="modal fade" data-template="modal-lg" tabindex="-1" role="dialog" aria-labelledby="lgModalLabel" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="tmicon tmicon-close tmicon-visible-low tmicon-hoverable"></span></button>
                  <div class="display3">What's New</div>
                </div>
                <div class="modal-body mCustomScrollbar mCustomScrollbar-dragger-hover">
                    <div class="what-new-wrapper">
                        <div class="what-new-container">
                            <div class="what-new-content">
                                <p>Trend Micro Worry-Free Business Security Services provides the following new features and enhancements.</p>
                                <div class="functionalities">
                                    <div class="functionalities-row">
                                        <div class="function">
                                            <img class="banner" src="images/img01.png" />
                                            <div class="des">
                                                <h4 class="function-title">Enhanced Scalability</h4>
                                                <p>Better control of information and notifications. New search functionality to specific troubled clients and new quick task functionality that  allows quicker operations of the user interface.</p>
                                            </div>
                                        </div>
                                        <div class="function">
                                            <img class="banner" src="images/img02.png" />
                                            <div class="des">
                                                <h4 class="function-title">Console and License Self-Merge capability</h4>
                                                <p>New license stacking and console merge capability. Ability to add new license keys to an existing to increase your license count.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="functionalities-row">
                                        <div class="function">
                                            <img class="banner" src="images/img03.png" />
                                            <div class="des">
                                                <h4 class="function-title">Improved Dashboard and Reporting</h4>
                                                <p>Configurable alert templates allow administrators to set which information should be presented in the system alerts they receive.</p>
                                            </div>
                                        </div>
                                        <div class="function">
                                            <img class="banner" src="images/img04.png" />
                                            <div class="des">
                                                <h4 class="function-title">Improved Scalability and Usability</h4>
                                                <p>Support up to 10,000 connected computers. Improvements in the management interface result in the ability for all administrators to search, sort and view protected machines in a more productive fashion.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                   <span class="screen-info">For more details, check out <a href="javascript:;">What’s New</a> under Help.</span>
                   <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>