<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About page with vertical navigation bar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../../css/main.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/logo-apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/logo-apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/logo-apple-touch-icon-72.png">
        <link rel="shortcut icon" href="/assets/img/logo_32.png">
        <!-- customized style -->
    </head>
    <body>
        <div class="wrapper">
            <nav class="navigation collapsed">
                <button class="sidebar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul id="sidebarExample" class="navigation-items"></ul>
            </nav>
            <header class="site-header">
                <a href="javascript:;" class="banner">
                    <!--div class="placeholder" data-type="image" data-refer="theme" data-src="tball.svg"></div-->
                    <h1 class="site-title">TippingPoint Security Management System</h1>
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="tmicon tmicon-user"></span>Admin_TW<span class="tmicon tmicon-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Change Password</a></li>
                            <li><a href="javascript:;">Log off</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
            <ol class="breadcrumb with-line">
                <li class="active">About</li>
            </ol>
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="about-content">
                            <p><b>Trend Micro TippingPoint Security Management System</b></p>
                            <p>
                                Version: 1.0 <br />
                                Build: 1106
                            </p>
                            <p>Copyright © %year% Trend Micro Incorporated. All rights reserved.</p>
                            <p>This software is protected by copyright laws and international treaties. Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.</p>
                            <p><a href="javascript:;">Third-Party License Information</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-storage-api/1.9.2/jquery.storageapi.js"></script>
        <script src="js/jquery.fn.exists.js"></script>
        <script src="js/jquery.category.js"></script>
        <script>
            var $sidebar = $('.navigation-items');
            var object = [
                {
                    "id": "1",
                    "name": "Summary",
                    "icon": "summary",
                    "bower-search":null,
                    "segments": [],
                    "components": []
                },
                {

                    "id": "2",
                    "name": "Devices",
                    "icon": "devices",
                    "bower-search":null,
                    "segments": [],
                    "components": [
                        {
                            "id":"2-1",
                            "name": "Mobile",
                            "keywords":null,
                            "bower-search":null,
                            "segments": [],
                            "parent": "2"
                        },
                        {
                            "id":"2-2",
                            "name": "PC",
                            "bower-search": null,
                            "segments": [],
                            "parent": "2"
                        },
                        {
                            "id":"2-3",
                            "name": "Notebook",
                            "bower-search": null,
                            "segments": [],
                            "parent": "2"
                        }
                    ]
                },
                {
                    "id": "3",
                    "name": "Reports",
                    "icon": "reports",
                    "bower-search":null,
                    "segments": [],
                    "components": []
                },
                {
                    "id": "4",
                    "name": "Export",
                    "icon": "export",
                    "bower-search":null,
                    "segments": [],
                    "components": []
                },
                {
                    "id": "5",
                    "name": "Logs",
                    "icon": "logs",
                    "bower-search":null,
                    "segments": [],
                    "components": []
                },
                {
                    "id": "6",
                    "name": "Install",
                    "icon": "install",
                    "bower-search":null,
                    "segments": [],
                    "components": []
                },
                {
                    "id": "7",
                    "name": "About",
                    "icon": "about",
                    "bower-search":null,
                    "segments": [],
                    "components": []
                }
            ];


            $sidebar.category({
                type: 'sidebar',
                data: object,
                duration: 100,
                animation: true,
                selectedId: "1",
                writable: false,
                content: '.tab-content',
                dataParent: "#sidebarExample"
            });

            $('.navigation')
                .on('click', '.sidebar-toggle', function (e) {
                    var $nav = $(this).parent('.navigation');
                    if ($nav.is('.collapsed')) {
                        $nav.addClass('expand').removeClass('collapsed');
                        $('[data-parent="#sidebarExample"]', $nav).attr('data-toggle', 'collapse');
                    } else {
                        $nav.addClass('collapsed').removeClass('expand');
                        $('[data-parent="#sidebarExample"]', $nav).removeAttr('data-toggle');
                        $('.sub-nav', $nav).css('height', 'auto');
                    }

                })
                .on('show.bs.collapse', '.sub-nav', function (e) {
                    var $subNav = $(this);
                    var $navItems = $subNav.closest(".navigation-items");
                    $('.sub-nav.in', $navItems).collapse('toggle');

                });

        </script>
    </body>
</html>