body {
  background: #ffffff;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.container-fluid {
  padding: 0 16px;
}

header.site-header {
  padding: 0 24px;
  padding-right: 0;
}

.site-header {
  position: relative;
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px #ddd solid;
}

.navbar {
  padding: 0;
}

.site-header a:link,
.site-header a:hover,
.site-header a:active,
.site-header a:visited,
.site-header a:focus {
  color: #222;
}

.site-header .banner {
  background: none;
  display: inline-block;
  height: 64px;
  padding: 0;
}
.brand-logo {
  display: inline-block;
  background: url(../images/tball.svg);
  height: 32px;
  width: 32px;
  background-size: 94.93px 32px;
  vertical-align: middle;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  line-height: 26px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.site-header .dropdown-toggle {
  margin-top: 0;
}

.breadcrumb {
  background: #fff;
  padding-left: 24px;
  padding-right: 24px;
}
.navbar.affix,
.breadcrumb.affix {
  z-index: 1;
}
.breadcrumb.affix {
  top: 40px;
}
.breadcrumb > li + li.non-breadcrumb-item {
  float: right;
  font-size: 13px;
  line-height: 24px;
}

.breadcrumb > li + li.non-breadcrumb-item span.help-text {
  color: #888888;
}

.breadcrumb > li + li.non-breadcrumb-item:before {
  content: none;
}

.breadcrumb .non-breadcrumb-item .refresh,
.breadcrumb .non-breadcrumb-item .help {
  margin-left: 8px;
  cursor: pointer;
}
.items-block > div {
  float: left;
  margin-right: 8px;
}
.date-time-picker-example .input-group .input-icon-group .input-icon-label {
  z-index: 3;
}
.date-time-picker-example .input-group .input-icon-group .form-control {
  padding-left: 30px;
}
.date-time-picker-example .input-group .input-icon-group:first-child .form-control {
  z-index: 3;
  border-right-color: #e6e6e6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.date-time-picker-example .input-group .input-icon-group:first-child .form-control:focus,
.date-time-picker-example .input-group .input-icon-group:first-child .form-control.input-focus {
  border-right-color: #0096cc;
}
.date-time-picker-example .input-group .input-icon-group:last-child .form-control {
  z-index: 3;
  border-left-color: #e6e6e6;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.date-time-picker-example .input-group .input-icon-group:last-child .form-control:focus,
.date-time-picker-example .input-group .input-icon-group:last-child .form-control.input-focus {
  border-left-color: #0096cc;
}
.date-time-picker-example .dropdown-toggle {
  width: 145px;
}
.date-time-picker-example .dropdown.open > .custom-wrapper {
  z-index: 1;
}
.date-time-picker-example .dropdown.open > .custom-wrapper > ul.dropdown-menu {
  width: 118px;
}
.datepicker-inline.dropdown-menu {
  position: static;
  display: block;
}
.date-picker-pane {
  background: #ffffff;
}

/* Datepicker */
.datepicker-wrapper .form-control {
  padding-right: 12px;
}
.datepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* Timepicker */
.timepicker-wrapper .form-control {
  padding-right: 12px;
}
.timepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.disabled-date-example .datepicker div.datepicker-months table, 
.disabled-date-example .datepicker div.datepicker-years table {
    width: auto;
    table-layout: auto;
}

.table-with-header .toolbar.affix {
  top: 88px;
  z-index: 2;
}

.table-header.affix {
  top: 137px;
  z-index: 1;
}
.table-header + .table-bordered {
  margin-bottom: 49px !important;
  border-top: 0;
}
.table-header + .table-bordered tbody tr:first-child td {
  border-top: 0;
}
.table-header + .table-bordered > tbody > tr > td:first-child {
  width: 38px;
}
.table-header.affix + .table-bordered {
  margin-top: 176px;
}
.table tfoot > tr > td {
  padding: 0;
}
.table-pagination {
  position: fixed;
  bottom: 0;
}
.latest-status-info {
  color: #999999;
}
.latest-status-info + .tooltip {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .table-cell-child-list .dl-horizontal dd {
    margin-left: 85px;
  }
}

.table:not(:last-child) {
  margin-bottom: 40px;
}

.server-scan-results-table > thead > tr > th:nth-child(6),
.server-scan-results-table > tbody > tr > td:nth-child(6) {
  text-align: right;
}

.server-scan-results-selectable-table > thead > tr > th:nth-child(7),
.server-scan-results-selectable-table > tbody > tr > td:nth-child(7) {
  text-align: right;
}

.longtext-toggle {
	position: absolute;
	z-index: 1070;
}

.table-row-expandable td .tmicon-color-severity-high,
.table-row-expandable td .tmicon-color-severity-medium,
.table-row-expandable td .tmicon-color-severity-low {
  margin-right: 8px;
}

.resources {
  margin-top: 8px;
}
.resources a:link {
  position: relative;
  text-decoration: none;
}
.resources a + a {
  margin-left: 12px;
}
.resources a + a::before {
  content: ' ';
  display: inline-block;
  height: 16px;
  padding-left: 12px;
  vertical-align: text-bottom;
  border-left: 1px solid #dddddd;
}
