body {
  background: #222222;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
}
.wrapper {
  position: relative;
  min-height: 100%;
}

header.site-header {
  padding: 0 24px;
  padding-right: 0;
}
.site-header {
  position: relative;
  height: 64px;
  margin-bottom: 0;
  background-color: #2c2c2c;
  border-bottom: 1px #111111 solid;
  line-height: 62px;
  padding: 0 24px;
  padding-right: 0;
}
.navigation.collapsed + .site-header,
.navigation.collapsed ~ .breadcrumb-container,
.navigation.collapsed ~ .main-table {
    margin-left: 64px;
}
.navigation.expand + .site-header,
.navigation.expand ~ .breadcrumb-container,
.navigation.expand ~ .main-table {
    margin-left: 240px;
    transition: margin-left 0.15s;
}
.navbar {
  padding: 0;
}
.nav-icon-dashboard {
  background-image: url(../images/dashboard.svg);
}
li.selected .nav-icon-dashboard {
  background-image: url(../images/dashboard-red.svg);
}
.nav-icon-devices {
  background-image: url(../images/devices.svg);
}
li.selected .nav-icon-devices {
  background-image: url(../images/devices-red.svg);
}
.nav-icon-users {
  background-image: url(../images/users.svg);
}
li.selected .nav-icon-users {
  background-image: url(../images/users-red.svg);
}
.nav-icon-investigation {
  background-image: url(../images/investigation.svg);
}
li.selected .nav-icon-investigation {
  background-image: url(../images/investigation-red.svg);
}
.nav-icon-policies {
  background-image: url(../images/policies.svg);
}
li.selected .nav-icon-policies {
  background-image: url(../images/policies-red.svg);
}
.nav-icon-logs {
  background-image: url(../images/logs.svg);
} 
li.selected .nav-icon-logs {
  background-image: url(../images/logs-red.svg);
}
.nav-icon-reports {
  background-image: url(../images/reports.svg);
}
li.selected .nav-icon-reports {
  background-image: url(../images/reports-red.svg);
}
.brand-logo {
    display: inline-block;
    background: url(../images/tball.svg);
    height: 32px;
    width: 32px;
    background-size: 94.93px 32px;
    vertical-align: middle;
}
.site-header .banner {
  background: none;
  display: inline-block;
  height: 62px;
  padding: 0;
}
.site-header .banner,
.site-header .banner:hover {
  text-decoration: none;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  line-height: 26px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.site-header .dropdown-toggle {
  margin-top: 0;
}
.breadcrumb-container {
  background: #222222;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 1;
}
.breadcrumb-container::before,
.breadcrumb-container::after {
  content: '';
  display: table;
}
.breadcrumb-container::after {
  clear: both;
}
.breadcrumb-container.affix {
  width: auto;
  left: 0;
  right: 0;
}
.breadcrumb-container.affix-top .breadcrumb-header {
  margin-left: -54px;
  transition: margin .05s ease-out;
}
.breadcrumb-container.affix .breadcrumb-header {
  margin-left: 0;
}
.breadcrumb-container .resources {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumb-container .resources > li {
  line-height: 48px;
  float: left;
}
.breadcrumb-container .help {
  display: inline-block;
  line-height: 20px;
}
.breadcrumb-container .help i {
  color: #888888;
}
.items-block > div {
  float: left;
  margin-right: 8px;
}
.date-time-picker-example .input-group .input-icon-group .input-icon-label {
  z-index: 3;
}
.date-time-picker-example .input-group .input-icon-group .form-control {
  padding-left: 30px;
}
.date-time-picker-example .input-group .input-icon-group:first-child .form-control {
  z-index: 3;
  border-right-color: #e6e6e6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.date-time-picker-example .input-group .input-icon-group:first-child .form-control:focus,
.date-time-picker-example .input-group .input-icon-group:first-child .form-control.input-focus {
  border-right-color: #0096cc;
}
.date-time-picker-example .input-group .input-icon-group:last-child .form-control {
  z-index: 3;
  border-left-color: #e6e6e6;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.date-time-picker-example .input-group .input-icon-group:last-child .form-control:focus,
.date-time-picker-example .input-group .input-icon-group:last-child .form-control.input-focus {
  border-left-color: #0096cc;
}
.date-time-picker-example .dropdown-toggle {
  width: 145px;
}
.date-time-picker-example .dropdown.open > .custom-wrapper {
  z-index: 1;
}
.date-time-picker-example .dropdown.open > .custom-wrapper > ul.dropdown-menu {
  width: 143px;
}
.datepicker-inline.dropdown-menu {
  position: static;
  display: block;
}
.date-picker-pane {
  background: #2c2c2c;
}

/* Datepicker */
.datepicker-wrapper .form-control {
  padding-right: 12px;
}
.datepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* Timepicker */
.timepicker-wrapper .form-control {
  padding-right: 12px;
}
.timepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.disabled-date-example .datepicker div.datepicker-months table, 
.disabled-date-example .datepicker div.datepicker-years table {
  width: auto;
  table-layout: auto;
}
.toolbar.affix {
  top: 48px;
  z-index: 2;
  left: 64px;
  width: auto;
  right: 0;
}
.toolbar span.help-text {
  color: #999999;
  margin-right: 8px;
}
.table-header.affix {
  top: 97px;
  left: 64px;
  right: 0;
  width: auto;
  z-index: 1;
}
.navigation.expand ~ .main-table .toolbar.affix,
.navigation.expand ~ .main-table .table-header.affix {
  left: 240px;
  transition: left 0.15s;
}
.main-table .table-header + .table-bordered {
  border-top: 0;
}
.main-table .table-header + .table-bordered tbody tr:first-child td {
  border-top: 0;
}
.main-table .table-header.affix + .table-bordered {
  margin-top: 136px;
}
.table tfoot > tr > td {
  padding: 0;
}
.table-bordered tr > th:nth-child(1),
.table-bordered tr > td:nth-child(1) {
  width: 12%;
}
.table-bordered tr > th:nth-child(2),
.table-bordered tr > td:nth-child(2)  {
  width: 11%;
}
.table-bordered tr > th:nth-child(3),
.table-bordered tr > td:nth-child(3) {
  width: 13%;
}
.table-bordered tr > th:nth-child(4),
.table-bordered tr > td:nth-child(4) {
  width: 23%;
}
.table-bordered tr > th:nth-child(5),
.table-bordered tr > td:nth-child(5) {
  width: 12%;
}
.table-bordered tr > th:nth-child(6),
.table-bordered tr > td:nth-child(6) {
  width: 9%;
}
.table tbody > tr > td a:link {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-pagination {
  border: 0px;
  vertical-align: top;
}

@media (min-width: 768px) {
  .table-cell-child-list .dl-horizontal dd {
    margin-left: 85px;
  }
}

.table:not(:last-child) {
  margin-bottom: 40px;
}

.longtext-toggle {
	position: absolute;
	z-index: 1070;
}
.table-row-actions .btn-table-row-action + .btn-table-row-action {
  margin-left: 8px;
}