body {
	background: #EEE;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.container-fluid {
    padding: 0 16px;
}
header.site-header {
    padding: 0 24px;
    padding-right: 0;
}
.site-header {
    position: relative;
    padding: 0 20px;
    height: 64px;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px #ddd solid;
}
.navbar {
    padding: 0;
}
.site-header a:link,
.site-header a:hover,
.site-header a:active,
.site-header a:visited,
.site-header a:focus {
    color: #222;
}
.site-header .banner {
    background: url(../images/tball.svg) center left no-repeat;
    background-size: 32px;
    float: left;
    height: 63px;
    padding: 0;
}
.site-header .banner,
.site-header .banner :hover {
    text-decoration: none;
}
.site-title {
    margin: 14px 0 0 42px;
    line-height: 36px;
    font-family: "Interstate-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: -0.03em;
    white-space: nowrap;
}
.site-header .dropdown-toggle {
    margin-top: 0;
}
.breadcrumb {
    background: #fff;
    padding-left: 24px;
    padding-right: 24px;
}
.panel-body p:last-child {
    margin-bottom: 0;
}
.panel-body a {
    text-decoration: none;
}
.about-content {
    max-width: 700px;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1092px;
    }
}
.modal-lg .modal-body {
    padding: 0;
    overflow: hidden;
}
.display3 {
    font-family: Interstate-ExtraLight, Arial, "Helvetica Neue", Helvetica, font-family-sans-serif;
    text-align: center;
    font-weight: normal;
}
.display1 {
    font-family: Interstate-ExtraLight, Arial, "Helvetica Neue", Helvetica, font-family-sans-serif;
    letter-spacing: -0.03em;
    font-weight: normal;
}
.list-inline > li {
    margin: 0;
    padding-right: 12px;
}
.list-inline > li + li > a {
    padding-left: 12px;
    border-left: 1px solid #999999;
}
.modal-header {
    padding: 21px 24px;
    transition: all 0.5s;
}
.modal-header.fixedTop {
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.modal-header button {
    font-size: inherit;
    margin-top: 9px;
}
.what-new-wrapper > div:nth-child(even) {
    background: #E6F4FC;
}
.what-new-container {
    display: flex;
    padding: 40px 40px 24px 40px;
}
.what-new-content + .what-new-content {
    margin-left: 80px;
}
.what-new-content > img {
    width: 420px;
}
.what-new-content .title {
    margin-top: 16px;
    margin-bottom: 16px;
}
.what-new-content .desc {
    margin-bottom: 24px;
}
.modal-footer {
    text-align: left;
}
.icon-down-arrow {
    background: url('../images/icon_down.png') center center no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    opacity: 0.3;
}
.icon-down-arrow:hover {
    opacity: 1;
    cursor: pointer;
}
.screen-info {
    display: inline-block;
    margin-top: 8px;
    color: #666666;
}
.icon-massage-info {
    background: url('../images/icon_message_info.svg') center center no-repeat;
    vertical-align: top;
    margin-top: 1px;
}
