
<section class="clearfix">
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/templates/what-new-single-page/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/whatNew-single-page.png" data-class="template-screenshot-image"></div>
      </a>
    </div>
    <div class="template-title"><h3>Single page</h3></div>
    <!--div class="template-description">
      Standard logon templates for Trend Micro commercial products. Customize the templates by adding form controls and fields as required.
    </div-->
  </div>
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/templates/what-new/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/whatNew_1.png" data-class="template-screenshot-image"></div>
      </a>
    </div>
    <div class="template-title"><h3>Single page with scrolling</h3></div>
    <!--div class="template-description">
      Standard logon templates for Trend Micro commercial products. Customize the templates by adding form controls and fields as required.
    </div-->
  </div>
</section>