<section class="line-charts-example">
	<p>If you have continuous data that you would like to represent through a chart, then a line chart is a good option. This graph is especially effective when trying to identify a trend or pattern in your data, for example seasonal effects and large changes over time.</p>
  <ul class="description">
    <li>Use readable labels. Avoid rotated labels because they are hard to read and can distract people from focusing on the numbers.</li>
    <li>Avoid smoothing or using 3-D lines because it gives the impression of data points that are actually not there.</li>
    <li>Don’t use gradients. Use flat colors.</li>
    <li>Keep legends in one line at the bottom or on the side of the chart.</li>
  </ul>
</section>