<section class="css-reference">
  <h5>Checkbox Container</h5>
  <p>Wrap an <code>input[type="checkbox"]</code> and a <code>label</code> within an element. E.g. A bootstrap radio is wrapped using a <code>.form-check</code></p>
  <pre>
    <style data-selector=".form-check"></style>
  </pre>
  <h5>Input checkbox</h5>
	<p>The input element should be wrapped a checkbox container.</p>
	<pre>
    <style data-selector=".form-check .input-checkbox">In order to customized checkbox, hide the input checkbox</style>
  </pre>
	<h5>Label</h5>
  <p>The Label element should be wrapped using a checkbox container.</p>
	<pre>
    <style data-selector=".form-check .input-checkbox + label"></style>
	</pre>
	<pre data-title="Disabled Class">
    <style data-selector=".form-check .input-checkbox:disabled + label"></style>
	</pre>
	<h5>Customizing a Checkbox</h5>
	<p>To customize a checkbox, replace the hidden checkbox with the pseudo-element.</p>
	<pre data-title=":before">
		<style data-selector=".form-check .input-checkbox + label:before"></style>
		<style data-selector=".form-check .input-checkbox + label:hover:before">Hovered style</style> 
		<style data-selector=".form-check .input-checkbox:checked + label:before">When checkbox is checked, put a background image on label class pseudo-element :before</style> 
		<style data-selector=".form-check .input-checkbox:checked + label:hover:before">Checked and hovered style</style> 
    <style data-selector=".form-check .checkbox-partial + label:before">For indeterminate state</style>
		<style data-selector=".form-check .input-checkbox:disabled + label:before">This style should come after an input checkbox with disabled attribute</style> 		
	</pre>
	<pre data-title=":after">
		<style data-selector=".form-check .input-checkbox + label:after"></style>
		<style data-selector=".form-check .checkbox-partial:checked + label:after">Set content nothing for checked style</style>
		<style data-selector=".form-check .checkbox-partial + label:after">For indeterminate state</style>
	</pre>
	<h5>A stacked checkbox (Checkbox container)</h5>
  <pre>
    <style data-selector=".form-check + .form-check">Such as Bootstrap checkbox of a stacked: .form-check + .form-check</style>
	</pre>
	<h5>An inline checkbox (Checkbox container)</h5>
  <pre>
		<style data-selector=".form-check-inline"></style>
    <style data-selector=".form-check-inline + .form-check-inline">Such as Bootstrap checkbox in a row: .form-check-inline + .form-check-inline</style>
  </pre>
</section>
<section class="form-elements-example">
  <p>Checkboxes are used to permit the user to select one or more options from a set.</p>
	<div class="lists-unordered">
		<ul>
			<li>The user can select one, one, or multiple options from a set</li>
			<li>When clicked, a checkbox displays or removes its check mark</li>
			<li>Use sentence case for checkbox labels</li>
			<li>Align checkbox labels vertically whenever possible</li>
			<li>Make labels clickable whenever possible</li>
		</ul>
	</div>
	<div class="checkbox-wrapper">
		<div class="form-check">
		  <input type="checkbox" name="optionscheckboxs1" id="optionscheckboxs1">
		  <label for="optionscheckboxs1">Normal</label>
		</div>
		<div class="form-check">
		  <input type="checkbox" name="optionscheckboxs1" id="optionscheckboxs2">
		  <label for="optionscheckboxs2" class="hover">Hover</label>
		</div>
		<div class="form-check">
		    <input type="checkbox" name="optionscheckboxs3" id="optionscheckboxs3" checked>
		    <label for="optionscheckboxs3">Checked</label>
		</div>
		<div class="form-check">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs4" checked>
		    <label for="optionscheckboxs4" class="hover">Checked hover</label>
		</div>
		<div class="form-check">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs5" class="checkbox-partial">
		    <label for="optionscheckboxs5">Partial checked</label>
		</div>
		<div class="form-check disabled">
		    <input type="checkbox" name="optionscheckboxs6" id="optionscheckboxs6" checked disabled>
		    <label for="optionscheckboxs6">Checked disabled</label>
		</div>
		<div class="form-check">
		    <input type="checkbox" name="optionscheckboxs" id="optionscheckboxs7" disabled>
		    <label for="optionscheckboxs7">Disabled</label>
		</div>
	</div>
	<hr>
	<h5>Default (stacked)</h5>
	<div class="checkbox-wrapper">
		<div class="form-check">
		  <input type="checkbox" name="default" id="defaultcheckboxs1">
		  <label for="defaultcheckboxs1">Normal label one</label>
		</div>
		<div class="form-check">
		  <input type="checkbox" name="default" id="defaultcheckboxs2">
		  <label for="defaultcheckboxs2">Normal label two</label>
		</div>
		<div class="form-check disabled">
		    <input type="checkbox" name="default" id="defaultcheckboxs3" disabled>
		    <label for="defaultcheckboxs3">Disabled label</label>
		</div>
		<div class="form-check">
		    <input type="checkbox" name="default" id="defaultcheckboxs4" checked>
		    <label for="defaultcheckboxs4">Checked label</label>
		</div>
		<div class="default-block">
			<div>Sed posuere consecteyur est at lobortus. Aenean eu leo quam.</div>
			<div>Pellentesque omare sem lacinia quam venenatis vestibulum.</div>
		</div>
	</div>
	<hr>
	<h5>Inline</h5>
	<div class="checkbox-wrapper">
		<div class="form-check form-check-inline">
		  <input type="checkbox" name="inline" id="inlinecheckboxs1">
		  <label for="inlinecheckboxs1">Normal label</label>
		</div>
		<div class="form-check form-check-inline disabled">
		    <input type="checkbox" name="inline" id="inlinecheckboxs2" disabled>
		    <label for="inlinecheckboxs2">Disabled label</label>
		</div>
		<div class="form-check form-check-inline">
		    <input type="checkbox" name="inline" id="inlinecheckboxs3" checked>
		    <label for="inlinecheckboxs3">Checked label</label>
		</div>
	</div>
</section>