<section class="css-reference">
	<h5>Toolbar container</h5>
	<p>Use a block-level element at the top of the table.</p>
	<pre>
		<style data-selector=".table-with-header .toolbar"></style>
	</pre>
	<pre data-title="Plain style">
		<style data-selector=".table-with-header.plain-header .toolbar"></style>
	</pre>
	<h5>Individual item container</h5>
	<pre>
		<style data-selector=".table-with-header .toolbar .items-block"></style>
	</pre>
	<pre data-title="::before">
		<style data-selector=".table-with-header .toolbar .items-block + .items-block:before">Vertical line between buttons</style>
	</pre>
	<h5>Selected records</h5>
	<pre>
		<style data-selector=".table-with-header .toolbar .items-block .selected-records"></style>
	</pre>
	<pre>
		<style data-selector=".table-with-header .toolbar .items-block .selected-records .count">The number of the selected</style>
	</pre>
</section>

<section class="tables-advanced-example">
	<p>A table toolbar contains control buttons applicable to the table. Make sure these controls are workable when multiple items are selected.</p>
	<ul>
		<li>Put table toolbars on top of the tables. Use different background color for your toolbars depending on the table type or specific needs of the product.</li>
		<li>If your users use toolbars very often, consider fixing the table toolbar while the table is being scrolled down.</li>
		<li>Use primary buttons on toolbars only to highlight the most important button.</li>
		<li>You can build constraints on your toolbars where you only display buttons that are applicable or accessible for the current configuration or item selection. For example, show display buttons directly or only show display buttons after an item is selected.<span class="help-block">Note: The following example shows one possible generic actions display in the toolbar for demo purposes.</span></li>
	</ul>
	<div id="table-selected" class="table-with-header">
		<div class="toolbar">
			<div class="items-block">
		    	<button type="button" class="btn btn-primary"><span class="tmicon tmicon-add"></span>Add</button>
		  	</div>
		  	<div class="items-block controls">
		    	<button type="button" class="btn btn-default btn-border"><span class="tmicon tmicon-delete"></span>Delete</button><div class="selected-records">
						<span class="count"></span> selected
		    	</div>
		  	</div>
		</div>
		<table class="table table-bordered table-hover table-row-selection">
		    <thead>
				<tr>
					<th class="gutter">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="tablecheckboxs1">
							<label for="tablecheckboxs1"></label>
						</div>
					</th>
					<th>Deployment Plan</th>
					<th>Type</th>
					<th>Appliance</th>
					<th>Deployed</th>
					<th>Creator</th>
				</tr>
		    </thead>
		    <tbody>
				<tr>
					<td scope="row">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="tablecheckboxs2">
							<label for="tablecheckboxs2"></label>
						</div>
					</td>
					<td>Hotfix_DDEI</td>
					<td>Hotfix</td>
					<td>8</td>
					<td>2016-06-02 23:15:00</td>
					<td>Administrator</td>
				</tr>
				<tr>
					<td scope="row">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="tablecheckboxs3">
							<label for="tablecheckboxs3"></label>
						</div>
					</td>
					<td>Hotfix_DDI_01</td>
					<td>Virtual Analyzer image</td>
					<td>12</td>
					<td>2016-04-18 23:17:20</td>
					<td>Administrator</td>
				</tr>
				<tr>
					<td scope="row">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="tablecheckboxs4">
							<label for="tablecheckboxs4"></label>
						</div>
					</td>
					<td>TW_Patch_01_DDI</td>
					<td>Firmware</td>
					<td>29</td>
					<td>2016-04-17 21:20:18</td>
					<td>Operator</td>
				</tr>
		    </tbody>
		</table>
	</div>
	<div id="plain-table-selected" class="table-with-header plain-header">
		<div class="toolbar">
			<div class="items-block">
				<button type="button" class="btn btn-primary"><span class="tmicon tmicon-add"></span>Add</button>
			</div>
			<div class="items-block controls">
				<button type="button" class="btn btn-default btn-border"><span class="tmicon tmicon-delete"></span>Delete</button><div class="selected-records">
			  		<span class="count"></span> selected
				</div>
			</div>
		</div>
		<table class="table table-minimalism table-hover table-row-selection">
			<thead>
				<tr>
					<th class="gutter">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="plaintablecheckboxs1">
							<label for="plaintablecheckboxs1"></label>
						</div>
					</th>
					<th>Deployment Plan</th>
					<th>Type</th>
					<th>Appliance</th>
					<th>Deployed</th>
					<th>Creator</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="plaintablecheckboxs2">
							<label for="plaintablecheckboxs2"></label>
						</div>
					</td>
					<td>Hotfix_DDEI</td>
					<td>Hotfix</td>
					<td>8</td>
					<td>2016-06-02 23:15:00</td>
					<td>Administrator</td>
				</tr>
				<tr>
					<td scope="row">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="plaintablecheckboxs3">
							<label for="plaintablecheckboxs3"></label>
						</div>
					</td>
					<td>Hotfix_DDI_01</td>
					<td>Virtual Analyzer image</td>
					<td>12</td>
					<td>2016-04-18 23:17:20</td>
					<td>Administrator</td>
				</tr>
				<tr>
					<td scope="row">
						<div class="form-check">
							<input type="checkbox" name="tablecheckboxs" id="plaintablecheckboxs4">
							<label for="plaintablecheckboxs4"></label>
						</div>
					</td>
					<td>TW_Patch_01_DDI</td>
					<td>Firmware</td>
					<td>29</td>
					<td>2016-04-17 21:20:18</td>
					<td>Operator</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>