
<section class="clearfix">
  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/templates/license-expired/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/license-expired.png" data-class="template-screenshot-image"></div>
      </a>
    </div>

    <div class="template-title"><h3>License expired</h3></div>
    <!--div class="template-description">
      Standard logon templates for Trend Micro commercial products. Customize the templates by adding form controls and fields as required.
    </div-->
  </div>

  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/templates/maintenance-in-progress/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/maintenance-in-progress.png" data-class="template-screenshot-image"></div>
      </a>
    </div>

    <div class="template-title"><h3>Maintenance in progress</h3></div>

    <!--div class="template-description">
      Standard log on form with custom, form controls and a flexible layout.
    </div-->
  </div>

  <div class="template">
    <div class="template-screenshot">
      <a class="template-screenshot-link" href="themes/{{theme}}/{{version}}/templates/loading-page/" target="_blank">
        <div class="placeholder" data-type="image" data-src="screenshots/loading-page.png" data-class="template-screenshot-image"></div>
      </a>
    </div>

    <div class="template-title"><h3>Loading page</h3></div>

    <!--div class="template-description">
      Standard log on form with custom, form controls and a flexible layout.
    </div-->
  </div>
</section>