<section class="css-reference">
  <p>Define form widths by extendig the inputs using form control classes.</p>

  <h5>Input width</h5>
  <pre data-title="Minimum width">
    <style data-selector=".input-width-mini"></style>
  </pre>
	<pre data-title="Extra small width">
    <style data-selector=".input-width-xs"></style>
  </pre>
	<pre data-title="Small width">
    <style data-selector=".input-width-sm"></style>
  </pre>
	<pre data-title="Default width">
    <style data-selector=".input-width-default"></style>
  </pre>
	<pre data-title="Medium width">
    <style data-selector=".input-width-md"></style>
  </pre>
	<pre data-title="Large width">
    <style data-selector=".input-width-lg"></style>
  </pre>
	<pre data-title="Full length width">
    <style data-selector=".input-width-fill"></style>
  </pre>
</section>

<section class="form-sizes-example">
  <p>Form widths such as those in drop-down menus and text boxes should communicate the expected length of content. Use consistent widths to help with alignment. Customize your form width if the following ones are not suitable for your particular scenario.</p>

	<form class="form-horizontal" action="javascript:void(0)">
	  <div class="form-group">
	    <label class="control-label" for="miniInput">Minimum:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-width-mini" id="miniInput" placeholder="64px">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="xsInput">Extra small:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-width-xs" id="xsInput" placeholder="120px">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="smInput">Small:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-width-sm" id="smInput" placeholder="168px">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="defaultInput">Default:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-width-default" id="defaultInput" placeholder="256px">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="mediumInput">Medium:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-width-md" id="mediumInput" placeholder="360px">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="largeInput">Large:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control input-width-lg" id="largeInput" placeholder="512px">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="fillInput">Full length:</label>
	    <div class="control-wrapper">
	    	<input type="text" class="form-control" id="fillInput" placeholder="100%">
	    </div>
	  </div>
	</form>
</section>