<section class="css-reference">
  <h5>Simple date time container</h5>
  <pre>
    <style data-selector=".date-time-picker-example .simple-date-time-container"></style>
  </pre>
  <h5>Date / Time picker </h5>
  <pre>
    <style data-selector=".date-time-picker-example .simple-date-time-container .input-icon-group + .input-icon-group">Leave space between start/end date and start/end time</style>
  </pre>
</section>
<section class="date-time-picker-example">
	<p>Use one date picker and one time picker to form a simple date and time selection.</p>
	<p>For detailed information, see <a href="https://wiki.jarvis.trendmicro.com/pages/viewpage.action?pageId=261109313#Date/TimePicker-SimpleDate/TimePicker" target="_blank">Simple Date / Time Picker</a>.</p>
	<div class="simple-date-time-container">
		<input id="datepicker-with-time" type="text" class="form-control input-width-xs">
    <input id="time-picker-date" type="text" class="form-control input-width-xs" value="12:00:00">
  </div>
</section>