.date-time-picker-example .input-group {
  width: 300px;
}
.date-time-picker-example .input-group .input-icon-group .input-icon-label {
  z-index: 3;
}
.date-time-picker-example .input-group .input-icon-group .form-control {
  padding-left: 30px;
}
.date-time-picker-example .input-group .input-icon-group:first-child .form-control {
  z-index: 3;
  border-right-color: #e6e6e6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.date-time-picker-example .input-group .input-icon-group:first-child .form-control:focus,
.date-time-picker-example .input-group .input-icon-group:first-child .form-control.input-focus {
  border-right-color: #0096cc;
}
.date-time-picker-example .input-group .input-icon-group:last-child .form-control {
  z-index: 3;
  border-left-color: #e6e6e6;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.date-time-picker-example .input-group .input-icon-group:last-child .form-control:focus,
.date-time-picker-example .input-group .input-icon-group:last-child .form-control.input-focus {
  border-left-color: #0096cc;
}
.date-time-picker-example .dropdown-toggle {
  width: 120px;
}
.date-time-picker-example .dropdown.open > .custom-wrapper > ul.dropdown-menu {
  width: 118px;
}
.datepicker-inline.dropdown-menu {
  position: static;
  display: block;
}

/* Datepicker */
.datepicker-wrapper .form-control {
  padding-right: 12px;
}
.datepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* Timepicker */
.timepicker-wrapper .form-control {
  padding-right: 12px;
}
.timepicker-wrapper .form-control[disabled] + label {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.disabled-date-example .datepicker div.datepicker-months table, 
.disabled-date-example .datepicker div.datepicker-years table {
    width: auto;
    table-layout: auto;
}