<section class="css-reference">
	<h5>Scrollable area container</h5>
	<p>Wrap the content within a <code data-tag="div"></code> element and specify the height.</p>
	<pre>
		<style data-selector=".general-scrollable">Determine the max height according to product requirements.</style>
	</pre>
	<h5>Slider grip</h5>
	<pre>
		<style data-selector=".mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar"></style>
	</pre>
	<pre data-title=":hover, dragging state, mouse wheel state">
		<style data-selector=".mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar"></style>
	</pre>
	<h5>Slider track</h5>
	<pre>
		<style data-selector=".mCSB_scrollTools .mCSB_draggerRail"></style>
	</pre>
	<pre data-title=":hover">
		<style data-selector=".mCustomScrollbar-dragger-hover .mCSB_draggerContainer:hover .mCSB_draggerRail"></style>
	</pre>

	<h5>General scroll bar container in hidden state</h5>
	<pre>
		<style data-selector=".mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools"></style>
	</pre>
	<pre data-title=":hover">
		<style data-selector=".mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools">Change the opacity property when cursor hovers over a scrollable area.</style>
	</pre>
</section>


<section class="general-scrollbar-example">
    <p>A general scroll bar displays a slider grip to indicate that the display data requires more space than is available.</p>

	<ul class="description">
		<li>When the cursor hovers over the vertical area under the slider grip, display a translucent background to indicate the slider track.</li>
		<li>When the cursor hovers over the slider grip, change the slider grip color.</li>
		<li>You may also hide the slider grip to reduce visual clutter on the UI, and then when the cursor hovers over a scrollable area, display the slider grip to indicate that there is more content to display. For example, you can use this interaction for a tree view component.</li>
	</ul>

	<div class="example">

		<div class="basic-scrollbar-example-container">
			<h5>General scroll bar for a drop-down menu</h5>
			<div class="dropdown dropdown-filter open">
				<button class="btn btn-border dropdown-toggle" type="button">
					<span class="tmicon tmicon-caret-down"></span>Sample
				</button>

				<div class="dropdown-menu">
					<div class="input-icon-group dropdown-menu-filter">
					<input id="filter" type="text" class="form-control" placeholder="Search...">

					<label class="input-icon-label" for="filter">
						<i class="tmicon tmicon-search-o"></i>
					</label>
					</div>

					<div class="general-scrollable dropdown-menu-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
					<ul class="dropdown-menu">
						<li><a href="javascript:;">Menu item one</a></li>
						<li><a href="javascript:;">Menu item two</a></li>
						<li><a href="javascript:;">Menu item three</a></li>
						<li><a href="javascript:;">Menu item four</a></li>
						<li><a href="javascript:;">Menu item five</a></li>
						<li><a href="javascript:;">Menu item six</a></li>
						<li><a href="javascript:;">Menu item seven</a></li>
						<li><a href="javascript:;">Menu item eight</a></li>
						<li><a href="javascript:;">Menu item nine</a></li>
						<li><a href="javascript:;">Menu item ten</a></li>
					</ul>
					</div>
				</div>
				</div>
		</div>

		<div class="hidden-scrollable-example">
			<h5>General scroll bar for a tree view component</h5>
			<div class="hidden-scrollable-container">
				<div class="hidden-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
					<div class="placeholder" data-type="image" data-src="images/scrollbar_img1_treeview.png"></div>
				</div>
				<div class="hidden-scrollbar-text"><span>Please hover your mouse over the tree view example to see how the scroll bar is presented on the UI.</span></div>
			</div>
		</div>
	</div>
</section>