<section class="css-reference">
	<p>For details on loader styles, refer to <a href="#/styles/{{theme}}/{{version}}/4cd601bb-d7a7-4b4a-8d4d-d087a630929a">Loaders</a>.</p>
	<h5>Table wrapper for loader overlay</h5>
  <p>Wrap the table and loader overlay with a <code data-tag="div"></code> element.</p>
  <pre>
    <style data-selector=".table-container"></style>
  </pre>
	<h5>Loader overlay</h5>
	<pre data-title="Wrap a large loader within the overlay">
    <style data-selector=".loader-overlay"></style>
  </pre>
  <pre data-title="For Standard Tables">
    <style data-selector=".table + .loader-overlay"></style>
  </pre>
  <pre data-title="For Reduced Padding Tables">
    <style data-selector=".table-cramped + .loader-overlay"></style>
  </pre>
  <pre data-title="For Extra Padding Tables">
    <style data-selector=".table-roomy + .loader-overlay"></style>
  </pre>
	<h5>Loader</h5>
  <pre>
    <style data-selector=".table + .loader-overlay > .loader"></style>
  </pre>
</section>

<section class="tables-basic-example">
	<p>Display a loader overlay to indicate progress or an unindeterminate amount of time required for a process.</p>
	<div class="table-container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Deployment Plan</th>
				  	<th>Type</th>
				  	<th>Appliance</th>
				  	<th>Deployed</th>
				  	<th>Creator</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  	<td>Hotfix_DDEI</td>
				  	<td>Hotfix</td>
				  	<td>8</td>
				  	<td>2016-06-02 23:15:00</td>
				  	<td>Administrator</td>
				</tr>
				<tr>
				  	<td>Hotfix_DDI_01</td>
				  	<td>Virtual Analyzer image</td>
				  	<td>12</td>
				  	<td>2016-04-18 23:17:20</td>
				  	<td>Administrator</td>
				</tr>
				<tr>
				  	<td>TW_Patch_01_DDI</td>
				  	<td>Firmware</td>
				  	<td>29</td>
				  	<td>2016-04-17 21:20:18</td>
				  	<td>Operator</td>
				</tr>
			</tbody>
		</table>
		<div class="loader-overlay">
			<span class="loader loader-large"></span>
		</div>
	</div>
</section>