<section class="css-reference">
	<h5>Column for table without data</h5>
  <pre>
    <style data-selector=".table-no-data tbody > tr td"></style>
  </pre>
</section>
<section class="tables-basic-example">
	<p>Display a message at the center of the table.</p>
	<ul>
		<li>Use two rows for the table content  if the table is not set for full-page display.</li>
	</ul>
	<table class="table table-bordered table-no-data">
		<thead>
			<tr>
				<th>Deployment Plan</th>
				<th>Type</th>
				<th>Appliance</th>
				<th>Deployed</th>
				<th>Creator</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="5">No data to display</td>
			</tr>
		</tbody>
	</table>
</section>