<section class="css-reference">
  <h5>Query builder container</h5>
  <pre>
    <style data-selector=".query-builder"></style>
  </pre>
  <h5>Query builder operator</h5>
  <pre>
    <style data-selector=".query-builder-operator"></style>
  </pre>
  <h5>Query builder item container</h5>
  <pre>
    <style data-selector=".query-builder-item"></style>
  </pre>
  <pre data-title="active status">
    <style data-selector=".query-builder-item-active"></style>
  </pre>
  <h5>Query builder item</h5>
  <pre>
    <style data-selector=".query-builder-item > div"></style>
  </pre>
  <pre data-title="Operator">
    <style data-selector=".query-builder-item-operator"></style>
    <style data-selector=".query-builder-item:first-child .query-builder-item-operator">Hide the operator when it is in the first query builder</style>
  </pre>
  <pre data-title="Drop-down component">
    <style data-selector=".query-builder-item-field"></style>
  </pre>
  <pre data-title="Input field">
    <style data-selector=".query-builder-item-input"></style>
  </pre>
  <pre data-title="Delete icon">
    <style data-selector=".query-builder-item-remove"></style>
  </pre>
  <h5>Badge</h5>
  <p>For more information on badge style and state, see <a href="#/styles/{{theme}}/{{version}}/37a6f43e-9194-4b29-94ad-e54bbc3f1b38">Labels & Badges</a>.</p>
  <pre>
    <style data-selector=".query-builder-item-operator-badge"></style>
  </pre>
  <h5>Drop-down</h5>
  <p>For more information on drop-down component style and state, see <a href="#/styles/{{theme}}/{{version}}/c30559fc-1076-4d01-a05a-ea5ef0b20f69">Drop-downs</a>.</p>
  <pre>
    <style data-selector=".query-builder-item-field > .dropdown"></style>
  </pre>
  <h5>Input field</h5>
  <p>For more information on input style and state, see <a href="#/styles/{{theme}}/{{version}}/206355af-1c26-49d7-b878-d3d6f094990f">Form Elements</a>.</p>
  <h5>Tokens</h5>
  <p>For more information on token style and state, see <a href="#/styles/{{theme}}/{{version}}/73243502-1317-451b-b3c9-e75f7e5fab81">Tags & Tokens</a>.</p>
  <h5>Delete icon</h5>
  <pre>
    <style data-selector=".tmicon"></style>
    <style data-selector=".tmicon-close-s:before">::before</style>
  </pre>
  <pre data-title=":hover">
    <style data-selector=".tmicon.tmicon-hoverable:hover"></style>
    <style data-selector=".query-builder-remove-item"></style>
  </pre>
</section>

<section>
  <div class="query-builder"></div>
  <div class="query-builder-placeholder"></div>
</section>