<section class="css-reference">
  <h5>Input group container</h5>
  <p>Create the container class, and wrap the drop-down, input, and button with a <code data-tag="div"></code> element. For example, <code>.input-group</code> is used in Bootstrap.</p>
  <pre>
    <style data-selector=".input-group"></style>
  </pre>

  <h5>Input with form controls</h5>
  <p>For details on styles and statuses of inputs, refer to <a href="#/styles/{{theme}}/{{version}}/206355af-1c26-49d7-b878-d3d6f094990f">Form Elements</a>.</p>
  <pre>
    <style data-selector=".input-group .form-control"></style>
  </pre>
  <pre data-title=":hover or :focus">
    <style data-selector=".input-group .form-control:hover"></style>
  </pre>
  <pre data-title=":first-child">
    <style data-selector=".input-group .form-control:first-child"></style>
  </pre>
  <pre data-title=":last-child:not(:first-child)">
    <style data-selector=".input-group .form-control:last-child:not(:first-child)"></style>
  </pre>
  <pre data-title=":not(:first-child):not(:last-child)">
    <style data-selector=".input-group .form-control:not(:first-child):not(:last-child)"></style>
  </pre>

  <h5>Input group container with button</h5>
  <pre>
    <style data-selector=".input-group-btn">Use span element to wrap the button</style>
  </pre>
  <h5>Wrapped button</h5>
  <p>For details on button styles, refer to <a href="#/styles/{{theme}}/{{version}}/e5bd7778-d707-420b-ac64-4a55da161b83">Buttons</a>.</p>
  <pre data-title="Button class">
    <style data-selector=".input-group-btn > .btn"></style>
  </pre>
  <pre data-title=":focus :active">
    <style data-selector=".input-group-btn > .btn:focus"></style>
  </pre>
  <pre data-title=":first-child">
    <style data-selector=".input-group-btn:first-child > .btn">Negative margin to only have a 1px border between the two</style>
  </pre>
  <pre data-title=":last-child">
    <style data-selector=".input-group-btn:last-child > .btn"></style>
  </pre>

  <h5>Input group container with dropdown</h5>
  <pre>
    <style data-selector=".input-group-btn">Use div element to wrap the dropdown</style>
  </pre>
  <h5>Wrapped dropdown</h5>
  <p>For details on drop-down control styles, refer to <a href="#/styles/{{theme}}/{{version}}/c30559fc-1076-4d01-a05a-ea5ef0b20f69">Drop-downs</a>.</p>
  <pre data-title="Dropdown toggle">
    <style data-selector=".input-group-btn > .btn"></style>
  </pre>
  <pre data-title=":focus :active">
    <style data-selector=".input-group-btn > .btn:focus"></style>
  </pre>
  <pre data-title=":first-child">
    <style data-selector=".input-group-btn:first-child > .dropdown-toggle">Negative margin to only have a 1px border between the two</style>
  </pre>
  <pre data-title=":last-child">
    <style data-selector=".input-group-btn:last-child > .dropdown-toggle"></style>
  </pre>
  <pre data-title="Dropdown caret">
    <style data-selector=".input-group-btn .dropdown-toggle .tmicon-caret-down">Put the caret icon behind the text</style>
  </pre>
</section>
<section class="form-input-groups-example action">
  <p>Extend the input by adding buttons, drop-down menus, or both to the front, the end, or both sides of a search box to guide users&apos; search action.</p>

	<ul class="description">
		<li>Use the default button style for the action button, which is the most important button in an input group. You may also use the primary or emphasis style for emphasis.</li>
    <li>If a drop-down menu exists to the front of the search box, and an option has been specified, the input should be focused.</li>
	</ul>
    <h5>Button addon</h5>
	  <div class="input-group">
      <input type="text" class="form-control" placeholder="Case name">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-icon-only"><span class="tmicon tmicon-search-o"></span></button>
      </span>
    </div><!-- /input-group -->
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">Action</button>
      </span>
    </div><!-- /input-group -->
    <h5>Drop-down menu addon</h5>
    <div class="input-group">
      <div class="input-group-btn">
        <button class="btn btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
            Sample<span class="tmicon tmicon-caret-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Menu item one</a></li>
            <li><a href="javascript:;">Menu item two</a></li>
            <li><a href="javascript:;">Menu item three</a></li>
            <li><a href="javascript:;">Menu item four</a></li>
          </ul>
      </div>
      <input type="text" class="form-control">
    </div>
    <div class="input-group">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button class="btn btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
            Sample<span class="tmicon tmicon-caret-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Menu item one</a></li>
            <li><a href="javascript:;">Menu item two</a></li>
            <li><a href="javascript:;">Menu item three</a></li>
            <li><a href="javascript:;">Menu item four</a></li>
          </ul>
      </div>
    </div>
    <h5>Button and drop-down menu addon</h5>
    <div class="input-group hostName">
      <div class="input-group-btn">
        <button class="btn btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
            Host name<span class="tmicon tmicon-caret-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Host name</a></li>
            <li><a href="javascript:;">IP address</a></li>
            <li><a href="javascript:;">Asset tag</a></li>
          </ul>
      </div>
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default ">Action</button>
      </span>
    </div><!-- /input-group -->
</section>