<section class="css-reference">
  <h5>Touchspin container</h5>
  <p>Create the container class, and wrap the input and button with a <code data-tag="div"></code> element. For example, <code>.input-group</code> is used in Bootstrap.</p>
  <pre>
    <style data-selector=".input-group"></style>
  </pre>

  <h5>Input with form controls</h5>
  <p>For details on styles and statuses of inputs, refer to <a href="#/styles/{{theme}}/{{version}}/206355af-1c26-49d7-b878-d3d6f094990f">Form Elements</a>.</p>
  <pre>
    <style data-selector=".input-group .form-control"></style>
  </pre>
  <pre data-title=":first-child">
    <style data-selector=".input-group .form-control:first-child"></style>
  </pre>
  <pre data-title=":last-child:not(:first-child)">
    <style data-selector=".input-group .form-control:last-child:not(:first-child)"></style>
  </pre>
  <pre data-title=":not(:first-child):not(:last-child)">
    <style data-selector=".input-group .form-control:not(:first-child):not(:last-child)"></style>
  </pre>

  <h5>Touchspin container with vertical buttons</h5>
  <pre>
    <style data-selector=".input-group .btn-group-vertical">Use div element to wrap the buttons</style>
  </pre>
  <pre>
    <style data-selector=".btn-group-vertical"></style>
  </pre>
  <h5>Wrapped vertical buttons</h5>
  <p>For details on button styles, refer to <a href="#/styles/{{theme}}/{{version}}/e5bd7778-d707-420b-ac64-4a55da161b83">Buttons</a>.</p>
  <pre data-title="Button class">
    <style data-selector=".input-group .btn-group-vertical .btn"></style>
  </pre>
  <pre data-title="Button class">
    <style data-selector=".input-group .btn-group-vertical .btn + .btn">.btn + .btn</style>
  </pre>

  <h5>States for touchspin container with vertical buttons</h5>
  <pre data-title="Focused input with form controls">
    <style data-selector=".touchspin.vertical.focused .form-control"></style>
  </pre>
  <pre data-title="Focused angle up button">
    <style data-selector=".touchspin.vertical.focused .btn:first-child"></style>
    <style data-selector=".touchspin.vertical.focused .btn:first-child:hover">:hover</style>
    <style data-selector=".touchspin.vertical.focused .btn:first-child:focus">:focus</style>
    <style data-selector=".touchspin.vertical.focused .btn:first-child:focus:hover">:focus:hover</style>
  </pre>
  <pre data-title="Angle down button">
    <style data-selector=".touchspin.vertical.focused .btn:last-child"></style>
    <style data-selector=".touchspin.vertical.focused .btn:last-child:hover">:hover</style>
    <style data-selector=".touchspin.vertical.focused .btn:last-child:focus">:focus</style>
    <style data-selector=".touchspin.vertical.focused .btn:last-child:focus:hover">:focus:hover</style>
  </pre>
  <h5>States for touchspin container with incrementer</h5>
  <pre data-title="Input with form controls">
    <style data-selector=".touchspin.horizontal.focused .form-control"></style>
  </pre>
  <pre data-title="Minus button">
    <style data-selector=".touchspin.horizontal.focused .input-group-btn:first-child .btn"></style>
    <style data-selector=".touchspin.horizontal.focused .input-group-btn:first-child .btn:hover">:hover</style>
    <style data-selector=".touchspin.horizontal.focused .input-group-btn:first-child .btn:focus:hover">:focus:hover</style>
  </pre>
  <pre data-title="Plus button">
    <style data-selector=".touchspin.horizontal.focused .input-group-btn:last-child .btn"></style>
    <style data-selector=".touchspin.horizontal.focused .input-group-btn:last-child .btn:hover">:hover</style>
    <style data-selector=".touchspin.horizontal.focused .input-group-btn:last-child .btn:focus:hover">:focus:hover</style>
  </pre>
</section>

<section class="form-input-groups-example">
  <p>A touchspin should support controls using the mouse wheel and the UP and DOWN keys. You can set a maximum limit for the input.</p>

    <div class="input-group touchspin vertical">
      <input type="text" class="form-control" value="0">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-border btn-icon-only" data-touchspin="vertical"><span class="tmicon tmicon-chevron-up"></span></button>
        <button type="button" class="btn btn-border btn-icon-only" data-touchspin="vertical"><span class="tmicon tmicon-chevron-down"></span></button>
      </div>
    </div><!-- /input-group -->

    <div class="input-group touchspin horizontal">
      <span class="input-group-btn">
        <button type="button" class="btn btn-border btn-icon-only" data-touchspin="horizontal"><span class="tmicon tmicon-minus"></span></button>
      </span>
      <input type="text" class="form-control" value="0">
      <span class="input-group-btn">
        <button type="button" class="btn btn-border btn-icon-only" data-touchspin="horizontal"><span class="tmicon tmicon-add"></span></button>
      </span>
    </div><!-- /input-group -->

</section>