<section class="css-reference">
  <h5>Crosshair</h5>
  <p>Crosshair on xaxis</p>
  <pre>
     <style data-selector=".style-portal .highcharts .axis.xAxis.crosshair"></style>
  </pre>
  <h5>Tooltip Wrapper in Stacked Area Chart</h5>
  <pre>
     <style data-selector=".style-portal .highcharts .area-tooltips"></style>
  </pre>
  <h5>Carat</h5>
  <pre>
     <style data-selector=".legend-page .tmicon"></style>
  </pre>
  <pre data-title="Caret up">
     <style data-selector=".legend-page .tmicon-caret-up"></style>
  </pre>
  <pre data-title="Caret down">
     <style data-selector=".legend-page .tmicon-caret-down"></style>
  </pre>
  <pre data-title="Unable state:">
     <style data-selector=".legend-page .unable"></style>
  </pre>
</section>

<section class="area-charts-example scroll-area-chart">
	<div id="scroll-area-container" class="chart-container area-chart-container"></div>
	<section class="legend">
        <ul></ul>
        <div class="legend-page"><i class="tmicon tmicon-caret-up"></i><span class="now"></span> / <span class="total"></span><i class="tmicon tmicon-caret-down"></i></div>
    </section>
</section>