<section class="css-reference">
	<h3>A hovered table row</h3>
  	<pre>
    	<style data-selector=".table-hover > tbody > tr:hover">:hover</style>
  	</pre>
</section>

<section class="tables-basic-example">
	<p>Change the color of a table row when the user hovers over any part of that row for readability.</p>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Deployment Plan</th>
				<th>Type</th>
				<th>Appliance</th>
				<th>Deployed</th>
				<th>Creator</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hotfix_DDEI</td>
				<td>Hotfix</td>
				<td>8</td>
				<td>2016-06-02 23:15:00</td>
				<td>Administrator</td>
			</tr>
			<tr>
				<td>Hotfix_DDI_01</td>
				<td>Virtual Analyzer image</td>
				<td>12</td>
				<td>2016-04-18 23:17:20</td>
				<td>Administrator</td>
			</tr>
			<tr>
				<td>TW_Patch_01_DDI</td>
				<td>Firmware</td>
				<td>29</td>
				<td>2016-04-17 21:20:18</td>
				<td>Operator</td>
			</tr>
		</tbody>
	</table>
</section>