<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard - Enterprise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- <link href="../../css/main.css" rel="stylesheet"> -->
    <link
      href="../../../public/themes/minimalism/1.20.0/light/css/main.css"
      rel="stylesheet"
    />
    <link href="css/index.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/assets/img/logo-apple-touch-icon-144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/assets/img/logo-apple-touch-icon-114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/assets/img/logo-apple-touch-icon-72.png"
    />
    <link rel="shortcut icon" href="/assets/img/logo_32.png" />
    <!-- customized style -->
  </head>
  <body>
    <div class="wrapper">
      <header class="site-header header-with-navbar">
        <div class="banner">
          <div class="brand-logo"></div>
          <h1 class="site-title">Product Name</h1>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="notification-badge-contianer">
                <span class="tmicon tmicon-alert"></span>
                <span class="badge badge-red">1</span>
              </span>
            </a>
            <div class="notification-popup-wrapper">
              <div class="header">Notifications</div>
              <div class="notification-container mCustomScrollbar mCustomScrollbar-dragger-hover">
                <div class="item item-announce unread">Apex Central as a Service to be offline for 1 hour tomorrow (2019-04-16)</div>
                <div class="item item-news">
                  <div class="item-title">API Automation Center</div>
                  Present details of Apex Central API endpoints, including parameter descriptions, request and response schemas, and language-specific SDK.
                </div>
                <div class="item item-hotfix">
                  <div class="item-title">Hotfix</div>
                  Present details of Apex Central API endpoints, It has roots in a piece of classical.
                  <div><a>See details</a></div>
                </div>
              </div>
              <div class="footer">Last updated: 2019-04-15 00:00:00</div>
            </div>
          </li>
          <li class="dropdown">
            <a
              href="javascript:;"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="tmicon tmicon-user"></span>Admin_TW<span
                class="tmicon tmicon-caret-down"
              ></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Change Password</a></li>
              <li><a href="javascript:;">Log off</a></li>
            </ul>
          </li>
        </ul>
      </header>
      <nav class="navbar navbar-default">
        <div class="navbar-header" style="margin-left: -73px;">
          <a class="navbar-brand" href="javascript:;">
            <span class="icon icon-t-ball"></span>
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="javascript:;">Dashboard</a>
          </li>
          <li class="dropdown">
            <a
              href="javascript:;"
              class="dropdown-toggle"
              data-tofggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Detections <span class="tmicon tmicon-caret-down"></span
            ></a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a
              href="javascript:;"
              class="dropdown-toggle"
              data-tofggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Threat Intelligence <span class="tmicon tmicon-caret-down"></span
            ></a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a
              href="javascript:;"
              class="dropdown-toggle"
              data-tfoggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Appliances <span class="tmicon tmicon-caret-down"></span
            ></a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Alerts</a>
          </li>
          <li class="dropdown">
            <a
              href="javascript:;"
              class="dropdown-toggle"
              data-tofggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Addministration <span class="tmicon tmicon-caret-down"></span
            ></a>
            <ul class="dropdown-menu open">
              <li><a href="javascript:;">Menu item one</a></li>
              <li><a href="javascript:;">Menu item two</a></li>
              <li><a href="javascript:;">Menu item three</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Help</a>
          </li>
        </ul>
      </nav>
      <div class="dashboard-tabs clearfix">
        <ul class="nav nav-pills nav-pills-horizontal">
          <li class="active">
            <a href="#Item1" aria-controls="Item1" role="tab" data-toggle="tab">Summary</a>
            <div class="tab-actions dropdown">
              <span class="tmicon tmicon-angle-down tmicon-hoverable" data-toggle="dropdown" role="button"></span>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">Rename</a></li>
                <li><a href="javascript:;">Delete</a></li>
                <li><a href="javascript:;">Add widget</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#Item2" aria-controls="Item2" role="tab" data-toggle="tab">Page 1</a>
            <div class="tab-actions dropdown">
              <span
                class="tmicon tmicon-angle-down tmicon-hoverable"
                data-toggle="dropdown"
                role="button"
              ></span>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">Rename</a></li>
                <li><a href="javascript:;">Delete</a></li>
                <li><a href="javascript:;">Add widget</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="dashboard-add-page">
          <span class="tmicon tmicon-add tmicon-hoverable" role="button"></span>
        </div>
        <div class="dashboard-setting pull-right dropdown">
          <span
            class="tmicon tmicon-settings tmicon-hoverable"
            data-toggle="dropdown"
            role="button"
          ></span>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:;"
                ><span class="tmicon tmicon-app"></span>Add widgets</a
              >
            </li>
            <li>
              <a href="javascript:;"
                ><span class="tmicon tmicon-add"></span>Create new widget</a
              >
            </li>
            <li>
              <a href="javascript:;"
                ><span class="tmicon tmicon-help"></span>Help</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div id="Item1" role="tabpanel" class="tab-pane clearfix active">
          <div id="summary-1" class="widget col-lg-6">
            <div class="widget-container">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-body"></div>
            </div>
          </div>
          <div id="summary-2" class="widget col-lg-6">
            <div class="widget-container">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-body">
              </div>
            </div>
          </div>
          <div id="chart-1" class="widget col-lg-6">
            <div class="widget-container row-lg-7">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-header">
                <h3>Threat Summary</h3>
                <div class="widget-header-right">
                  <span class="widget-info">Last updated: 2019-04-22 14:06</span
                  ><span class="widget-actions tmicon tmicon-more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></span>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;"><i class="tmicon tmicon-refresh"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-edit"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-delete"></i></a></li>
                  </ul>
                </div>
                <ul></ul>
              </div>
              <div class="widget-body"></div>
            </div>
          </div>
          <div id="chart-2" class="widget col-lg-6">
            <div class="widget-container row-lg-7">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-header">
                <h3>Malicious Scanned Network Traffic</h3>
                <div class="widget-header-right">
                  <span class="widget-info">Last updated: 2019-04-22 14:06</span
                  ><span class="widget-actions tmicon tmicon-more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></span>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;"><i class="tmicon tmicon-refresh"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-edit"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-delete"></i></a></li>
                  </ul>
                </div>
                <ul></ul>
              </div>
              <div class="widget-body"></div>
            </div>
          </div>
          <div id="chart-3" class="widget col-lg-6">
            <div class="widget-container row-lg-7">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-header">
                <h3>Email Message Detection Summary</h3>
                <div class="widget-header-right">
                  <span class="widget-info">Last updated: 2019-04-22 14:06</span
                  ><span class="widget-actions tmicon tmicon-more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></span>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;"><i class="tmicon tmicon-refresh"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-edit"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-delete"></i></a></li>
                  </ul>
                </div>
                <ul></ul>
              </div>
              <div class="widget-body"></div>
            </div>
          </div>
          <div id="chart-4" class="widget col-lg-6">
            <div class="widget-container row-lg-7">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-header">
                <h3>Email Message Advanced Threat Indicator</h3>
                <div class="widget-header-right">
                  <span class="widget-info">Last updated: 2019-04-22 14:06</span
                  ><span class="widget-actions tmicon tmicon-more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></span>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;"><i class="tmicon tmicon-refresh"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-edit"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-delete"></i></a></li>
                  </ul>
                </div>
                <ul></ul>
              </div>
              <div class="widget-body"></div>
            </div>
          </div>
          <div id="chart-5" class="widget col-lg-12">
            <div class="widget-container row-lg-7">
              <div class="loader-overlay">
                  <span class="loader loader-large"></span>
              </div>
              <div class="widget-header">
                <h3>Scanned Traffic by Protocol Type</h3>
                <div class="widget-header-right">
                  <span class="widget-info">Last updated: 2019-04-22 14:06</span
                  ><span class="widget-actions tmicon tmicon-more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></span>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;"><i class="tmicon tmicon-refresh"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-edit"></i></a></li>
                    <li><a href="javascript:;"><i class="tmicon tmicon-delete"></i></a></li>
                  </ul>
                </div>
                <ul></ul>
              </div>
              <div class="widget-body"></div>
            </div>
          </div>
        </div>
        <div id="Item2" role="tabpanel" class="tab-pane clearfix widget-empty">
            <div class="widget col-lg-12">
                <div class="widget-container row-lg-5">
                  <div class="add-widget">
                    <i class="add-widget-icon"></i>
                    <span>Add a widget</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Le javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.6/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
