<section class="css-reference">
  <h5>Inline form class</h5>
  <p>Use a form class on a block-level element. For example, <code>.form-inline</code> is used as an inline form class in Bootstrap.</p>

  <h5>Inline form group class</h5>
  <p>Use a block-level element to wrap form control and labels. For example, <code>.form-group</code> is used as a form group class in Bootstrap.</p>
  <pre>
    <style data-selector=".form-inline .form-group"></style>
  </pre>

  <h5>Label class for inline forms</h5>
  <pre>
    <style data-selector=".form-inline .form-group > label"></style>
    <style data-selector=".form-inline .control-label"></style>
  </pre>

  <h5>Inputs with form control</h5>
  <p>For details on styles and statuses of inputs, refer to <a href="#/styles/{{theme}}/{{version}}/206355af-1c26-49d7-b878-d3d6f094990f">Form Elements</a>.</p>
  <pre>
    <style data-selector=".form-inline .form-control"></style>
  </pre>
</section>

<section class="form-layout-example form-layout-inline-example">
  <p>Multiple input fields can be placed on the same line. Use inline forms when you expect short inputs.</p>
	<form class="form-inline" action="javascript:void(0)">
	  <div class="form-group">
	    <label class="control-label" for="nameInput">Name:</label>
	    <input type="text" class="form-control" id="nameInput">
	  </div>
	  <div class="form-group">
	    <label class="control-label" for="emilInput">Email:</label>
	    <input type="text" class="form-control" id="emilInput">
	  </div>
	  <button class="btn btn-primary">Submit</button>
	</form>
</section>