<section class="css-reference">
  <h5>Progress bar colors</h5>
  <p>Extend the determinate indicator class to define alternative colors.</p>
  <pre data-title="Default color">
    <style data-selector=".progress-bar-info"></style>
  </pre>
  <pre data-title="Emphasis color">
    <style data-selector=".progress-bar-danger"></style>
  </pre>
</section>
<section class="progress-bar-color-example">
  <p>It is recommended to use colors specified below, but you can use any color suited to the operation at hand.</p>
  <div class="lists-unordered">
    <ul>
      <li><strong>Default:</strong> This is the recommended color for default operations.</li>
      <li><strong>Emphasis:</strong> This is the color when emphasis or branding is required.</li>
    </ul>
  </div>
  <div class="progress-warpper">
    <div class="progress-container">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        </div>
      </div>
    </div>
  </div>
</section>