<section>
  <p>A progress bar is a type of indicator that is used to inform the user that an extended operation is in progress. Access to other functionalities of the user interface may be blocked while a progress bar is displayed.</p>
  <div class="lists-unordered">
    <ul>
      <li><strong>Progress description:</strong> A static description like "Loading image…", or a dynamic description like "Loading update 2 of 5" may be added.</li>
      <li><strong>Layout:</strong> A textual representation of the progress may be displayed behind the progress bar.</li>
    </ul>
  </div>
</section>