<section class="css-reference">
  <p>Adjust the badge position and spacing as specified.</p>
  <pre>
    <style data-selector=".dropdown-menu .badge"></style>
  </pre>
</section>

<section class="dropdown-example">
  <p>Drop-down menus can contain badges.</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="tmicon tmicon-caret-down"></span>Default
      </button>

      <ul class="dropdown-menu" style="width: 176px;">
        <li><a href="javascript:;"><span class="badge badge-green">4</span>Menu item one</a></li>
        <li><a href="javascript:;"><span class="badge badge-orange">2</span>Menu item two</a></li>
        <li><a href="javascript:;"><span class="badge badge-red">10</span>Menu item three</a></li>
      </ul>
    </div>
  </p>
</section>