<section class="css-reference">
  <p>Add the divider class to <code data-tag="li"></code> elements. E.g. <code>.divider</code></p>
  <pre>
    <style data-selector=".dropdown-menu .divider"></style>
  </pre>
</section>

<section class="dropdown-example">
  <p>Use dividers to separate sets of drop-down options.</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="tmicon tmicon-caret-down"></span>Select an option
      </button>

      <ul class="dropdown-menu">
        <li><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript:;">Separated menu item four</a></li>
      </ul>
    </div>
  </p>
</section>