<section class="css-reference">
  <h5>Outer drop-down menu</h5>
  <p>Wrap the entire drop-down menu within a <code data-tag="div"></code> element. E.g. <code>.dropdown-menu</code></p>
  <pre data-title="Unset inner spacing">
    <style data-selector=".dropdown-filter > .dropdown-menu"></style>
  </pre>

  <h5>Filter input</h5>
  <p>Wrap the input group within a <code data-tag="div"></code> element. Please refer to <a href="#/styles/{{theme}}/{{version}}/4ec8071d-3dc0-4c63-90d7-9b41cb87a423">Input Groups</a>.</p>
  <pre>
    <style data-selector=".dropdown-menu-filter"></style>
  </pre>

  <h5>Height-limited drop-down menu</h5>
  <p>Wrap the menu item part of the drop-down menu within a <code data-tag="div"></code> element and specify its height.</p>
  <pre>
    <style data-selector=".dropdown-menu-scrollable"></style>
  </pre>

  <h5>Inner drop-down menu</h5>
  <p>Replace the default style of the drop-down menu which is under a height-limited <code data-tag="div"></code>.</p>
  <pre>
    <style data-selector=".dropdown-menu-scrollable .dropdown-menu"></style>
  </pre>
</section>

<section class="dropdown-example">
  <p>Drop-down menus can contain a search field.</p>
  <p>
    <div class="dropdown dropdown-filter open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="tmicon tmicon-caret-down"></span>Sample
      </button>

      <div class="dropdown-menu">
        <div class="input-icon-group dropdown-menu-filter">
          <input id="filter" type="text" class="form-control" placeholder="Search...">

          <label class="input-icon-label" for="filter">
            <i class="tmicon tmicon-search-o"></i>
          </label>
        </div>

        <div class="dropdown-menu-scrollable mCustomScrollbar mCustomScrollbar-dragger-hover">
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Menu item one</a></li>
            <li><a href="javascript:;">Menu item two</a></li>
            <li><a href="javascript:;">Menu item three</a></li>
            <li><a href="javascript:;">Menu item four</a></li>
            <li><a href="javascript:;">Menu item five</a></li>
            <li><a href="javascript:;">Menu item six</a></li>
            <li><a href="javascript:;">Menu item seven</a></li>
            <li><a href="javascript:;">Menu item eight</a></li>
            <li><a href="javascript:;">Menu item nine</a></li>
            <li><a href="javascript:;">Menu item ten</a></li>
          </ul>
        </div>
      </div>
    </div>
  </p>
</section>