<section class="css-reference">
  <h5>Headers</h5>
  <p>Add the header class to <code data-tag="li"></code> elements. E.g. <code>.dropdown-header</code></p>
  <pre>
    <style data-selector=".dropdown-header"></style>
  </pre>

  <h5>Drop-down menu item indention after header</h5>
  <pre>
    <style data-selector=".dropdown-header ~ li > a"></style>
  </pre>
</section>

<section class="dropdown-example">
  <p>Separate different sets of options with all-cap headings.</p>
  <p>
    <div class="dropdown open">
      <button class="btn btn-border dropdown-toggle" type="button">
        <span class="tmicon tmicon-caret-down"></span>Select an option
      </button>

      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="javascript:;">Menu item one</a></li>
        <li><a href="javascript:;">Menu item two</a></li>
        <li><a href="javascript:;">Menu item three</a></li>
        <li class="dropdown-header">Dropdown header</li>
        <li><a href="javascript:;">Menu item five</a></li>
        <li><a href="javascript:;">Menu item six</a></li>
      </ul>
    </div>
  </p>
</section>