.table-single-field-edit-example .table-edit > tbody > tr td.edit-cell .editable-inline .form-group .form-invalid {
	border-color: #db3d44;
}
.table-single-field-edit-example .edit-cell .editable {
	outline: none;
}
.table-edit.single-field-validation > tbody > tr td.edit-cell .editable-inline .form-group > div .editable-input {
	height: 32px;
}