<section class="color-example">
  <p>These are the main colors used in the user interface, interaction elements, and states. Do not use any shades, tints, or other derivatives of these colors.</p>
	<div class="colors-container">
		<div class="colors-palette">
			<div class="colors-circle colors-dark" style="background-color: #222;">#222222</div>
			<div class="colors-circle" style="background-color: #eee;">#EEEEEE</div>
			<div class="colors-circle colors-dark" style="background-color: #db3d44;">#DB3D44</div>
			<div class="colors-circle colors-dark" style="background-color: #0096cc;">#0096CC</div>		
		</div>
	</div>
</section>