<section class="color-example">
  <h6>Icon gird</h6>
  <p>
    Design icons on a simple geometric grid to ensure icon consistency and visual balance. Use a 16-pixel grid to design a system icon set.
  </p>
  <div class="placeholder" data-type="image" data-class="sketch" data-src="images/icon-grid.png" data-alt="Icon grid" data-height="280"></div>

  <h6>Icon shapes</h6>
  <p>
    To create icons on a gird, use basic shapes (such as circles, horizontal and vertical rectangles, and squares). Ensure that you use the same basic shape to maintain consistent proportions when designing an icon set.<br>
    The following shows the dimensions of sample 16-pixel icons on a 16-pixel grid:
  </p>
  <ul>
    <li>Circles: 16 x 16 px</li>
    <li>Squares: 14 x 14 px</li>
    <li>Horizontal rectangles: 12 x 16 px</li>
    <li>Vertical rectangles: 16 x 12 px</li>
  </ul>
  <div class="placeholder" data-type="image" data-class="sketch" data-src="images/icon-shapes.png" data-alt="Icon shapes" data-height="150"></div>

  <p>The following are the dimensions of sample 32-pixel icons on a 32-pixel grid:</p>
  <ul>
    <li>Circles: 32 x 32 px</li>
    <li>Squares: 28 x 28 px</li>
    <li>Horizontal rectangles: 24 x 32 px</li>
    <li>Vertical rectangles: 32 x 24 px</li>
  </ul>

  <h6>Line weight</h6>
  <p>
    16-pixel icon is the default small icon size. The normal line weight or thickness is 1px. Depending on the design object, you can set the line weight to 2px for emphasis.<br>
    For 32-pixel icons, increase the normal line weight to 2px.
  </p>

  <h6>Icon colors</h6>
  <p>
    Use icon font to set the colors for system icons.<br/>
    Use gray (#BBBBBB) for normal display and white (#FFFFFF) for rollover.
  </p>
  <div class="icon-colors">
    <div class="icon-color">
      <span class="tmicon tmicon-calendar"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-calendar tmicon-hoverable hover"></span>
      <div class="color-code"></div>
    </div>
  </div>

  <p>
    Change color of icon font using CSS color codes.<br/>
    For example, change the colors for severity icons to indicate risk or severity levels (high, medium, low, safe, and info).<br/>
    The following shows the color codes for severity icons:
  </p>
  <div class="icon-colors">
    <div class="icon-color">
      <span class="tmicon tmicon-error tmicon-color-error"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-warning-circle tmicon-color-warning"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-low tmicon-color-notice"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-unavailable tmicon-color-notice"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-success tmicon-color-success"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-info tmicon-color-info"></span>
      <div class="color-code"></div>
    </div>
    <div class="icon-color">
      <span class="tmicon tmicon-unknow tmicon-color-info"></span>
      <div class="color-code"></div>
    </div>
  </div>

  <h6>Border radius</h6>
  <p>
    Specify the outside border radius to create rounded border corners for user-friendly appearance and design consistency.
  </p>
  <ol>
    <li>Set outside border radius to 1px for 16-pixel icons, or to 2px for 32-pixel icons.</li>
    <li>Do not set the inside border radius. The inner corner should be a square.</li>
    <li>Do not set the radius for the end of a line.</li>
  </ol>
  <div class="placeholder" data-type="image" data-class="sketch" data-src="images/border-radius.png" data-alt="Border radius" data-height="174"></div>

  <h6>Icon sizes</h6>
  <p>
    Design icons with equal width and height (for example, 16 x 16 px) to prevent distortion.<br>
    For consistency and ease of maintenance, create icons based on common sizes (for example, 16 x 16 px, 24 x 24 px, 32 x 32 px). You may design icons of other sizes depending on the product specifications.
  </p>

  <h6>Format</h6>
  <p>
    For system icons, use Icon Font. Use the SVG format if an icon is bigger than 32 pixels or contains more than one color.<br>
    If your product supports older web browser versions (for example, Internet Explorer 8 or earlier), provide PNG files.
  </p>
</section>