<section class="color-example">
  <p>Icons provide the visual context and enhance usability. Use icons to represent severity or risk levels, common actions, file types, devices, or directories.</p>
  <ul>
    <li>Simple, intuitive icons present information that is easy to understand.</li>
    <li>Product UIs should display icons with consistent style and meaning.</li>
    <li>Use only whole numbers to specify icons settings (for example, dimensions, size, position coordinates, stroke width, etc.)</li>
    <li>Ensure readability and clarity when resizing icons.</li>
    <li>To enhance accessibility and for people with color vision deficiencies, use symbols to differentiate icons.</li>
  </ul>

  <h6>System icons</h6>
  <p>
    Use system icons to represent common actions (for example, edit, delete, and search), file types, or states.<br>
    You can use system icons in toolbars or tables. System icons are usually monochrome icons. It is recommended to use the <a href="#/styles/{{theme}}/{{version}}/1811bd76-57b6-4fb9-930f-b6899313fa41">TMicon font</a>.
  </p>
  <div class="clearfix icon-list">
    <span class="tmicon tmicon-edit"></span>
    <span class="tmicon tmicon-search-o"></span>
    <span class="tmicon tmicon-user"></span>
    <span class="tmicon tmicon-check"></span>
    <span class="tmicon tmicon-close"></span>
    <span class="tmicon tmicon-email-o"></span>
    <span class="tmicon tmicon-file-o"></span>
    <span class="tmicon tmicon-file-image-o"></span>
  </div>

  <h6>Graphic icons</h6>
  <p>
    Use graphic icons to communicate feature concept or product service. Graphic icons help to enhance user memory and are often used on the Dashboard or What's New page.
  </p>
  <div class="placeholder" data-type="image" data-class="sketch" data-src="images/graphic-icons.png" data-alt="Graphic icons" data-height="64"></div>
</section>