<section class="css-reference">
  <p>Use ordered <code data-tag="ol"></code> or unordered <code data-tag="ul"></code> lists to implement breadcrumbs.</p>

  <h5>Breadcrumb class</h5>
  <p>Apply a breadcrumb class to <code data-tag="ol"></code> and <code data-tag="ul"></code>.</p>
  <pre>
    <style data-selector=".breadcrumb"></style>
  </pre>

  <h5>List items</h5>
  <pre data-title="li">
    <style data-selector=".breadcrumb > li">Breadcrumb list items</style>
  </pre>
  <pre data-title="Active item">
    <style data-selector=".breadcrumb > .active">To indicate current location</style>
  </pre>

  <h5>Hyperlinks</h5>
  <p>Wrap the text of a hyperlink level name with <code data-tag="a"></code> tags</p>
  <pre data-title="li > a">
    <style data-selector=".breadcrumb > li > a"></style>
  </pre>
  <pre data-title="li > a:hover, li > a:focus">
    <style data-selector=".breadcrumb > li > a:hover"></style>
  </pre>

  <h5>Separators</h5>
  <p>Type <code data-html=":before"></code> after an item to automatically insert a glyph symbol ( <b>›</b> ) to the front of that item.</p>
  <pre data-title="li + li:before">
    <style data-selector=".breadcrumb > li + li:before"></style>
  </pre>

  <h5>Breadcrumbs with a bottom line</h5>
  <p>To add a bottom line, extend the breadcrumb class with the following:</p>
  <pre>
    <style data-selector=".breadcrumb.with-line"></style>
  </pre>
</section>

<section>
    <div class="breadcrumb-example">
        <p>Breadcrumbs help users keep track of their locations within product consoles.</p>
        <ul class="description">
            <li>Use hyperlinks to display level names and separate them with a glyph symbol ( <strong>&#x203A;</strong> ).</li>
            <li>Display the current level as the last element and it should not be clickable.</li>
            <li>Depending on the needs of the product, previous levels of a breadcrumb may not always be clickable.</li>
        </ul>
        <ol class="breadcrumb">
          <li class="active">Agents</li>
        </ol>
        <ol class="breadcrumb">
          <li><a href="#">Agents</a></li>
          <li class="active">Firewall</li>
        </ol>
        <ol class="breadcrumb">
          <li>Agents</li>
          <li><a href="#">Firewall</a></li>
          <li class="active">Policies</li>
        </ol>
        <hr>
        <p>You may add a line under the breadcrumb trail.</p>
        <ol class="breadcrumb with-line">
          <li>Agents</li>
          <li><a href="#">Firewall</a></li>
          <li class="active">Policies</li>
        </ol>
    </div>
</section>